---
import DemoWrapper from "../../components/demo/DemoWrapper.astro";
import HeaderWrapper from "../../components/global/header/HeaderWrapper.astro";
import Section from "../../components/global/Section.astro";
import Chapter from "../../components/demo/Chapter.astro";
import ScrollArrow from "../../components/global/ScrollArrow.astro";
import InfoOverlay from "../../components/global/InfoOverlay.astro";

import { activitiesAssets } from "../../data";
import { audios } from "../../data";

const princes = [activitiesAssets.princesLection, activitiesAssets.lectionFull];
const maoChairs = [activitiesAssets.maoChairs];
---

<DemoWrapper>
  <!-- Chapter Intro -->
  <Chapter />

  <!-- Header -->
  <HeaderWrapper />

  <!-- Moscow -->
  <Section
    id="moscow"
    contentHeight="md:h-[120vh]"
    contentWidth="w-full"
    sectionSize="w-full h-[120vh]"
    sectionFlex="flex flex-col justify-center md:justify-start items-center"
  >
    <div class="flex h-full w-full flex-col items-center justify-between">
      <p
        class="mt-[15vh] max-w-xl self-end px-[2vh] text-center text-xl leading-normal md:mr-[10vh] md:px-0 md:text-right 2xl:mt-[20vh] 2xl:text-3xl"
      >
        Смерть Л. А. Перовского в 1856 году заставила Уварова покинуть Петербург и с 1857 года и до
        конца дней все планы и начинания он связал с Москвой.
      </p>
      <div
        id="moscow-bg"
        class="relative left-0 top-0 h-[50vh] w-full bg-[url('../data/biography/_images/activities/kremlin.png')] bg-cover bg-center bg-no-repeat md:h-[90vh]"
      >
      </div>
    </div>
  </Section>

  <!-- MAO Text 1 -->
  <Section
    id="mao-text-1"
    contentHeight="h-auto"
    sectionSize="w-full h-[90vh] 2xl:h-[60vh]"
    sectionFlex="flex flex-col justify-center"
  >
    <div
      class="flex flex-col justify-center gap-y-[10vh] text-lg leading-normal md:text-2xl 2xl:text-4xl 4xl:gap-y-[5vh]"
    >
      <p>
        Свой замысел о создании Московского Археологического общества (МАО) Уваров обнародовал 17
        февраля 1864 года.
      </p>
      <p>
        Программа Общества, ориентированная на изучение преимущественно русской археологии,
        популяризацию археологических и исторических знаний, ставила целью пробудить интерес к
        прошлому России и отечественным древностям.
      </p>
    </div>
  </Section>

  <!-- MAO Image 1 -->
  <div
    id="mao-image-1-bg"
    class="relative left-0 top-0 h-[70vh] w-full bg-[url('../data/biography/_images/activities/mao.png')] bg-cover bg-center bg-no-repeat opacity-0 transition-opacity duration-1000 md:h-[150vh]"
  >
    <Section
      id="mao-image-1"
      sectionSize="w-full h-[70vh] md:h-[150vh]"
      contentWidth="w-full"
      contentHeight="h-[70vh] md:h-[150vh]"
    />
  </div>

  <!-- MAO Text 2 -->
  <Section
    id="mao-text-2"
    contentHeight="h-auto"
    sectionSize="w-full h-[60vh] md:h-[80vh] 2xl:h-[50vh]"
    sectionFlex="flex flex-col justify-center"
  >
    <p class="px-[5%] text-lg leading-normal md:text-3xl 2xl:text-5xl">
      Уваров стремился привлечь в МАО всех интересующихся русской историей. Образование и сословная
      принадлежность не имели здесь решающего значения.
    </p>
    <div
      class="mt-10 flex w-full flex-col items-center justify-center gap-y-[1vh] text-center text-sm italic md:text-xl"
    >
      <p class="px-[10%] md:px-0">Из воспоминаний Прасковьи Сергеевны Уваровой. Часть 4</p>
      <audio controls class="mx-auto w-full md:w-[50%]">
        <source src={audios.audio4} type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
    </div>
  </Section>

  <!-- MAO Image 2 -->
  <div
    id="mao-image-2-bg"
    class="relative left-0 top-0 h-[70vh] w-full bg-[url('../data/biography/_images/activities/mao-bg.png')] bg-cover bg-center bg-no-repeat opacity-0 transition-opacity duration-1000 md:h-[120vh]"
  >
    <Section
      id="mao-image-2"
      sectionSize="w-full h-[70vh] md:h-[120vh]"
      sectionFlex="flex flex-col justify-center"
      contentHeight="h-auto"
    >
      <div class="flex h-full flex-col justify-center">
        <p class="max-w-6xl px-[5%] text-lg leading-normal md:text-4xl 2xl:max-w-full">
          Программа нового Общества, организационные принципы его деятельности привлекли к участию в
          нем профессоров Московского университета, литераторов, архитекторов, художников: среди них
          – Ф. И. Буслаев, С. М. Соловьев, И. Е. Забелин, М. П. Погодин, Л. В. Даль.
        </p>
      </div>
    </Section>
    <InfoOverlay
      contentType="image"
      images={maoChairs}
      overlayId="mao-chairs"
      iconPosition="absolute bottom-[5vh] left-1/2"
    />
  </div>

  <!-- Uvarov Medal -->
  <div
    id="uvarov-medal-bg"
    class="relative left-0 top-0 h-[90vh] w-full bg-[url('../data/biography/_images/activities/uvarov-medal-portait-vertical.png')] bg-contain bg-bottom bg-no-repeat opacity-0 transition-opacity duration-1000 md:h-[150vh] md:bg-[url('../data/biography/_images/activities/uvarov-medal-portait.png')] md:bg-cover md:bg-center"
  >
    <Section
      id="uvarov-medal"
      sectionSize="w-full h-[90vh] md:h-[150vh]"
      sectionFlex="flex flex-col justify-center"
      contentHeight="h-full md:h-[110vh]"
    >
      <div class="flex h-full flex-col items-start justify-between pt-[3vh] md:max-w-[50%] md:pt-0">
        <p class="flex-grow px-[5%] text-lg leading-normal md:flex-grow-0 md:text-xl 2xl:text-2xl">
          Поставив задачу поистине общенационального масштаба – обратить русское общество к своим
          истокам, Уваров не ограничил деятельность МАО лишь Москвой.
        </p>
        <img
          src={activitiesAssets.uvarovMedal.src}
          alt={activitiesAssets.uvarovMedal.alt}
          class="max-w-[45%]"
        />
        <img
          src={activitiesAssets.uvarovMedalBack.src}
          alt={activitiesAssets.uvarovMedalBack.alt}
          class="max-w-[45%] self-end md:max-w-[35%] md:self-center"
        />
      </div>
    </Section>
  </div>

  <!-- MAO Text 3 -->
  <Section
    id="mao-text-3"
    sectionSize="w-full h-[130vh] md:h-screen"
    contentHeight="h-auto md:h-[87vh]"
    sectionFlex="flex flex-col justify-center md:justify-end"
  >
    <div
      class="flex flex-col items-start justify-center gap-y-[8vh] px-[2%] text-sm leading-normal md:text-xl 2xl:text-2xl 4xl:gap-y-[3vh]"
    >
      <p>
        С 1869 года по его инициативе начинают собираться всероссийские археологические съезды в
        различных городах России – Москве, Петербурге, Киеве, Казани, Тифлисе, Одессе. Съездам
        предшествовало всестороннее изучение памятников истории и культуры тех регионов, где они
        проводились. На съездах обсуждались вопросы изучения и охраны памятников, состояние
        архивного дела, анализировалось положение с изучением древностей данного региона. В рамках
        дискуссий регулярно подчеркивалась необходимость преподавания археологии в российских
        университетах.
      </p>
      <p>
        Работу съездов сопровождали выставки. Выступления ученых публиковались в «Трудах» съездов.
        По следам съездов в ряде городов создавались научно-исторические общества, а на основе
        выставок – музеи.
      </p>
      <p>
        Значительна была и издательская деятельность Общества. С 1865 года периодически выходили
        труды МАО «Древности». В 1867–1868 годах издавался журнал «Археологический вестник».
        Постепенно расширялась сфера исследований: при Обществе были созданы Восточная, Кавказская,
        Славянская и ряд других комиссий, отдельно публиковались и их труды.
      </p>
    </div>
  </Section>

  <!-- Princes -->
  <div
    id="princes-bg"
    class="relative left-0 top-0 h-[55vh] w-full bg-[url('../data/biography/_images/activities/princes-lection.png')] bg-cover bg-left bg-no-repeat opacity-0 transition-opacity duration-1000 md:h-[155vh] md:bg-center"
  >
    <Section
      id="princes"
      sectionSize="w-full h-[55vh] md:h-[150vh]"
      sectionFlex="flex flex-col md:justify-center"
      contentWidth="w-full"
      contentHeight="h-[55vh] md:h-[150vh]"
    >
      <div
        class="flex h-[80%] items-end justify-center overflow-hidden md:mr-[5vh] md:h-full md:items-center md:justify-end"
      >
        <img
          src={activitiesAssets.lection.src}
          alt={activitiesAssets.lection.alt}
          class="relative top-[18vh] max-h-[90%] md:max-h-full"
        />
      </div>
      <InfoOverlay
        contentType="slider"
        images={princes}
        isIconInverted={true}
        overlayId="princes"
        iconPosition="absolute bottom-[5vh] left-1/2"
      />
    </Section>
    <p class="mt-[5%] w-full px-[10%] text-center text-sm md:px-0 md:text-xl">
      Великий князь Павел Александрович и Великий князь Сергей Александрович
    </p>
  </div>

  <!-- Princes Text -->
  <Section
    id="princes-text"
    contentHeight="h-auto"
    sectionSize="h-[85vh] 2xl:h-[55vh]"
    sectionFlex="flex flex-col justify-center"
  >
    <div
      class="flex flex-col justify-between px-[7%] text-base leading-normal md:text-3xl 2xl:px-[5px] 2xl:text-4xl"
    >
      <p>
        Будучи приближенным к Императорской чете и располагая их доверием, А. С. Уваров с середины
        1870-х годов читал курс лекций по археологии и руководил образовательными археологическими
        экскурсиями великих князей Сергея и Павла Александровичей в Крым, Новгород и Псков.
      </p>
    </div>
  </Section>

  <!-- Video Uvarov and Cyprus -->
  <Section
    id="video-uvarov-cyprus"
    sectionFlex="flex flex-col justify-center"
    contentHeight="h-auto"
  >
    <div class="flex flex-col items-center justify-center text-center md:text-left">
      <div class="relative aspect-video h-full w-full md:h-[50%] md:w-[50%]">
        <iframe
          class="h-full w-full"
          src="https://mediashm.ru/?p=2525&emb=1"
          width="560"
          height="315"
          encrypted-media;
          gyroscope;
          picture-in-picture;
          allowfullscreen
          scrolling="no"
        >
        </iframe>
      </div>
      <p class="mt-[2vh] px-[3vh] md:px-0">Кипрская коллекция графа Уварова</p>
    </div>
  </Section>

  <!-- Video Uvarov and Russian Arts -->
  <Section
    id="video-uvarov-russian-arts"
    sectionFlex="flex flex-col justify-center"
    contentHeight="h-auto"
  >
    <div class="flex flex-col items-center justify-center text-center md:text-left">
      <div class="relative aspect-video h-full w-full md:h-[50%] md:w-[50%]">
        <iframe
          class="h-full w-full"
          src="https://mediashm.ru/?p=31461&emb=1"
          width="560"
          height="315"
          encrypted-media;
          gyroscope;
          picture-in-picture;
          allowfullscreen
          scrolling="no"
        >
        </iframe>
      </div>
      <p class="mt-[2vh] px-[3vh] md:px-0">
        Произведения древнерусской живописи в собрании графа Уварова
      </p>
    </div>
  </Section>

  <!-- Video Uvarov and Fatian -->
  <Section
    id="video-uvarov-fatian"
    sectionFlex="flex flex-col justify-center"
    contentHeight="h-auto"
  >
    <div class="flex flex-col items-center justify-center text-center md:text-left">
      <div class="relative aspect-video h-full w-full md:h-[50%] md:w-[50%]">
        <iframe
          class="h-full w-full"
          src="https://mediashm.ru/?p=3799&emb=1"
          width="560"
          height="315"
          encrypted-media;
          gyroscope;
          picture-in-picture;
          allowfullscreen
          scrolling="no"
        >
        </iframe>
      </div>
      <p class="mt-[2vh] px-[3vh] md:px-0">Граф Уваров и исследование Фатьяновского могильника</p>
    </div>
  </Section>

  <!-- Next Chapter -->
  <Section
    id="next-chapter"
    contentHeight="h-auto"
    sectionSize="h-[50vh]"
    sectionFlex="flex flex-col justify-center"
  >
    <div class="relative flex w-full flex-col gap-y-[5vh] text-center text-3xl 4xl:gap-y-[2vh]">
      <p>следующая глава</p>
      <ScrollArrow
        position="0"
        invert="invert"
        visible="opacity-100"
        size="w-auto"
        animated={false}
        redirectUrl="/museum"
      />
    </div>
  </Section>
</DemoWrapper>

<script src="../../utils/sharedBgObserver.js"></script>
