---
import DemoWrapper from "../../components/demo/DemoWrapper.astro";
import HeaderWrapper from "../../components/global/header/HeaderWrapper.astro";
import Section from "../../components/global/Section.astro";
import Chapter from "../../components/demo/Chapter.astro";
import ScrollArrow from "../../components/global/ScrollArrow.astro";
import InfoOverlay from "../../components/global/InfoOverlay.astro";

import { common, expeditionsAssets } from "../../data";

const research = expeditionsAssets.research;
const cover = [expeditionsAssets.researchCoverFull];
---

<style>
  .splide__arrow {
    background: transparent;
    width: auto;
  }

  #hersones-splide .splide__arrow {
    background: transparent;
    width: auto;
    filter: invert(1);
  }
</style>

<DemoWrapper>
  <!-- Chapter Intro -->
  <Chapter section="#archeology-text" hover />

  <!-- Header -->
  <HeaderWrapper />

  <!-- Archeology Text -->
  <Section id="archeology-text" contentHeight="h-auto" sectionSize="w-full h-[90vh]">
    <p
      class="mx-auto max-w-3xl text-center text-lg leading-relaxed lg:max-w-5xl lg:text-2xl 3xl:text-3xl 4xl:max-w-7xl 4xl:text-4xl"
    >
      Окончив университет со степенью кандидата в 1845 году, поступил на службу в Министерство
      иностранных дел. По окончании университета, параллельно службе, <br /> Уваров увлекся археологией.
    </p>
  </Section>

  <!-- Archeologists -->
  <Section
    id="archeologists"
    contentHeight="h-auto"
    sectionSize="w-full h-auto mb-[10vh]"
    extraClass="z-20"
  >
    <div class="flex h-full w-full flex-col items-center justify-between text-center">
      <p class="text-center">
        В 1846 году, он, наряду с маститыми нумизматами <span
          ><a
            class="font-bold italic hover:underline"
            href="https://ru.wikipedia.org/wiki/%D0%91%D0%B0%D1%80%D1%82%D0%BE%D0%BB%D0%BE%D0%BC%D0%B5%D0%B9,_%D0%98%D0%B2%D0%B0%D0%BD_%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B5%D0%B5%D0%B2%D0%B8%D1%87"
            >И. А. Бартоломеем</a
          >, <a
            class="font-bold italic hover:underline"
            href="https://ru.wikipedia.org/wiki/%D0%9A%D1%91%D0%BD%D0%B5,_%D0%91%D0%BE%D1%80%D0%B8%D1%81_%D0%92%D0%B0%D1%81%D0%B8%D0%BB%D1%8C%D0%B5%D0%B2%D0%B8%D1%87"
            >Б. В. Кёне</a
          > вошел в число учредителей Петербургского Археолого-нумизматического общества
          <span class="italic">(впоследствии – Русское археологическое общество)</span>.
        </span>
      </p>
      <div id="archeologists-image" class="relative my-5 h-full w-full">
        <img
          src={expeditionsAssets.archaeologists.src}
          alt={expeditionsAssets.archaeologists.alt}
        />
        <div class="absolute bottom-0 right-0 flex items-center justify-center">
          <p class="max-w-md rounded-2xl bg-white/80 px-4 py-6 text-sm shadow-md backdrop-blur-2xl">
            Портрет членов-учредителей Петербургского Археологическо-нумизматического общества. <br
            />
            Фотограф: К. Даутендей, Санкт-Петербург, 1850 г. <br /><br /> Стоят: И. А. Бартоломей, Б.
            В. Кёне, А. С. Уваров. <br />Сидят: Я. Я. Рейхель, М. Д. Топчибашев.
          </p>
        </div>
      </div>
    </div>
  </Section>

  <!-- Zabelin -->
  <Section
    id="zabelin"
    contentHeight="h-auto"
    sectionSize="w-full h-auto my-[10vh]"
    extraClass="z-20"
  >
    <div class="flex h-full w-full flex-col items-center justify-between text-center">
      <p class="text-center">
        Он предложил начать работу по составлению Русского археологического словаря и подготовил для
        него ряд статей. В 1849 году Уваров назначил денежные вознаграждения за исследования в
        области русских древностей, и среди награжденных авторов были <a
          class="font-bold italic hover:underline"
          href="https://ru.wikipedia.org/wiki/%D0%97%D0%B0%D0%B1%D0%B5%D0%BB%D0%B8%D0%BD,_%D0%98%D0%B2%D0%B0%D0%BD_%D0%95%D0%B3%D0%BE%D1%80%D0%BE%D0%B2%D0%B8%D1%87"
          >И. Е. Забелин</a
        > и <a
          class="font-bold italic hover:underline"
          href="https://ru.wikipedia.org/wiki/%D0%A0%D0%BE%D0%B2%D0%B8%D0%BD%D1%81%D0%BA%D0%B8%D0%B9,_%D0%94%D0%BC%D0%B8%D1%82%D1%80%D0%B8%D0%B9_%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80%D0%BE%D0%B2%D0%B8%D1%87"
          >Д. А. Ровинский</a
        >.
      </p>
      <div id="zabelin-image" class="relative my-10 flex h-full w-full justify-center">
        <img src={expeditionsAssets.zabelin.src} alt={expeditionsAssets.zabelin.alt} />
        <div class="absolute bottom-0 left-0 flex items-center justify-center">
          <p class="max-w-md rounded-2xl bg-white/80 p-4 text-sm shadow-md backdrop-blur-2xl">
            Забелин Иван Егорович (с дагерротипа, 1856 г.)
          </p>
        </div>
      </div>
    </div>
  </Section>

  <!-- Hersones Map BG -->
  <div
    id="hersones-bg"
    class="fixed left-0 top-[10vh] h-screen w-full bg-[url('../data/biography/_images/expeditions/hersones-bg.png')] bg-cover bg-center bg-no-repeat opacity-0 transition-opacity duration-1000"
  >
  </div>

  <!-- Hersones Text -->
  <Section id="hersones-text" contentHeight="h-auto" sectionSize="w-full h-[90vh]">
    <p
      class="mx-auto max-w-3xl text-center text-lg leading-relaxed lg:max-w-5xl lg:text-2xl 3xl:text-3xl 4xl:max-w-7xl 4xl:text-4xl"
    >
      По решению специальной комиссии Общества, летом 1848 года Уваров совершил путешествие по Южным
      землям России, обследуя наиболее важные в археологическом отношении местности.
    </p>
  </Section>

  <!-- Hersones Image -->
  <Section
    id="hersones-image"
    contentHeight="h-auto"
    contentWidth="w-full"
    sectionSize="w-full h-auto "
  >
    <img
      src={expeditionsAssets.khersones[0].src}
      alt={expeditionsAssets.khersones[0].alt}
      class=""
    />
  </Section>

  <!-- Hersones Wall -->
  <div
    id="hersones-wall-bg"
    class="relative left-0 top-0 mx-auto max-h-screen max-w-full bg-[url('../data/biography/_images/expeditions/hersones-wall-bg.png')] bg-cover bg-center bg-no-repeat opacity-0 transition-opacity duration-1000 md:max-h-[2048px]"
  >
    <Section
      id="hersones-wall"
      sectionSize="w-full h-screen md:h-[2048px]"
      sectionFlex="flex flex-col justify-center"
      contentHeight="h-[75vh] md:h-[1250px]"
    >
      <div
        class="flex h-full flex-col items-center justify-between px-[5%] text-lg leading-normal lg:text-3xl 2xl:text-4xl 2xl:leading-relaxed"
      >
        <p class="rounded-2xl bg-white/80 p-6 shadow-md backdrop-blur-2xl">
          Он посетил Каменское городище, Херсон, Ольвию, Херсонес.
        </p>
        <p class="rounded-2xl bg-white/80 p-6 shadow-md backdrop-blur-2xl">
          Раскопки ученый не вел, все приобретенные им античные артефакты — либо «подъемный»
          материал <span class="italic"
            >(фрагменты керамических стеклянных сосудов, лепная керамика, монеты)</span
          >, либо покупки у местного населения.
        </p>
      </div>
    </Section>
  </div>

  <!-- Research --- Trip to the South --- Cover -->
  <Section id="research" contentWidth="w-[75%]" contentHeight="h-auto">
    <div class="grid h-full w-full grid-cols-1 grid-rows-2 md:grid-cols-3 md:grid-rows-1">
      <div
        id="research-image"
        class="relative col-span-1 flex flex-col items-center justify-center"
      >
        <img
          src={expeditionsAssets.researchCover.src}
          alt={expeditionsAssets.researchCover.alt}
          class="max-w-[65%] md:max-w-[75%]"
        />
        <InfoOverlay
          contentType="image"
          images={cover}
          overlayId="research"
          iconPosition="absolute bottom-0 "
        />
      </div>
      <div
        class="col-span-2 flex flex-col items-end justify-end gap-y-[1vh] text-center text-2xl md:justify-center md:text-left 2xl:text-3xl"
      >
        <p class="max-w-md 2xl:max-w-xl">
          Частично, эти предметы послужили источником при написании Уваровым первой части
        </p>
        <p class="max-w-md italic 2xl:max-w-xl">
          «Исследования о древностях Южной России и берегов Чёрного моря».
        </p>
      </div>
    </div>
  </Section>

  <!-- Research --- Trip to the South --- Slider -->
  <Section id="research-slider" contentHeight="h-auto" sectionSize="w-full h-screen">
    <div class="flex h-full w-full flex-col items-center justify-between gap-y-6">
      <p class="text-center lg:text-xl 3xl:text-3xl">
        Собрание карт и рисунков к Исследованиям о древностях Южной России и берегов Черного моря.
      </p>
      <div
        class="w-full"
        x-data="{ init() {
                            new Splide(this.$refs.splide, {
                                perPage: 3,
                                perMove: 1,
                                pagination: false,
                                breakpoints: {
                                    768: {
                                        perPage: 1,
                                    },
                                },
                            }).mount();
                        },
                    }"
      >
        <section
          class="splide"
          aria-label="Trip to the South Slider"
          x-ref="splide"
          style="padding-left: 4rem; padding-right: 4rem;"
        >
          <div class="splide__arrows hidden md:block">
            <button class="splide__arrow splide__arrow--prev">
              <img src={common.prevArrow.src} alt={common.prevArrow.alt} />
            </button>
            <button class="splide__arrow splide__arrow--next">
              <img src={common.nextArrow.src} alt={common.nextArrow.alt} />
            </button>
          </div>

          <div class="splide__arrows md:hidden">
            <button class="splide__arrow splide__arrow--prev"> ← </button>
            <button class="splide__arrow splide__arrow--next"> → </button>
          </div>

          <div class="splide__track">
            <ul class="splide__list">
              {
                expeditionsAssets.research.map((researchItem) => (
                  <li class="splide__slide flex flex-col items-center justify-center">
                    <div class="md:max-w-[60%]">
                      <img
                        alt={researchItem.alt}
                        src={researchItem.src}
                        class="bottom-0 h-full w-full object-contain"
                      />
                    </div>
                    <div class="mt-6 flex-grow text-center">
                      <h4 class="2xl:text-md text-xs font-semibold leading-snug">
                        {researchItem.title}
                      </h4>
                    </div>
                  </li>
                ))
              }
            </ul>
          </div>
        </section>
      </div>
      <InfoOverlay
        contentType="slider"
        images={research}
        overlayId="research-slider"
        iconPosition=""
      />
    </div>
  </Section>

  <!-- Nord Map BG -->
  <div
    id="nord-map-bg"
    class="fixed left-0 top-0 h-screen w-full bg-[url('../data/biography/_images/expeditions/nord-map-bg-50.png')] bg-cover bg-center bg-no-repeat opacity-0 transition-opacity duration-1000"
  >
  </div>

  <!-- Nord Text -->
  <Section
    id="nord-text"
    contentHeight="h-auto"
    sectionSize="w-full h-auto mb-[10vh]"
    contentFlex
    extraClass="gap-y-[10vh] 4xl:gap-y-[5vh] text-center px-[5%]"
  >
    <p>
      В 1850 году молодой граф был переведен в Министерство внутренних дел, в 1853 году его
      причислили к Кабинету Его Императорского Величества. Начиная с 1850 и до 1856 года, он служил
      под началом двоюродного дяди Л. А. Перовского, который в 1852 году получил для своего
      ведомства право контроля над археологическими изысканиями на территории России.
    </p>
    <p>
      В 1851–1852 годах Уваров возглавил археологическую экспедицию в Суздальский уезд. Материалы,
      полученные им в ходе работ, стали основным источником для исследования «Меряне и их быт по
      курганным раскопкам».
    </p>
  </Section>

  <!-- Nord Image -->
  <Section
    id="nord-image"
    contentHeight="h-auto"
    sectionSize="w-full h-auto mb-[10vh]"
    contentFlex
    extraClass="gap-y-[10vh] 4xl:gap-y-[5vh] text-center px-[5%]"
  >
    <p>
      В 1851 году Уваров проводил раскопки и на территории суздальского Спасо-Евфимиева монастыря в
      поисках точного места захоронения князя Дмитрия Михайловича Пожарского.
    </p>
    <img
      src={expeditionsAssets.suzdal.src}
      alt={expeditionsAssets.suzdal.alt}
      class="max-w-[90%] 2xl:max-w-[100%]"
    />
  </Section>

  <!-- Pozharsky -->
  <Section id="pozharsky" sectionSize="w-full h-auto" contentWidth="w-10/12" contentHeight="h-auto">
    <div class="hidden grid-cols-3 gap-x-8 md:grid">
      <div class="col-span-2 flex flex-col items-start justify-start">
        <p class="max-w-md text-xl 2xl:max-w-xl 2xl:text-2xl">
          Ему удалось обнаружить усыпальницу Пожарских и среди нескольких надгробий выявить то,
          которое ранее было установлено над захоронением князя.
        </p>
      </div>
      <div id="pozharsky-image" class="relative col-span-1 flex flex-col items-end justify-center">
        <video class="max-w-[550px] 2xl:max-w-[650px]" autoplay loop muted>
          <source src={expeditionsAssets.pozharskySketch.src} />
        </video>
      </div>
    </div>

    <div class="flex flex-col items-center justify-center gap-y-[5vh] md:hidden">
      <p class="max-w-md text-center text-base md:text-left md:text-2xl 2xl:max-w-xl 2xl:text-4xl">
        Ему удалось обнаружить усыпальницу Пожарских и среди нескольких надгробий выявить то,
        которое ранее было установлено над захоронением князя.
      </p>
      <img
        src={expeditionsAssets.pozharskySketchImg.src}
        alt={expeditionsAssets.pozharskySketchImg.alt}
      />
    </div>
  </Section>

  <!-- Olvia -->
  <div
    id="olvia-bg"
    class="relative left-0 top-0 h-[70vh] w-full bg-[url('../data/biography/_images/expeditions/olvia-bg.png')] bg-cover bg-right bg-no-repeat opacity-0 transition-opacity duration-1000 md:h-[150vh] md:bg-center"
  >
    <Section
      id="olvia"
      sectionSize="w-full h-[70vh] md:h-[150vh]"
      sectionFlex="flex flex-col justify-center"
      contentWidth="w-full"
      contentHeight="h-[70vh] md:h-[150vh]"
    >
      <div class="flex h-full flex-col justify-center text-center md:ml-[20vh] md:text-left">
        <p class="h-[50vh] max-w-2xl text-lg leading-normal lg:h-[80vh] lg:text-2xl">
          Позднее, в 1853–1854 годах Уваров возглавил экспедицию в Таврическую губернию, работал в
          Ольвии, Неаполе Скифском, Херсонесе.
        </p>
      </div>
    </Section>
  </div>

  <!-- Hersones Slider -->
  <Section
    id="hersones-slider"
    contentHeight="md:h-[1024px] 2xl:h-[1536px]"
    contentWidth="w-full"
    sectionSize="w-full md:h-[1024px] 2xl:h-[1536px]"
    extraClass="bg-[url('../data/biography/_images/expeditions/kherson-bg.png')] bg-center bg-cover bg-no-repeat flex justify-end items-end"
  >
    <div class="mx-auto flex flex-col items-center justify-between">
      <p
        class="absolute top-1/4 flex-shrink-0 px-[3vh] text-center text-lg leading-normal md:px-0 md:text-left md:text-2xl 2xl:text-4xl"
      >
        В Херсонесе археолог обнаружил остатки храма VI века.
      </p>
      <div class="max-w-[100%] flex-grow">
        <section id="hersones-splide" class="splide" aria-label="Hersones Slider">
          <div class="splide__arrows">
            <button class="splide__arrow splide__arrow--prev">
              <img src={common.prevArrow.src} alt={common.prevArrow.alt} />
            </button>
            <button class="splide__arrow splide__arrow--next">
              <img src={common.nextArrow.src} alt={common.nextArrow.alt} />
            </button>
          </div>

          <div class="splide__track h-full">
            <ul class="splide__list h-full">
              {
                expeditionsAssets.kherson.map((khersonItem) => (
                  <li class="splide__slide flex h-full flex-col items-center justify-end">
                    <div class="h-full w-full">
                      <img
                        alt={khersonItem.alt}
                        src={khersonItem.src}
                        class="mx-auto min-h-[70vh] object-contain object-bottom md:min-h-screen md:min-w-[70%] md:object-center 2xl:min-w-full"
                      />
                    </div>
                  </li>
                ))
              }
            </ul>
          </div>
        </section>
      </div>
    </div>
  </Section>

  <!-- Hersones Text Conclusion -->
  <Section
    id="hersones-text-conclusion"
    contentHeight="h-auto"
    sectionSize="w-full h-auto my-[10vh]"
    contentFlex
    extraClass="gap-y-[10vh] 4xl:gap-y-[5vh] text-center px-[5%]"
  >
    <p>
      Там были найдены древнегреческие надгробия с надписями, обломки мраморных колонн, пьедесталов,
      плит с высеченными крестами, мозаики.
    </p>
    <p>
      Уже в XX веке, рядом с Уваровской базиликой – такое название получила церковь во имя Святых
      Апостолов в научной литературе – был обнаружен баптистерий, в котором, предположительно,
      принял крещение Великий князь Владимир.
    </p>
    <p>
      Благодаря этим исследованиям, А. С. Уваров внес значительный вклад в изучение археологических
      памятников юга России.
    </p>
  </Section>

  <!-- Video Uvarov and Caucasus Archeology -->
  <Section
    id="video-uvarov-vladimir-kurgans"
    contentWidth="w-full"
    contentHeight="h-auto"
    sectionSize="w-full h-auto mb-10 lg:mb-0 lg:h-screen"
  >
    <div class="flex flex-col items-center justify-center gap-y-4 text-center">
      <div class="relative aspect-video h-full w-full md:h-[50%] md:w-[50%]">
        <iframe
          class="h-full w-full"
          src="https://mediashm.ru/?p=48062&emb=1"
          width="560"
          height="315"
          encrypted-media;
          gyroscope;
          picture-in-picture;
          allowfullscreen
        >
        </iframe>
      </div>
      <p class="italic">Граф Уваров и археология Кавказа</p>
    </div>
  </Section>

  <!-- Video Uvarov and Vladimir Kurgans -->
  <Section
    id="video-uvarov-vladimir-kurgans"
    contentWidth="w-full"
    contentHeight="h-auto"
    sectionSize="w-full h-auto mb-10 lg:mb-0 lg:h-screen"
  >
    <div class="flex flex-col items-center justify-center gap-y-4 text-center">
      <div class="relative aspect-video h-full w-full md:h-[50%] md:w-[50%]">
        <iframe
          class="h-full w-full"
          src="https://mediashm.ru/?p=6915&emb=1"
          width="560"
          height="315"
          encrypted-media;
          gyroscope;
          picture-in-picture;
          allowfullscreen
        >
        </iframe>
      </div>
      <p class="italic">Граф Уваров и исследования Владимирских курганов</p>
    </div>
  </Section>

  <!-- Porechye Text -->
  <Section
    id="porechye-text"
    contentHeight="h-auto"
    sectionSize="w-full h-auto my-[10vh]"
    contentFlex
    extraClass="gap-y-[10vh] text-center px-[5%]"
  >
    <p>
      После смерти отца Уваров стал владельцем почти 100 тысяч десятин земли (в Московской,
      Владимирской, Пензенской, Саратовской губерниях) и дома в Москве.
    </p>
    <p>В числе прочих имений он унаследовал подмосковную усадьбу Поречье.</p>
  </Section>

  <!-- Porechye -->
  <Section id="porechye" contentHeight="h-auto" contentWidth="w-full" sectionSize="w-full h-auto">
    <div
      id="porechye-bg"
      class="relative left-0 top-0 h-[60vh] w-full bg-[url('../data/biography/_images/expeditions/porechye-bg.png')] bg-cover bg-center bg-no-repeat opacity-0 transition-opacity duration-1000 md:h-[200vh]"
    >
    </div>
  </Section>

  <!-- Next Chapter -->
  <Section id="next-chapter" contentHeight="h-auto" sectionSize="h-auto w-full py-[10vh]">
    <div class="relative flex w-full flex-col gap-y-[5vh] text-center text-3xl 4xl:gap-y-[2vh]">
      <ScrollArrow
        position="0"
        visible="opacity-100"
        size="w-auto"
        hover
        animated
        next
        redirectUrl="/demo/museum"
      />
    </div>
  </Section>
</DemoWrapper>

<script src="../../utils/sharedBgObserver.js"></script>
<script src="../../scripts/sliders.ts"></script>
