---
import DemoWrapper from "../../components/demo/DemoWrapper.astro";
import HeaderWrapper from "../../components/global/header/HeaderWrapper.astro";
import ScrollArrow from "../../components/global/ScrollArrow.astro";
import Section from "../../components/global/Section.astro";
import InfoOverlay from "../../components/global/InfoOverlay.astro";
import Chapter from "../../components/demo/Chapter.astro";

import { common, junostAssets } from "../../data";

const uvarovYoung1 = [junostAssets.uvarovYoung1Full, junostAssets.handwrite1Full];
const uvarovYoung2 = [junostAssets.uvarovYoung2Full, junostAssets.handwrite2Full];
const graf = [junostAssets.graf];
const diploma = [junostAssets.diploma];
const portraits = junostAssets.libraryPortraits;
---

<style>
  .splide__arrow {
    background: transparent;
    width: auto;
  }
</style>

<DemoWrapper>
  <!-- Chapter Intro -->
  <Chapter section="#was-born" hover />

  <!-- Header -->
  <HeaderWrapper />

  <!-- Was Born -->
  <Section
    id="was-born"
    contentWidth="w-auto"
    contentHeight="h-auto"
    sectionFlex="flex flex-col justify-end items-center"
    sectionSize="w-[90vw] h-[60vh] md:h-screen mx-auto"
    extraClass="relative"
  >
    <p
      class="absolute inset-x-0 left-0 top-0 text-center text-sm md:inset-auto md:text-left md:text-lg 2xl:text-xl 4xl:static 4xl:text-4xl"
    >
      А. С. Уваров родился 28 февраля (11 марта)
      <br />
      1824 года в Петербурге.
    </p>
    <img class="py-[10vh] md:py-0" src={junostAssets.spb.src} alt={junostAssets.spb.alt} />
  </Section>

  <!-- Father / Mother BG -->
  <div
    id="room-bg"
    class="fixed left-0 top-0 z-0 h-full w-full bg-[url('../data/biography/_images/junost/room.png')] bg-cover bg-center opacity-0 transition-opacity duration-1000"
  >
  </div>

  <!-- Father / Mother -->
  <div>
    <Section id="father-mother" sectionSize="w-full h-[200vh]" contentHeight="h-[200vh]">
      <div id="father-area" class="absolute top-0 h-[95vh] w-full"></div>
      <div id="mother-area" class="absolute bottom-0 h-[95vh] w-full"></div>

      <div
        class="sticky left-0 top-[15%] mb-10 grid h-2/5 w-full grid-cols-1 grid-rows-[auto_15fr_1fr] lg:top-[7%] lg:mb-0 lg:grid-cols-2 lg:grid-rows-1"
      >
        <div class="top-text-mobile max-w-md py-5 text-center text-sm md:hidden md:text-2xl">
          <p>
            Семейными связями и родословной А. С. Уваров был укоренен в русской культуре и
            государственности, а ряд исторических событий XIX века являлись для него частью семейной
            хроники.
          </p>
        </div>

        <!-- Father / Mother Images -->
        <div class="relative flex items-center justify-center lg:my-auto lg:h-[90%]">
          <img
            src={junostAssets.father.src}
            alt={junostAssets.father.alt}
            id="father-img"
            class="absolute inset-0 h-full w-full object-contain opacity-0"
          />
          <img
            src={junostAssets.mother.src}
            alt={junostAssets.mother.alt}
            id="mother-img"
            class="absolute inset-0 h-full w-full object-contain opacity-0"
          />
        </div>

        <!-- Father / Mother Texts -->
        <div
          class="flex h-4/5 flex-col items-end justify-center self-center text-center text-sm md:text-right md:text-base lg:py-0 lg:text-lg 2xl:text-2xl 4xl:text-4xl"
        >
          <p
            class="top-text hidden rounded-2xl bg-white/60 p-4 italic shadow-md backdrop-blur-2xl md:block"
          >
            Семейными связями и родословной А. С. Уваров был укоренен в русской культуре и
            государственности, а ряд исторических событий XIX века являлись для него частью семейной
            хроники.
          </p>

          <div class="bottom-text relative h-4/5 w-full max-w-3xl overflow-x-clip 3xl:max-w-6xl">
            <p
              id="father-text"
              class="absolute bottom-0 left-0 z-10 w-full rounded-2xl bg-white/80 p-6 opacity-0 shadow-md backdrop-blur-2xl"
            >
              Отец Алексея Сергеевича, <span class="font-bold italic">Сергей Семенович Уваров</span>
              – <br />президент Петербургской Академии наук, <br /> министр народного просвещения.
            </p>
            <p
              id="mother-text"
              class="absolute bottom-0 left-0 z-20 w-full rounded-2xl bg-white/80 p-6 opacity-0 shadow-md backdrop-blur-2xl"
            >
              Мать А. С. Уварова, <span class="font-bold italic"
                >Екатерина Алексеевна Разумовская</span
              > – <br />дочь министра народного просвещения Алексея Кирилловича и внучатая
              племянница Алексея Григорьевича Разумовских.
            </p>
          </div>
        </div>
      </div>
    </Section>
  </div>

  <!-- Graf -->
  <Section
    id="graf"
    sectionSize="w-full h-auto mb-16"
    contentHeight="h-auto"
    contentWidth="w-full"
    contentFlex
    extraClass="relative"
  >
    <img
      id="graf-image"
      class="h-auto w-full"
      src={junostAssets.graf.src}
      alt={junostAssets.graf.alt}
    />

    <div class="absolute inset-y-0 z-10 mx-auto grid grid-cols-8 grid-rows-8">
      <div
        class="col-span-3 col-start-2 row-start-6 flex items-start justify-end pt-24 text-[6px] opacity-80 transition-opacity duration-300 lg:col-start-5 lg:pt-10 lg:opacity-100 lg:hover:opacity-10 xl:text-base 4xl:text-3xl"
      >
        <p
          class="pointer-events-none rounded-2xl bg-white/80 p-2 text-right shadow-md backdrop-blur-2xl lg:p-6"
        >
          <span class="italic">«За особливые заслуги и высокие достоинства»</span><br /><br />
          Высочайшим указом от 1 июля 1846 года С. С. Уваров был пожалован титулом сиятельного графа
          с нисходящим потомством.
        </p>
      </div>
    </div>

    <InfoOverlay
      contentType="image"
      images={graf}
      overlayId="graf"
      iconPosition="absolute bottom-[2vh] left-1/2 -translate-x-1/2"
    />
  </Section>

  <!-- Library -->
  <div
    id="library-bg"
    class="fixed left-0 top-0 z-0 h-full w-full bg-[url('../data/biography/_images/junost/library.png')] bg-cover bg-center bg-no-repeat opacity-0 transition-opacity duration-1000"
  >
  </div>

  <Section
    id="library"
    sectionSize="w-full h-[110vh]"
    contentHeight="h-auto"
    contentWidth="w-full"
    sectionFlex="flex flex-col items-center justify-end"
  >
    <div class="flex flex-col items-center justify-center gap-y-[2vh]">
      <p
        class="pointer-events-none w-4/5 rounded-2xl bg-white/60 px-[5%] py-6 text-center text-sm leading-normal shadow-md backdrop-blur-2xl md:text-xl"
      >
        Вся атмосфера семьи Уваровых располагала к занятиям наукой и искусством. Богатейшая
        библиотека, коллекция живописи и антиков, собранная отцом, давала Алексею Уварову с юных лет
        возможность общения с ученой и творческой элитой.
      </p>
      <div class="h-full w-full">
        <div
          x-data="{ init() {
                            new Splide(this.$refs.splide, {
                                perPage: 3,
                                perMove: 1,
                                pagination: false,
                                breakpoints: {
                                    768: {
                                        perPage: 1,
                                    },
                                },
                            }).mount();
                        },
                    }"
        >
          <section
            class="splide"
            aria-label="Library Slider"
            x-ref="splide"
            style="padding-left: 4rem; padding-right: 4rem;"
          >
            <div class="splide__arrows hidden md:block">
              <button class="splide__arrow splide__arrow--prev">
                <img src={common.prevArrow.src} alt={common.prevArrow.alt} />
              </button>
              <button class="splide__arrow splide__arrow--next">
                <img src={common.nextArrow.src} alt={common.nextArrow.alt} />
              </button>
            </div>

            <div class="splide__arrows md:hidden">
              <button class="splide__arrow splide__arrow--prev"> ← </button>
              <button class="splide__arrow splide__arrow--next"> → </button>
            </div>

            <div class="splide__track">
              <ul class="splide__list">
                {
                  junostAssets.libraryPortraits.map((portrait) => (
                    <li class="splide__slide flex flex-col items-center justify-center">
                      <div class="h-full md:h-[60%] md:w-[70%] 2xl:h-[70%] 2xl:w-[90%]">
                        <img
                          alt={portrait.alt}
                          src={portrait.src}
                          class="bottom-0 h-full w-full object-contain"
                        />
                      </div>
                      <div class="mt-6 flex-grow text-center">
                        <h4 class="text-sm font-semibold leading-snug 2xl:text-lg">
                          {portrait.title}
                        </h4>
                        <p class="text-sm">{portrait.description}</p>
                      </div>
                    </li>
                  ))
                }
              </ul>
            </div>
          </section>
        </div>
      </div>
      <InfoOverlay
        contentType="slider"
        images={portraits}
        overlayId="library"
        iconPosition="md:absolute bottom-0"
      />
    </div>
  </Section>

  <!-- Father Influence Text -->
  <Section
    id="father-influence"
    contentHeight="h-auto"
    sectionSize="w-full h-[70vh]"
    sectionFlex="flex flex-col items-center justify-center"
  >
    <p class="text-center text-base leading-normal md:text-2xl lg:px-[5%] 2xl:px-[15%]">
      Но главным в формировании личности А.С. Уварова стало влияние отца. <br /> Во многом, благодаря
      ему, Алексей Уваров сложился как человек европейской образованности и глубочайшей преданности России.
    </p>
  </Section>

  <!-- Dog Animation -->
  <Section id="dog">
    <div class="mx-auto hidden h-full w-full max-w-[70%] grid-cols-2 md:grid">
      <div class="relative left-[5vh] flex flex-col items-center justify-center">
        <video id="dog-anim" autoplay muted>
          <source src={junostAssets.dogAnim.src} type="video/mp4" />
        </video>
        <InfoOverlay
          contentType="slider"
          images={uvarovYoung1}
          overlayId="dog"
          iconPosition="absolute bottom-[8vh]"
        />
      </div>
      <div class="relative right-[5vh] flex flex-col items-center justify-center">
        <img src={junostAssets.handwrite_1.src} alt={junostAssets.handwrite_1.alt} />
      </div>
    </div>

    <div id="dog-mobile" class="flex h-full flex-col items-center justify-center md:hidden">
      <div class="flex flex-col items-center justify-center">
        <img
          src={junostAssets.handwrite_1.src}
          alt={junostAssets.handwrite_1.alt}
          class="absolute left-[25%] top-[15%] h-[50%]"
        />
        <img src={junostAssets.uvarovYoung1.src} alt={junostAssets.uvarovYoung1.alt} />
        <InfoOverlay contentType="slider" images={uvarovYoung1} overlayId="dog-mobile" />
      </div>
    </div>
  </Section>

  <!-- Uni -->
  <Section
    id="uni"
    sectionSize="w-full h-auto "
    sectionFlex="flex flex-col justify-center items-center"
    contentWidth="w-auto"
    contentHeight="h-auto"
    extraClass="flex flex-col items-start justify-center py-10"
  >
    <p
      class="mx-auto max-w-lg px-5 text-center text-xs md:px-0 md:text-sm 2xl:max-w-2xl 2xl:text-lg"
    >
      В детстве и юности, обучаясь дома, по программе отца под его наблюдением, Уваров-младший
      получил основательную подготовку по истории, словесности, географии, древним и новым
      европейским языкам, точным и естественным наукам.
      <br />
      <br />
      Интерес к истории, древностям привел его на словесное отделение философского факультета Петербургского
      университета.
    </p>
    <img src={junostAssets.spbgu.src} src={junostAssets.spbgu.alt} />
  </Section>

  <!-- Grefe / Ustryalov -->
  <Section
    id="grefe"
    sectionSize="w-auto h-auto my-[10vh] lg:my-[20vh]"
    contentWidth="w-auto"
    contentHeight="h-auto"
  >
    <div
      class="flex flex-col items-center justify-center gap-y-10 px-[10%] text-center text-lg leading-normal 2xl:text-2xl"
    >
      <p>
        Серьезное влияние на формирование будущего ученого оказали профессор <span
          class="font-bold italic"
          ><a
            class="hover:underline"
            href="https://ru.wikipedia.org/wiki/%D0%93%D1%80%D0%B5%D1%84%D0%B5,_%D0%A4%D1%91%D0%B4%D0%BE%D1%80_%D0%91%D0%BE%D0%B3%D0%B4%D0%B0%D0%BD%D0%BE%D0%B2%D0%B8%D1%87"
            >Ф. Б. Грефе</a
          ></span
        >, читавший курс греческой словесности, и профессор русской истории <a
          class="hover:underline"
          href="https://ru.wikipedia.org/wiki/%D0%A3%D1%81%D1%82%D1%80%D1%8F%D0%BB%D0%BE%D0%B2,_%D0%9D%D0%B8%D0%BA%D0%BE%D0%BB%D0%B0%D0%B9_%D0%93%D0%B5%D1%80%D0%B0%D1%81%D0%B8%D0%BC%D0%BE%D0%B2%D0%B8%D1%87"
          ><span class="font-bold italic">Н. Г. Устрялов</span></a
        >.
      </p>
      <p>
        Под их влиянием Уваров выбрал тему диссертации
        <br />
        <span class="italic">
          «Исследование, в какой степени дополняются сведения <br /> о первом самозванце актами, изданными
          Археографической комиссией».
        </span>
      </p>
    </div>
  </Section>

  <!-- Uvarov Young -->
  <div
    id="uvarov-bg"
    class="relative left-0 top-0 mx-auto h-[70vh] w-full bg-[url('../data/biography/_images/junost/uvarov_young_2_portrait.png')] bg-cover bg-center bg-no-repeat opacity-0 transition-opacity duration-1000 md:h-[300vh] md:bg-right"
    style="
        background-size: 120%;
        background-position: left 20%;
        "
  >
    <Section
      id="uvarov-young"
      sectionSize="w-full h-[70vh] md:h-[300vh]"
      sectionFlex="flex flex-col justify-center"
      contentWidth="w-full"
      contentHeight="h-[70vh] md:h-[300vh]"
    >
      <div class="flex h-full flex-col justify-center px-[2vh] md:px-0">
        <img
          src={junostAssets.handwrite_2.src}
          alt="Почерк-2"
          class="h-[50vh] w-full object-contain object-left-top md:h-[200vh]"
        />
      </div>
    </Section>
    <InfoOverlay
      contentType="slider"
      images={uvarovYoung2}
      isIconInverted={true}
      overlayId="u-young"
      iconPosition="absolute bottom-[5vh] left-1/2 -translate-x-1/2"
    />
  </div>

  <!-- Diploma -->
  <Section
    id="diploma"
    sectionSize="w-full h-full lg:mb-[10vh]"
    contentHeight="h-full"
    contentWidth="w-full"
  >
    <div
      id="diploma-image"
      class="relative flex h-full w-full flex-col items-center justify-center"
    >
      <img
        class="h-full w-full object-cover"
        src={junostAssets.diploma.src}
        alt={junostAssets.diploma.alt}
      />
      <InfoOverlay
        contentType="image"
        images={diploma}
        overlayId="diploma"
        iconPosition="absolute bottom-[3vh]"
      />
    </div>
  </Section>

  <!-- Video Uvarov 200 Excursion -->
  <Section
    id="video-uvarov-200-excursion"
    sectionFlex="flex flex-col justify-center items-center"
    contentWidth="w-full"
    contentHeight="h-auto"
    sectionSize="w-full h-auto mb-10 lg:mb-0 lg:h-screen"
  >
    <div class="flex flex-col items-center justify-center text-center">
      <div class="relative aspect-video h-full w-full md:h-[50%] md:w-[50%]">
        <iframe
          class="h-full w-full"
          src="https://mediashm.ru/?p=17677&emb=1"
          width="560"
          height="315"
          encrypted-media;
          gyroscope;
          picture-in-picture;
          allowfullscreen
        >
        </iframe>
      </div>
      <p class="mt-[2vh] px-[3vh] text-sm italic md:px-0 lg:text-xl">
        Экскурсия по выставке <br class="lg:hidden" /> к 200-летию А. С. Уварова
      </p>
    </div>
  </Section>

  <!-- Next Chapter -->
  <Section
    id="next-chapter"
    contentHeight="h-auto"
    sectionSize="h-auto w-full pb-[15vh] lg:pt-0 pt-[5vh]"
  >
    <div class="relative flex w-full flex-col gap-y-[5vh] text-center text-3xl 4xl:gap-y-[2vh]">
      <ScrollArrow
        position="0"
        visible="opacity-100"
        size="w-auto"
        hover
        animated
        next
        redirectUrl="/demo/expeditions"
      />
    </div>
  </Section>
</DemoWrapper>

<script src="../../utils/sharedBgObserver.js"></script>
<script src="../../utils/innerScroll.js"></script>
<script src="../../scripts/fatherMotherScroll.ts"></script>
