---
import DemoWrapper from "../../components/demo/DemoWrapper.astro";
import HeaderWrapper from "../../components/global/header/HeaderWrapper.astro";
import Section from "../../components/global/Section.astro";
import Chapter from "../../components/demo/Chapter.astro";
import ScrollArrow from "../../components/global/ScrollArrow.astro";
import InfoOverlay from "../../components/global/InfoOverlay.astro";

import { common, museumAssets } from "../../data";
import { audios } from "../../data";

const museumBuilding = museumAssets.buildingSlider;
const museumHalls = museumAssets.hallsSlider;
---

<style>
  .splide__arrow {
    background: transparent;
    width: auto;
  }
</style>

<DemoWrapper>
  <!-- Chapter Intro -->
  <Chapter section="#museum" hover />

  <!-- Header -->
  <HeaderWrapper />

  <!-- Museum -->
  <div
    id="museum-bg"
    class="relative left-0 top-0 h-[60vh] w-full bg-[url('../data/biography/_images/museum/gim.png')] bg-contain bg-bottom bg-no-repeat md:h-[140vh] md:bg-cover md:bg-center"
  >
    <Section
      id="museum"
      sectionSize="w-full h-[80vh] md:h-[140vh]"
      sectionFlex="flex flex-col justify-start items-end"
      contentHeight="h-auto"
    >
      <div class="flex flex-col items-end justify-start">
        <p
          class="mt-[10vh] max-w-xl pr-[5vw] text-center text-sm leading-normal lg:mt-[20vh] lg:text-right 2xl:max-w-3xl 2xl:text-2xl 2xl:leading-relaxed"
        >
          С начала 1870-х годов Алексей Сергеевич Уваров включился в работу по устройству в Москве
          Музея имени Его Императорского Высочества Государя Наследника Цесаревича (с 1881 года
          император Александр III).
        </p>
      </div>
    </Section>
  </div>

  <!-- Museum Text -->
  <Section
    id="museum-text"
    contentHeight="h-auto"
    sectionSize="w-full h-screen md:h-[80vh] 2xl:h-[60vh]"
    contentFlex
    extraClass="text-center gap-y-[10vh] px-[5%] text-base leading-normal md:text-xl 2xl:text-3xl 4xl:gap-y-[5vh]"
  >
    <p>
      В 1873 году было образовано Управление музеем, Уваров назначен товарищем председателя
      Управления. Ему предстояло решать вопросы, касающиеся научной деятельности музея.
    </p>
    <p>
      Заявив свое лидерство, граф, по сути, стал «мозговым центром» в кругу устроителей. Он
      предложил в залах будущего музея представить целостную картину истории российского государства
      с древнейших времен до эпохи императора Александра II.
    </p>
  </Section>

  <!-- Museum Grid Desktop -->
  <div
    id="museum-grid-bg"
    class="relative left-0 top-0 hidden h-[150vh] w-full bg-[url('../data/biography/_images/museum/gim-bg.png')] bg-contain bg-center bg-no-repeat opacity-0 transition-opacity duration-1000 md:block"
  >
    <Section
      id="museum-grid"
      sectionSize="w-full h-[150vh]"
      sectionFlex="flex flex-col items-center justify-center"
      contentWidth="w-full"
      contentHeight="h-[150vh]"
    >
      <div class="absolute inset-0 m-auto mx-auto flex h-full w-[20%] flex-col justify-start">
        <div id="sources-area" class="h-[7%]"></div>
        <div id="initiative-area" class="h-[7%]"></div>
        <div id="uvarov-1881-area" class="h-[7%]"></div>
        <div id="uvarov-self-area" class="h-[7%]"></div>
        <div id="responsibilities-area" class="h-[7%]"></div>
        <div id="concept-area" class="h-[7%]"></div>

        <div id="empty-area" class="h-[10%]"></div>
        <div id="museum-grid-left-area" class="h-[7%]"></div>
        <div id="museum-grid-right-area" class="h-[7%]"></div>
      </div>
      <div
        class="grid h-full w-full grid-cols-[25%,50%,25%] grid-rows-5 text-center text-sm 2xl:text-xl"
      >
        <!-- Left Column (spans rows 2-4) -->
        <div
          class="col-start-1 col-end-2 row-start-2 row-end-5 flex flex-col justify-between px-[2%] 2xl:px-[8%]"
        >
          <p id="sources" class="rounded-2xl bg-white/80 p-6 shadow-md backdrop-blur-2xl">
            Источниками комплектования фонда археологических памятников явились университеты,
            археологические общества, музеи и частные лица.
          </p>
          <p id="uvarov-1881" class="rounded-2xl bg-white/80 p-6 shadow-md backdrop-blur-2xl">
            В 1881 году Уваров предложил программу комплектования фондов музея археологическими
            памятниками.
          </p>
          <p id="concept" class="rounded-2xl bg-white/80 p-6 shadow-md backdrop-blur-2xl">
            В соответствии с концепцией, предполагалось представить древнейший период истории
            Российского государства – от каменного века до Киевской Руси.
          </p>
        </div>

        <!-- Right Column (spans rows 2-4) -->
        <div
          class="col-start-3 col-end-4 row-start-2 row-end-5 flex flex-col justify-between px-[2%] 2xl:px-[8%]"
        >
          <p id="initiative" class="rounded-2xl bg-white/80 p-6 shadow-md backdrop-blur-2xl">
            По инициативе графа снаряжаются экспедиции в Гнездово, на Дон, Кубань и Кавказ. А одной
            из первых закупок музея в 1883 году стала коллекция античных памятников П.О. Бурачкова,
            состоящая из 1430 предметов.
          </p>
          <p id="uvarov-self" class="rounded-2xl bg-white/80 p-6 shadow-md backdrop-blur-2xl">
            Сам Уваров подарил музею две коллекции каменных орудий из Волосова и Карачарова
            и коллекцию кавказской бронзы, с которой начался учет фондов Исторического музея.
          </p>
          <p id="responsibilities" class="rounded-2xl bg-white/80 p-6 shadow-md backdrop-blur-2xl">
            В обязанности А.С. Уварова входило: наблюдение за строительством, за работами по
            оформлению интерьеров, создание экспозиции.
          </p>
        </div>
      </div>
    </Section>
  </div>

  <!-- Museum Grid Mobile -->
  <div
    id="museum-grid-bg-mobile"
    class="relative left-0 top-0 h-[150vh] w-full bg-[url('../data/biography/_images/museum/gim-bg.png')] bg-contain bg-center bg-no-repeat md:hidden"
  >
    <Section
      id="museum-grid-mobile"
      sectionSize="md:hidden w-full h-[150vh]"
      sectionFlex="flex flex-col items-center justify-center"
      contentWidth="w-full"
      contentHeight="h-[150vh]"
    >
      <div
        class="flex h-full w-full flex-col justify-between px-[4%] py-[5vh] text-center text-sm md:px-[2%] 2xl:px-[8%] 2xl:text-xl"
      >
        <p id="museum-grid-left">
          В обязанности А.С. Уварова входило: наблюдение за строительством, за работами по
          оформлению интерьеров, создание экспозиции. В 1881 году Уваров предложил программу
          комплектования фондов музея археологическими памятниками. В готовящихся к открытию музея
          залах, в соответствии с его концепцией, предполагалось представить древнейший период
          истории Российского государства – от каменного века до Киевской Руси.
        </p>
        <p id="museum-grid-right">
          Источниками комплектования фонда археологических памятников явились университеты,
          археологические общества, музеи и частные лица, которые принесли свои коллекции в дар
          музею. Сам Уваров подарил музею две коллекции каменных орудий из Волосова и Карачарова и
          коллекцию кавказской бронзы, с которой начался учет фондов Исторического музея. По
          инициативе графа снаряжаются экспедиции в Гнездово, на Дон, Кубань и Кавказ. А одной из
          первых закупок музея в 1883 году стала коллекция античных памятников П.О. Бурачкова,
          состоящая из 1430 предметов.
        </p>
      </div>
    </Section>
  </div>

  <!-- Ustav -->
  <Section id="ustav">
    <div
      class="mx-auto grid h-full w-full grid-cols-1 grid-rows-2 md:h-auto md:grid-cols-2 md:grid-rows-1"
    >
      <div id="ustav-image" class="order-2 flex flex-col items-center justify-center md:order-1">
        <img src={museumAssets.ustav.src} alt={museumAssets.ustav.alt} class="md:max-w-[75%]" />
      </div>
      <div class="order-1 flex flex-col items-center justify-center md:order-2">
        <p
          class="max-w-sm text-center text-base leading-normal lg:text-right lg:text-xl 2xl:max-w-lg 2xl:text-3xl"
        >
          Уваров участвовал в разработке программы будущего музея и являлся автором первого Устава
          1874 года.
        </p>
      </div>
    </div>
  </Section>

  <!-- Ustav Text -->
  <Section
    id="ustav-text"
    contentHeight="lg:h-[75vh]"
    sectionFlex="flex flex-col items-center justify-center md:justify-end"
    contentFlex
    contentWidth="w-full"
    extraClass="text-center justify-between text-base leading-normal lg:flex-row lg:justify-center lg:gap-x-[20vh] gap-y-[5vh] lg:text-2xl 2xl:text-3xl px-[5%] lg:px-0"
  >
    <p class="max-w-md">
      <span class="font-bold"
        >Первая статья документа определила суть и смысл существования музея:</span
      >
      <br />
      <br />
      <span class="italic"
        >«Учрежденный в Москве Музей… имеет целию служить наглядною историею главных эпох русского
        государства и содействовать распространению сведений по отечественной истории».</span
      >
    </p>
    <p class="max-w-md">
      <span class="font-bold">Вторая статья гласила:</span>
      <br />
      <br />
      <span class="italic"
        >«В Музее собираются все памятники знаменательных событий отечественной истории. Эти
        памятники, – в подлинниках, копиях или слепках, – расположенные в хронологической
        последовательности, должны представлять … полную картину каждой эпохи…».
      </span>
    </p>
  </Section>

  <!-- Uvarov Resigned -->
  <Section
    id="resigned"
    contentHeight="h-auto"
    sectionSize="w-full h-[80vh] 2xl:h-[60vh]"
    contentFlex
    extraClass="text-center px-[5%] text-lg leading-normal lg:text-2xl 3xl:text-4xl 4xl:gap-y-[5vh]"
  >
    <p>
      В 1878 году в связи с обострением существовавших разногласий среди устроителей по ряду
      принципиальных вопросов деятельности музея, Уваров ушел в отставку.
    </p>
  </Section>

  <!-- Museum Building Slider -->
  <Section
    id="museum-building-slider"
    sectionSize="w-full h-auto my-[5vh]"
    contentHeight="h-auto"
    contentWidth="w-full"
    contentFlex
    extraClass="text-center text-base leading-normal lg:text-xl 3xl:text-3xl lg:justify-between gap-y-[5vh]"
  >
    <p class="px-[7%] text-base leading-normal lg:text-xl 2xl:text-3xl">
      В 1881 году император Александр III назначил графа Уварова Товарищем председателя музея (при
      Почетном председателе великом князе Сергее Александровиче), поручая ему открыть музей к
      коронационным торжествам 1883 года и составить проект нового Устава музея.
    </p>
    <div
      class="w-full"
      x-data="{ init() {
                    new Splide(this.$refs.splide, {
                        perPage: 3,
                        perMove: 1,
                        pagination: false,
                        breakpoints: {
                            768: {
                                perPage: 1,
                            },
                        },
                    }).mount();
                },
            }"
    >
      <section
        class="splide"
        aria-label="Library Slider"
        x-ref="splide"
        style="padding-left: 4rem; padding-right: 4rem;"
      >
        <div class="splide__arrows hidden md:block">
          <button class="splide__arrow splide__arrow--prev">
            <img src={common.prevArrow.src} alt={common.prevArrow.alt} />
          </button>
          <button class="splide__arrow splide__arrow--next">
            <img src={common.nextArrow.src} alt={common.nextArrow.alt} />
          </button>
        </div>

        <div class="splide__arrows md:hidden">
          <button class="splide__arrow splide__arrow--prev"> ← </button>
          <button class="splide__arrow splide__arrow--next"> → </button>
        </div>

        <div class="splide__track">
          <ul class="splide__list">
            {
              museumAssets.buildingSlider.map((buildingItem) => (
                <li class="splide__slide flex flex-col items-center justify-center">
                  <div class="md:max-w-[70%]">
                    <img
                      alt={buildingItem.alt}
                      src={buildingItem.src}
                      class="bottom-0 h-full w-full object-contain"
                    />
                  </div>
                </li>
              ))
            }
          </ul>
        </div>
      </section>
    </div>
    <p class="w-full px-[10%] text-sm lg:px-0 lg:text-xl">
      Строительство Исторического музея. Ателье И. Дьяговченко. 1876
    </p>
    <InfoOverlay
      contentType="slider"
      images={museumBuilding}
      overlayId="museum-building-slider"
      iconPosition=""
    />
  </Section>

  <!-- Alex III -->
  <Section
    id="alex-iii"
    contentHeight="h-auto"
    sectionSize="w-full h-[80vh] 2xl:h-[60vh]"
    extraClass="text-center"
  >
    <p class="px-[5%] text-base leading-normal md:text-3xl 2xl:text-4xl">
      27 мая 1883 года Российский Исторический музей принял почетных гостей – императора Александра
      III, императрицу Марию Фёдоровну, сопровождавшего их великого князя Сергея Александровича. 2
      июня 1883 года, после водосвятного молебна музей, открыли для посещений.
    </p>
    <div
      class="mt-10 flex w-full flex-col items-center justify-center gap-y-[1vh] text-center text-sm italic lg:text-xl"
    >
      <p class="px-[10%] lg:px-0">Из воспоминаний Прасковьи Сергеевны Уваровой. Часть 5</p>
      <audio controls class="mx-auto w-full lg:w-[50%]">
        <source src={audios.audio5} type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
    </div>
  </Section>

  <!-- Museum Photo -->
  <div
    id="museum-photo-bg"
    class="relative left-0 top-0 h-screen w-full bg-[url('../data/biography/_images/museum/gim-photo.png')] bg-contain bg-center bg-no-repeat opacity-0 transition-opacity duration-1000 md:h-[300vh] md:bg-cover"
  >
    <Section
      id="museum-photo"
      sectionSize="w-full h-screen md:h-[300vh]"
      sectionFlex="flex flex-col items-center justify-center"
      contentWidth="w-[75%] md:w-[50%] 2xl:w-[60%]"
      contentHeight="h-auto"
    >
      <div class="flex-fol flex items-center justify-center">
        <p
          class="max-w-xl rounded-2xl bg-white/80 p-6 text-center text-sm shadow-md backdrop-blur-2xl lg:text-xl 2xl:max-w-2xl 2xl:text-2xl"
        >
          Организация и деятельность МАО, создание Исторического музея позволяют утверждать, что
          благодаря А.С. Уварову в Москве сформировался второй, после Петербурга, археологический
          центр России.
        </p>
      </div>
    </Section>
  </div>

  <!-- Museum Halls Slider -->
  <Section id="museum-halls-slider" contentHeight="h-[65vh]" sectionSize="w-full h-screen">
    <div class="flex h-full w-full flex-col items-center justify-between">
      <p
        class="px-[5%] text-center text-lg leading-normal md:px-0 md:text-left md:text-xl 2xl:text-3xl"
      >
        За устройство Исторического музея А.С. Уварову был пожалован орден св. Анны I степени.
      </p>
      <div
        class="w-full"
        x-data="{ init() {
                    new Splide(this.$refs.splide, {
                        perPage: 3,
                        perMove: 1,
                        pagination: false,
                        breakpoints: {
                            768: {
                                perPage: 1,
                            },
                        },
                    }).mount();
                },
            }"
      >
        <section
          class="splide"
          aria-label="Library Slider"
          x-ref="splide"
          style="padding-left: 4rem; padding-right: 4rem;"
        >
          <div class="splide__arrows hidden md:block">
            <button class="splide__arrow splide__arrow--prev">
              <img src={common.prevArrow.src} alt={common.prevArrow.alt} />
            </button>
            <button class="splide__arrow splide__arrow--next">
              <img src={common.nextArrow.src} alt={common.nextArrow.alt} />
            </button>
          </div>

          <div class="splide__arrows md:hidden">
            <button class="splide__arrow splide__arrow--prev"> ← </button>
            <button class="splide__arrow splide__arrow--next"> → </button>
          </div>

          <div class="splide__track">
            <ul class="splide__list">
              {
                museumAssets.hallsSlider.map((hallItem) => (
                  <li class="splide__slide flex flex-col items-center justify-center">
                    <div class="md:max-w-[70%]">
                      <img
                        alt={hallItem.alt}
                        src={hallItem.src}
                        class="bottom-0 h-full w-full object-contain"
                      />
                    </div>
                  </li>
                ))
              }
            </ul>
          </div>
        </section>
      </div>
      <InfoOverlay
        contentType="slider"
        images={museumHalls}
        overlayId="museum-halls-slider"
        iconPosition="absolute bottom-[2vh]"
      />
    </div>
  </Section>

  <!-- Museum Text Conclusion -->
  <Section
    id="museum-text-conclusion"
    contentHeight="h-screen mb-[10vh]"
    sectionSize="w-full h-[130vh]"
    sectionFlex="flex flex-col items-center justify-center lg:justify-end"
    extraClass="text-center"
  >
    <div
      class="flex flex-col justify-between gap-y-[10vh] text-sm leading-normal md:text-xl 2xl:text-3xl 4xl:gap-y-[5vh]"
    >
      <p>
        Но граф считал необходимым совершенствовать и развивать его деятельность. Существующая
        служба по охране памятников не справлялась с огромным масштабом работ, и эту обязанность
        А.С. Уваров предложил передать Историческому музею.
      </p>
      <p>
        В университетах России все еще не велась подготовка археологов, специалистов, владеющих
        навыками работы с вещевым материалом, и Уваров предложил при музее организовать
        историко-археологические курсы.
      </p>
      <p>
        По мнению графа, Исторический музей должен стать «Московской Академией
        историко-археологических наук». К сожалению, грандиозный замысел ученого при его жизни не
        был воплощен.
      </p>
    </div>
  </Section>
</DemoWrapper>

<script src="../../utils/sharedBgObserver.js"></script>
<script src="../../scripts/sixBlocksGrid.js"></script>
