---
import BaseHead from '../components/global/BaseHead.astro';
import ScrollArrow from '../components/global/ScrollArrow.astro';
import Section from '../components/global/Section.astro';
import Loading from '../components/global/Loading.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { intro } from "../data/data";

interface Props {
	nextPage: boolean;
	title: string;
};

const { title = SITE_TITLE } = Astro.props;
const pageTitle = title === SITE_TITLE ? title : `УВАРОВ 200 - ${title}`;

---

<!doctype html>
<html lang="ru">
    <head>
        <BaseHead title={pageTitle} description={SITE_DESCRIPTION} />
    </head>

    <body class="bg-[url('../data/common/_images/chapter-bg.png')] bg-cover bg-no-repeat bg-fixed">
        <Loading />

        <Section id='intro-cover' extraTvh='top-0'>
            <div class="w-full flex justify-center items-center">
                <!-- <ScrollArrow position='absolute right-[23%] xl:right-[23%] 2xl:right-[0%] 2xl:left-[37.5%] bottom-[20%] xl:bottom-[32%]' visible='opacity-100'/> -->
                <img src={intro.cover.src} alt={intro.cover.alt} class="w-full mx-auto relative 2xl:top-32">
            </div>
        </Section>
        <Section id='intro-hand' extraTvh='top-0'>
            <div class="w-full h-wull bg-black">
                <video autoplay muted>
                    <source id="intro-video-src" src={intro.hand1440.src} type="video/mp4">
                </video>
            </div>
        </Section>
        <Section id='intro-text' extraTvh='top-0'>
            <div class="text-white max-w-[1440px] text-2xl leading-loose pointer-events-none flex flex-col h-[70%] gap-y-20">
                <p>
                    Алексей Сергеевич Уваров, граф, археолог, историк, почетный член Петербургской Академии наук, основатель, председатель Московского археологического общества и организатор Всероссийских археологических съездов, один из основателей Российского исторического музея.
                </p>
                <p>
                    Он принадлежит к когорте ярчайших личностей, которыми так богата русская история XIX столетия. Уваров был прекрасно образован, щедро одарен способностями к наукам и обладал недюжинным талантом организатора. Происхождение, титул, родственные и дружеские связи позволяли ему быть вхожим в самые высокие сферы русского общества и использовать это на благо тому делу, которому он служил.
                </p>
                <ScrollArrow position='absolute left-1/2 transform -translate-x-1/2 bottom-[15%]' visible='opacity-100'/>
            </div>
        </Section>
        <Section id='intro-transition' extraTvh='top-0'>
        </Section>
    </body>
</html>

    <script src="../utils/slowScroll"></script>
<script>
    // VIDEO UPDATE FOR 1440 / 1920
    import { intro } from "../data/data";

    function updateVideoSource() {
        const videoElement = document.querySelector('video') as HTMLVideoElement;
        const videoSourceElement = document.getElementById('intro-video-src') as HTMLSourceElement;

        if (videoSourceElement && videoElement) {
            const newSrc = window.innerWidth > 1440 ? `${intro.hand1920.src}` : `${intro.hand1440.src}`;
            if (videoSourceElement.src !== newSrc) {
                videoSourceElement.src = newSrc;
                videoElement.load();
                console.log("Video source updated to:", newSrc);
            }
        } else {
            console.error("Video or source element not found");
        }
    }

    window.addEventListener('DOMContentLoaded', updateVideoSource);
    window.addEventListener('resize', updateVideoSource);


    // INTRO COVER OBSERVER
    const introHand = document.getElementById('intro-hand') as HTMLElement;
    const videoElement = document.querySelector('video') as HTMLVideoElement;

    const introObserver = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                videoElement.play();
                videoElement.currentTime = 0;
            } else {
                videoElement.pause();
                videoElement.currentTime = 0;
            }
        });
    }, { threshold: 0.1 });

    introObserver.observe(introHand);

    // REDIRECT AFTER SCROLL TO INTRO TEXT
    const introTransition = document.getElementById('intro-transition') as HTMLElement;

    const transitionObserver = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                setTimeout(() => {
                    window.location.href = '/biography/junost';
                }, 500);
            }
        });
    }, { threshold: 0.1 });

    transitionObserver.observe(introTransition);

</script>