---
import BaseHead from '../components/global/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

// import frame from "../data/intro/_images/frame.png";
// import shield from "../data/intro/_images/shield.png";
// import shieldBlack from "../data/intro/_images/shield-black.png";
import hand from "../data/intro/_videos/hand.mp4";
import scrollArrow from "../data/common/_images/down-arrow.png";


interface Props {
	nextPage: boolean;
	title: string;
};

const { title = SITE_TITLE } = Astro.props;
const pageTitle = title === SITE_TITLE ? title : `УВАРОВ 200 - ${title}`;

---

<!doctype html>
<html lang="ru">
    <head>
        <BaseHead title={pageTitle} description={SITE_DESCRIPTION} />
    </head>
    <body class="bg-[url('../data/intro/_images/intro-bg.png')] bg-center bg-cover bg-fixed bg-no-repeat">
        <div id="video-intro-wrapper">
            <div id="fade-out-screen" class="fixed top-0 left-0 w-full h-full bg-black pointer-events-none z-50 animate-fadeOut"></div>
            <div class="fixed top-40 left-40 z-10 max-w-2xl text-4xl text-justify leading-relaxed italic text-white animate-blur">
                <p>Судьба была ко мне благосклонна, позволив в полной мере исполнить свое предназначение.</p>
            </div>
            <div id="hand-video-container" class="flex flex-col items-center max-h-screen overflow-x-hidden overflow-y-hidden">
                <video id="hand-video" src={hand} autoplay playsinline muted class="relative left-20 scale-125"/>
            </div>
            <div id="scroll-arrow" class="fixed bottom-80 left-40 z-10 opacity-0">
                <img src={scrollArrow.src} alt="Стрелка-скролл">
            </div>
        </div>
        <div id="intro-text" class="bg-black text-white fixed left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full h-screen flex flex-col items-center justify-center z-10 gap-y-20 opacity-0 transition-opacity duration-1000">
            <p class="max-w-lg xl:max-w-7xl xl:text-3xl text-justify leading-loose pointer-events-none">Алексей Сергеевич Уваров, граф, археолог, историк, почетный член Петербургской Академии наук, основатель, председатель Московского археологического общества и организатор Всероссийских археологических съездов, один из основателей Российского исторического музея.</p>
            <p class="max-w-lg xl:max-w-7xl xl:text-3xl text-justify leading-loose pointer-events-none">Он принадлежит к когорте ярчайших личностей, которыми так богата русская история XIX столетия. Уваров был прекрасно образован, щедро одарен способностями к наукам и обладал недюжинным талантом организатора. Происхождение, титул, родственные и дружеские связи позволяли ему быть вхожим в самые высокие сферы русского общества и использовать это на благо тому делу, которому он служил.</p>
            <div id="scroll-arrow-2" class="z-20 animate-bounce">
                <img src={scrollArrow.src} alt="Стрелка-скролл">
            </div>
        </div>
	</body>
</html>

<script>
    const videoHand = document.getElementById('hand-video') as HTMLVideoElement;
    const videoContainer = document.getElementById('hand-video-container') as HTMLElement;
    const scrollArrow = document.getElementById('scroll-arrow') as HTMLElement;
    const videoIntroWrapper = document.getElementById('video-intro-wrapper') as HTMLElement;
    const introText = document.getElementById('intro-text') as HTMLElement;
    let hasTransitioned = false;

    document.addEventListener('DOMContentLoaded', () => {
        window.scrollTo(0,0);
    })

    videoHand.addEventListener('ended', () => {
        setTimeout(() => {
            scrollArrow.classList.remove('opacity-0');
            scrollArrow.classList.add('animate-fadeInBounce');
            videoContainer.classList.remove('overflow-hidden');
            videoContainer.classList.remove('max-h-screen');
            videoContainer.classList.add('overflow-scroll');
        }, 1000);
    });

    window.addEventListener('scroll', () => {
        
        console.log('ScrollY:', window.scrollY);
        console.log('ScrollTop:', document.documentElement.scrollTop);
        if (window.scrollY > 100) {
            setTimeout(() => {
                videoIntroWrapper.classList.add('animate-fadeOut');
                videoIntroWrapper.classList.add('opacity-0');
                videoIntroWrapper.classList.add('pointer-events-none');
                introText.classList.remove('opacity-0');
                videoIntroWrapper.classList.add('mb-80');
            }, 500);
        }

        if (window.scrollY > 400 && !hasTransitioned) { // Increase threshold to 1000 or higher
            setTimeout(() => {
                hasTransitioned = true;
                window.location.href = '/biography/junost';
            }, 500);
        }
    });
</script>