---
import BaseHead from '../components/global/BaseHead.astro';
import ScrollArrow from '../components/global/ScrollArrow.astro';
import Section from '../components/global/Section.astro';
import Loading from '../components/global/Loading.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { intro } from "../data/data";

interface Props {
	nextPage: boolean;
	title: string;
};

const { title = SITE_TITLE } = Astro.props;
const pageTitle = title === SITE_TITLE ? title : `УВАРОВ 200 - ${title}`;

---

<!doctype html>
<html lang="ru">
    <head>
        <BaseHead title={pageTitle} description={SITE_DESCRIPTION} />
    </head>

    <body class="bg-[url('../data/common/_images/chapter-bg.png')] bg-cover bg-no-repeat bg-fixed">

        <Loading />

        <Section id='intro-cover'>
            <div class="fixed inset-0 w-full h-full">
                <div class="relative w-full h-screen bg-[url('../data/intro/_images/intro-cover.png')] bg-cover bg-no-repeat">
                </div>
            </div>
        </Section>

        <div class="relative w-full h-screen">
            <section id="intro-hand" class="section w-full h-full">
                <div class="fixed-wrapper fixed inset-0 w-full h-full">
                    <video autoplay muted class="w-full h-full object-cover">
                        <source id="intro-video-src" src={intro.hand1440.src} type="video/mp4">
                    </video>
                </div>
            </section>
        </div>
        
        <Section id="intro-text" maxW='w-[90%]' maxH='h-[90%] top-0'>
            <div class="
            text-white

            flex
            flex-col
            justify-center
            items-center
            gap-y-20
            3xl:gap-y-40
            4xl:gap-y-80

            text-base 2xl:text-2xl 3xl:text-4xl 4xl:text-6xl

            px-16
            pt-[10vh]

            w-full
            h-[90%]
            ">
              <p>
                Алексей Сергеевич Уваров, граф, археолог, историк, почетный член Петербургской Академии наук, основатель, председатель Московского археологического общества и организатор Всероссийских археологических съездов, один из основателей Российского исторического музея.
              </p>
              <p>
                Он принадлежит к когорте ярчайших личностей, которыми так богата русская история XIX столетия. Уваров был прекрасно образован, щедро одарен способностями к наукам и обладал недюжинным талантом организатора. Происхождение, титул, родственные и дружеские связи позволяли ему быть вхожим в самые высокие сферы русского общества и использовать это на благо тому делу, которому он служил.
              </p>
              <ScrollArrow position="absolute mx-auto inset-x-0 bottom-[10%] md:bottom-[12%] lg:bottom-[15%]" visible="opacity-100" size='w-[4%]'/>
            </div>
          </Section>
        
        <!-- <Section id='intro-transition'>
        </Section> -->
    </body>
</html>


<script src="../utils/slowScroll"></script>
<script>

    // VIDEO UPDATE FOR 1440 / 1920
    import { intro } from "../data/data";

    let resizeTimeout : any;

    function updateVideoSource() {
        const videoElement = document.querySelector('video') as HTMLVideoElement;
        const videoSourceElement = document.getElementById('intro-video-src') as HTMLSourceElement;

        if (videoSourceElement && videoElement) {
            const newSrc = window.innerWidth > 1440 ? `${intro.hand1920.src}` : `${intro.hand1440.src}`;
            if (videoSourceElement.src !== newSrc) {
                videoSourceElement.src = newSrc;
                videoElement.load();
                console.log("Video source updated to:", newSrc);
            }
        } else {
            console.error("Video or source element not found");
        }
    }

    window.addEventListener('resize', () => {
        clearTimeout(resizeTimeout);
        resizeTimeout = setTimeout(() => {
            updateVideoSource();
        }, 200); // Adjust the delay if necessary
    });

    window.addEventListener('DOMContentLoaded', updateVideoSource);

    // INTRO COVER OBSERVER
    const introHand = document.getElementById('intro-hand') as HTMLElement;
    const videoElement = document.querySelector('video') as HTMLVideoElement;

    const introObserver = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                videoElement.play();
                videoElement.currentTime = 0;
            } else {
                videoElement.pause();
                videoElement.currentTime = 0;
            }
        });
    }, { threshold: 0.1 });

    introObserver.observe(introHand);

    // REDIRECT AFTER SCROLL TO INTRO TEXT
    const introTransition = document.getElementById('intro-transition') as HTMLElement;

    const transitionObserver = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                setTimeout(() => {
                    window.location.href = '/biography/junost';
                }, 500);
            }
        });
    }, { threshold: 0.1 });

    transitionObserver.observe(introTransition);

</script>