---
import BioWrapper from "../../components/biography/BioWrapper.astro";
import HeaderWrapper from "../../components/global/header/HeaderWrapper.astro";
import Section from "../../components/global/Section.astro";
import Chapter from "../../components/biography/Chapter.astro";
import ScrollArrow from "../../components/global/ScrollArrow.astro";
import InfoOverlay from "../../components/global/InfoOverlay.astro";

import { activitiesAssets } from "../../data/data";

const princes = [activitiesAssets.princesLection, activitiesAssets.lectionFull]
---


<BioWrapper>
    <!-- Chapter Intro -->
    <Chapter />

    <!-- Header -->
    <HeaderWrapper />
    
    <!-- Moscow Image -->
    <Section id="moscow" extraClass="bg-[url('../data/biography/_images/activities/kremlin.png')] bg-center bg-contain bg-no-repeat">
    </Section>

    <!-- MAO Text 1 -->
    <Section id="mao-text-1">
        <div class="flex flex-col justify-center text-4xl leading-normal gap-y-[10vh] 4xl:gap-y-[5vh]">
            <p>
                Свой замысел о создании Московского Археологического общества (МАО) Уваров обнародовал 17 февраля 1864 года.
            </p>
            <p>
                Программа Общества, ориентированная на изучение преимущественно русской археологии, популяризацию археологических и исторических знаний, ставила целью пробудить интерес к прошлому России и отечественным древностям.
            </p>
        </div>
    </Section>

    <!-- MAO Image 1 -->
    <Section id="mao-image-1" extraClass="bg-[url('../data/biography/_images/activities/mao.png')] bg-center bg-contain bg-no-repeat">
    </Section>

    <!-- MAO Text 2 -->
    <Section id="mao-text-2">
            <p class="text-5xl leading-normal px-[5%]">
                Уваров стремился привлечь в МАО всех интересующихся русской историей. Образование и сословная принадлежность не имели здесь решающего значения.
            </p>
    </Section>

    <!-- MAO Image 2 -->
    <Section id="mao-image-2" extraClass="bg-[url('../data/biography/_images/activities/mao-bg.png')] bg-center bg-cover bg-no-repeat flex justify-center items-center">
            <p class="text-4xl leading-normal px-[2%] max-w-[1180px] pb-[10%]">
                Программа нового Общества, организационные принципы его деятельности привлекли к участию в нем профессоров Московского университета, литераторов, архитекторов, художников: среди них – Ф. И. Буслаев, С. М. Соловьев, И. Е. Забелин, М. П. Погодин, Л. В. Даль.
            </p>
    </Section>

    <!-- MAO Text 3 -->
    <Section id="mao-text-3">
        <p class="text-5xl leading-normal px-[5%]">
            Поставив задачу поистине общенационального масштаба – обратить русское общество к своим истокам, Уваров не ограничил деятельность МАО лишь Москвой.
        </p>
    </Section>

    <!-- Uvarov Medal -->
    <Section id="uvarov-medal"
    extraClass="bg-[url('../data/biography/_images/activities/uvarov-medal-portait.png')] bg-center bg-cover bg-no-repeat flex items-center px-[5%]">
        <div class="w-[530px] max-h-[500px] 2xl:max-h-[730px] flex flex-col items-start">
            <img src={activitiesAssets.uvarovMedal.src} alt={activitiesAssets.uvarovMedal.alt} class="max-w-[250px] 2xl:max-w-[360px]"/>
            <img src={activitiesAssets.uvarovMedalBack.src} alt={activitiesAssets.uvarovMedalBack.alt} class="max-w-[180px] 2xl:max-w-[310px] self-end"/>
        </div>
    </Section>

    <!-- MAO Text 4 -->
    <Section id="mao-text-4">
        <div class="flex flex-col justify-center items-start text-2xl leading-normal px-[2%] gap-y-[8vh] 4xl:gap-y-[3vh]">
            <p>
                С 1869 года по его инициативе начинают собираться всероссийские археологические съезды в различных городах России – Москве, Петербурге, Киеве, Казани, Тифлисе, Одессе. Съездам предшествовало всестороннее изучение памятников истории и культуры тех регионов, где они проводились. На съездах обсуждались вопросы изучения и охраны памятников, состояние архивного дела, анализировалось положение с изучением древностей данного региона. В рамках дискуссий регулярно подчеркивалась необходимость преподавания археологии в российских университетах.
            </p>
            <p>
                Работу съездов сопровождали выставки. Выступления ученых публиковались в «Трудах» съездов. По следам съездов в ряде городов создавались научно-исторические общества, а на основе выставок – музеи.
            </p>
            <p>
                Значительна была и издательская деятельность Общества. С 1865 года периодически выходили труды МАО «Древности». В 1867–1868 годах издавался журнал «Археологический вестник». Постепенно расширялась сфера исследований: при Обществе были созданы Восточная, Кавказская, Славянская и ряд других комиссий, отдельно публиковались и их труды.
            </p>
        </div>
    </Section>

    <!-- Princes Images -->
    <div class="relative w-full overflow-hidden">
        <div id="princes-bg" class="absolute top-0 left-0 w-full h-full bg-[url('../data/biography/_images/activities/princes-lection.png')] bg-center bg-contain bg-no-repeat z-0 transition-opacity duration-1000 opacity-0"></div>
        <Section id="princes">
            <div class="w-full flex justify-end">
                <img src={activitiesAssets.lection.src} alt={activitiesAssets.lection.alt}>
            </div>
            <InfoOverlay contentType="slider" images={princes} isIconInverted={true} overlayId="princes" iconPosition="absolute bottom-[1vh] left-1/2"/>
        </Section>
    </div>

    <!-- Princes Text -->
    <Section id="princes-text">
        <div class="flex flex-col justify-between text-4xl leading-normal gap-y-[10vh] 4xl:gap-y-[5vh]">
            <p>
                Будучи приближенным к Императорской чете и располагая их доверием, А. С. Уваров с середины 1870-х годов читал курс лекций по археологии и руководил образовательными археологическими экскурсиями великих князей Сергея и Павла Александровичей в Крым, Новгород и Псков.
            </p>
            <div class="relative flex flex-col gap-y-[5vh] 4xl:gap-y-[2vh] text-3xl w-[22%]">
                <p>следующая глава</p>
                
                <ScrollArrow 
                    position="0" 
                    invert="invert" 
                    visible="opacity-100" 
                    size="w-auto"
                    animated={false}
                    redirectUrl="/biography/museum"
                    />
            </div>
        </div>
    </Section>

</BioWrapper>


<script src="../../utils/sharedBgObserver.js"></script>