---
import BioWrapper from "../../components/biography/BioWrapper.astro";
import HeaderWrapper from "../../components/global/header/HeaderWrapper.astro";
import Section from "../../components/global/Section.astro";
import Chapter from "../../components/biography/Chapter.astro";

import { epilogueAssets } from "../../data/data";
---


<BioWrapper>
    <!-- Chapter Intro -->
    <Chapter />

    <!-- Header -->
    <HeaderWrapper />

    <!-- Uvarov Dead -->
    <Section id="uvarov-dead" sectionFlex="flex flex-col items-center justify-center md:justify-end" contentHeight="h-auto md:h-[87vh]">
        <div class="flex flex-col justify-center items-center text-lg md:text-2xl 2xl:text-4xl leading-snug 2xl:leading-snug gap-y-[5vh] text-center">
            <p class="max-w-3xl">
                29 декабря 1884 года (10 января 1885 года) 
                <br>
                Алексей Сергеевич Уваров скончался.
            </p>
            <div id="dead-image" class="flex flex-col justify-center items-center">
                <img src={epilogueAssets.uvarovDead.src} alt={epilogueAssets.uvarovDead.alt} class="md:max-w-[60%] 2xl:max-w-[80%]"/>
            </div>
        </div>
    </Section>

    <!-- Uvarov Tomb -->
    <Section id="uvarov-tomb" sectionFlex="flex flex-col items-center justify-center md:justify-end" contentHeight="h-auto md:h-[87vh]" sectionSize="w-full h-[130vh] md:h-screen">
        <div class="
        grid  
        gap-x-8
        w-full
        mx-auto
        
        h-auto
        grid-cols-1
        grid-rows-2 

        md:h-full
        md:grid-rows-1 
        md:grid-cols-2
        ">
            <div class="flex flex-col justify-center text-center md:text-left">
                <p class="max-w-md 2xl:max-w-2xl text-lg md:text-2xl 2xl:text-4xl leading-snug 2xl:leading-snug md:px-[10%]">
                    Его смерть стала невосполнимой потерей для русской науки, для русской культуры, но замыслы и начинания ученого не ушли в небытие.
                </p>
            </div>
            <div id="tomb-image" class="flex flex-col justify-center items-center">
                <img src={epilogueAssets.uvarovTomb.src} alt={epilogueAssets.uvarovTomb.alt} class="md:max-w-[70%]"/>
            </div>
        </div>
    </Section>

    <!-- Uvarov Last Photo -->
    <Section id="uvarov-last-photo" contentHeight="h-auto md:h-[80vh]" sectionFlex="flex flex-col items-center justify-center md:justify-end" sectionSize="w-full h-[130vh] md:h-screen">
        <div class="
        grid 
        w-full

        h-auto
        grid-cols-1
        grid-rows-2 

        md:h-full
        md:grid-rows-1 
        md:grid-cols-2
        ">
            <div id="last-photo" class="flex flex-col justify-center items-center">
                <img src={epilogueAssets.uvarovPhotoEpilogue.src} alt={epilogueAssets.uvarovPhotoEpilogue.alt} class="max-w-[50%]"/>
            </div>
            <div class="flex flex-col justify-center text-lg 2xl:text-2xl gap-y-[10vh] max-w-3xl leading-normal px-[10%]">
                <p class="">
                    Уваровское наследие является составной частью национальной культуры, и жизнеспособность его во многом определили те, кто принял и продолжал дело графа Уварова. 
                </p>
                <p>
                    В Российском историческом музее эта забота пришлась на долю выдающегося историка И.Е. Забелина, в Московском Археологическом обществе – на долю вдовы ученого, Прасковьи Сергеевны Уваровой.
                </p>
            </div>
        </div>
    </Section>

    <!-- Epilogue Titles Separator -->
    <Section id="separator" contentHeight="h-auto" sectionFlex="flex flex-col justify-center items-center" sectionSize="h-[50vh] md:h-screen">
            <div id="separator-image" class="flex flex-col justify-center items-center">
                <img src={epilogueAssets.epilogueSeparator.src} alt={epilogueAssets.epilogueSeparator.alt} class="max-w-[50%]"/>
            </div>
    </Section>
    
    <!-- Uvarov Titles -->
    <Section id="uvarov-dead" contentHeight="h-auto" sectionSize="" sectionFlex="flex flex-col justify-center items-center">
        <div class="flex flex-col justify-center items-center text-sm md:text-lg 2xl:text-2xl leading-relaxed 2xl:leading-relaxed text-center">
            <p class="max-w-3xl">
                <span class="italic">Куратор проекта</span> - Мария Лемигова
                <br>
                <span class="italic">Автор текста</span> - Наталья Стрижова
                <br>
                <span class="italic">Видео</span> - Дмитрий Садовников
                <br>
                <br>
                <br>
                <span class="italic">Продюсер</span> - Дмитрий Трушников
                <br>
                <span class="italic">Арт-директор</span> - Антон Рамирес
                <br>
                <span class="italic">Дизайнер</span> - Александра Георге
                <br>
                <span class="italic">Вёрстка</span> - Иван Захаров
                <br>
                <span class="italic">Анимация</span> - Константин Елкин
            </p>
        </div>
    </Section>
    
    <!-- FIO -->
    <Section id="uvarov-dead">
        <div class="flex flex-col justify-center items-center text-base md:text-lg 2xl:text-2xl leading-relaxed 2xl:leading-relaxed gap-y-[5vh] text-center">
            <p class="max-w-3xl">
                Проект реализован при поддержке
            </p>
            <div id="fio" class="flex flex-col justify-center items-center">
                <img src={epilogueAssets.fioLogo.src} alt={epilogueAssets.fioLogo.alt} class=""/>
            </div>
        </div>
    </Section>

</BioWrapper>
