---
import BioWrapper from "../../components/biography/BioWrapper.astro";
import HeaderWrapper from "../../components/global/header/HeaderWrapper.astro";
import Section from "../../components/global/Section.astro";
import Chapter from "../../components/biography/Chapter.astro";
import ScrollArrow from "../../components/global/ScrollArrow.astro";

import { common, expeditionsAssets } from "../../data/data";

---

<style>
    .splide__arrow {
        background: transparent;
        width: auto;
        filter: invert(1);
    }

</style>

<BioWrapper>

    <!-- Chapter Intro -->
    <Chapter />

    <!-- Header -->
    <HeaderWrapper />

    <!-- Archeology Text -->
    <Section id="archeology-text" >
        <div class="flex justify-center items-center text-4xl leading-normal font-semibold h-full px-[5%]">
            <p>
                Окончив университет со степенью кандидата в 1845 году, поступил на службу в Министерство иностранных дел. По окончании университета, параллельно службе, Уваров увлекся археологией.
            </p>
        </div>
    </Section>

    <!-- Archeologists -->
    <Section id="archeologists" h="h-[550px] 2xl:h-[650px]" maxH='top-[20vh] 4xl:top-[10vh]'>
        <div class="h-full w-full flex flex-col justify-center items-center">
            
            <div class=" font-medium text-2xl leading-normal">
                В 1846 году, он, наряду с маститыми нумизматами И. А. Бартоломеем, Б. В. Кене, П. И. Сабатье, вошел в число учредителей Петербургского Археолого-нумизматического общества (впоследствии – Русское археологическое общество).
            </div>

            <div class="grid grid-cols-3 gap-x-8">
                <div class="col-span-1 flex flex-col justify-end items-end font-medium">
                    <p class="max-w-xl text-sm pb-[4vh]">
                        Портрет членов-учредителей Петербургского Археологическо-нумизматического общества Фотограф К. Даутендей Санкт-Петербург. 1850 г. Стоят: И.А. Бартоломей, Б.В. Кёне, А.С. Уваров. Сидят: Я.Я. Рейхель, М.Д. Топчибашев.
                    </p>
                </div>
                <div id="archeologists-image" class="col-span-2 flex flex-col items-end justify-center relative">
                    <img src={expeditionsAssets.archaeologists.src} alt={expeditionsAssets.archaeologists.alt} class="max-w-[500px] 2xl:max-w-[600px]"/>
                </div>
            </div>
        </div>
    </Section>

    <!-- Zabelin -->
    <Section id="zabelin" h="h-[600px] 2xl:h-[700px]" maxH='top-[20vh] 4xl:top-[10vh]'>
        <div class="h-full w-full flex flex-col justify-center items-center">
            <div class="grid grid-cols-3 gap-x-8">
                <div id="zabelin-image" class="col-span-1 flex flex-col items-start justify-center min-w-[400px]">
                    <img src={expeditionsAssets.zabelin.src} alt={expeditionsAssets.zabelin.alt} class="max-w-[300px] 2xl:max-w-[400px]"/>
                </div>
                <div class="col-span-2 flex flex-col justify-between items-end font-medium text-right">
                    <p class="max-w-md text-lg font-semibold">
                        Он предложил начать работу по составлению Русского археологического словаря и подготовил для него ряд статей. В 1849 году Уваров назначил денежные вознаграждения за исследования в области русских древностей, и среди награжденных авторов были И. Е. Забелин и Д. А. Ровинский.
                    </p>
                    <p class="max-w-sm text-sm">
                        Забелин Иван Егорович (с дагерротипа 1856 г.) Москва. 1900-е гг.
                    </p>
                </div>

            </div>
        </div>
    </Section>

    
    <!-- Hersones Map BG -->
    <div id="hersones-bg" class="fixed top-[10vh] left-0 w-full h-[90vh] bg-[url('../data/biography/_images/expeditions/hersones-bg.png')] bg-center bg-contain bg-no-repeat z-0 transition-opacity duration-1000 opacity-0"></div>

    <!-- Hersones Text -->
    <Section id="hersones-text" maxH='max-h-[550px] top-[20vh] 4xl:top-[10vh]'>
        <div class="flex justify-center items-center text-4xl leading-normal font-semibold h-full px-[5%]">
            <p>
                По решению специальной комиссии Общества, летом 1848 года Уваров совершил путешествие по Южным землям России, обследуя наиболее важные в археологическом отношении местности.
            </p>
        </div>
    </Section>

    <!-- Hersones Image -->
    <Section id="hersones-image" maxH='max-h-[700px] top-[20vh] 4xl:top-[10vh]'>
        <div class="flex flex-col items-center justify-center">
            <img src={expeditionsAssets.khersones[0].src} alt={expeditionsAssets.khersones[0].alt} class="max-h-[550px] 2xl:max-h-[700px]"/>
        </div>
    </Section>

    <!-- Hersones Wall (Vertical BG) -->
    <div 
        id="hersones-wall-bg" 
        class="
            relative 
            top-0 
            left-0 
            max-w-[1490px] 
            max-h-[2048px]
            overflow-hidden
            mx-auto

            bg-[url('../data/biography/_images/expeditions/hersones-wall-bg.png')] 
            bg-center
            bg-cover
            3xl:bg-contain 
            bg-no-repeat 
            z-0 

            transition-opacity 
            duration-1000 
            opacity-0 

        ">
        <Section id="hersones-wall-top" w="w-[1100px]" sectionClass="section relative w-full min-h-[800px]">
            <div class="flex justify-center items-center text-5xl leading-normal font-semibold h-full px-[5%] text-white">
                <p>
                    Он посетил Каменское городище, Херсон, Ольвию, Херсонес и другие.
                </p>
            </div>
        </Section>
    
        <Section id="hersones-wall-bottom" w="w-[1100px]" sectionClass="section relative w-full min-h-[800px]">
            <div class="flex justify-center items-center text-5xl leading-normal font-semibold h-full px-[5%] text-white">
                <p>
                    Раскопки ученый не вел, все приобретенные им антики либо «подъемный» материал (фрагменты керамических стеклянных сосудов, лепная керамика, монеты), либо покупки у местного населения.
                </p>
            </div>
        </Section>


    </div>

    <!-- Research --- Trip to the South --- Cover -->
    <Section id="research" h="h-[600px] 2xl:h-[700px]" maxH='top-[20vh] 4xl:top-[10vh]''>
        <div class="h-full w-full flex flex-col justify-center items-center">
            <div class="grid grid-cols-3 gap-x-8">
                <div id="research-image" class="col-span-1 flex flex-col items-start justify-center min-w-[400px]">
                    <img src={expeditionsAssets.researchCover.src} alt={expeditionsAssets.researchCover.alt} class="max-w-[300px] 2xl:max-w-[400px]"/>
                </div>
                <div class="col-span-2 flex flex-col justify-center items-center">
                    <p class="max-w-3xl text-4xl font-semibold px-[2%]">
                        Частично, эти предметы послужили источником при написании Уваровым первой части 
                        <br>
                        <span class="italic">«Исследования о древностях Южной России и берегов Чёрного моря». </span>
                    </p>
                </div>
            </div>
        </div>
    </Section>

    <!-- Research --- Trip to the South --- Slider -->
    <Section id="research-slider"  extraClass="flex justify-center items-center">
                <div class="w-full">
                    <div x-data="{ init() {
                            new Splide(this.$refs.splide, {
                                perPage: 1,
                                perMove: 1,
                                pagination: false,
                                breakpoints: {
                                    640: {
                                        perPage: 1,
                                    },
                                },
                            }).mount();
                        },
                    }">
                        <section
                            class="splide"
                            aria-label="Library Slider"
                            x-ref="splide"
                            style="padding-left: 4rem; padding-right: 4rem;"
                            >
                            
                            <div class="splide__arrows">
                                <button class="splide__arrow splide__arrow--prev">
                                    <img src={common.prevArrow.src} alt={common.prevArrow.alt}>
                                </button>
                                <button class="splide__arrow splide__arrow--next">
                                    <img src={common.nextArrow.src} alt={common.nextArrow.alt}>
                                </button>
                            </div>

                            <div class="splide__track">
                                <ul class="splide__list">
                                    {expeditionsAssets.research.map((researchItem) => (
                                        <li class="splide__slide flex flex-col justify-center items-center">
                                            <div class="h-[600px]">
                                                <img
                                                    alt={researchItem.alt}
                                                    src={researchItem.src}
                                                    class="object-contain bottom-0 w-full h-full"
                                                />
                                            </div>
                                        </li>
                                    ))}
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
    </Section>

    <!-- Nord Map BG -->
    <div id="nord-map-bg" class="fixed top-[10vh] left-0 w-full h-[90vh] bg-[url('../data/biography/_images/expeditions/nord-map-bg.png')] bg-center bg-contain bg-no-repeat z-0 transition-opacity duration-1000 opacity-0"></div>

    <!-- Nord Text -->
    <Section id="nord-text" h="h-[500px]" maxH='max-h-[750px] top-[20vh] 4xl:top-[10vh]'>
        <div class="flex flex-col justify-center items-center gap-y-[10vh] 4xl:gap-y-[5vh] text-2xl leading-normal  font-semibold h-full px-[5%] ">
            <p>
                В 1850 году молодой граф был переведен в Министерство внутренних дел, в 1853 году его причислили к Кабинету Его Императорского Величества. Начиная с 1850 и до 1856 года, он служил под началом двоюродного дяди Л. А. Перовского, который в 1852 году получил для своего ведомства право контроля над археологическими изысканиями на территории России.
            </p>
            <p>
                В 1851–1852 годах Уваров возглавил археологическую экспедицию в Суздальский уезд. Материалы, полученные им в ходе работ, стали основным источником для исследования «Меряне и их быт по курганным раскопкам».
            </p>
        </div>
    </Section>

    <!-- Nord Image -->
    <Section id="nord-image" maxH='max-h-[650px] top-[20vh] 4xl:top-[10vh]'>
        <div class="flex flex-col items-center justify-center h-full text-2xl leading-normal font-semibold">
            <p>
                В 1851 году Уваров проводил раскопки и на территории суздальского Спасо-Евфимиева монастыря в поисках точного места захоронения князя Дмитрия Михайловича Пожарского.
            </p>
            <img src={expeditionsAssets.suzdal.src} alt={expeditionsAssets.suzdal.alt} class="max-h-[450px] 2xl:max-h-[700px]"/>
        </div>
    </Section>

    <!-- Pozharsky -->
    <Section id="pozharsky" h="h-[550px] 2xl:h-[650px]" maxH='top-[20vh] 4xl:top-[10vh]'>
        <div class="h-full w-full flex flex-col justify-center items-center">
            
            <div class="grid grid-cols-3 gap-x-8">
                <div class="col-span-2 flex flex-col justify-start items-start font-medium">
                    <p class="max-w-3xl px-[5%] text-3xl">
                        Ему удалось обнаружить усыпальницу Пожарских и среди нескольких надгробий выявить то, которое ранее было установлено над захоронением князя.
                    </p>
                </div>
                <div id="pozharsky-image" class="col-span-1 flex flex-col items-end justify-center relative">
                    <video class="max-w-[550px] 2xl:max-w-[650px]" autoplay loop muted>
                        <source src={expeditionsAssets.pozharskySketch.src}>
                    </video>
                </div>
            </div>
        </div>
    </Section>

    <!-- Olvia -->
    <Section id="olvia" maxH="" w="w-[1440px]" h="h-[1024px]" extraClass="bg-[url('../data/biography/_images/expeditions/olvia-bg.png')] bg-center bg-cover bg-no-repeat flex justify-center items-center">
        <div class="flex justify-center items-center text-4xl leading-normal font-semibold h-full px-[2%] pb-[15%] max-w-[1200px]">
            <p>
                Позднее, в 1853–1854 годах Уваров возглавил экспедицию в Таврическую губернию, работал в Ольвии, Неаполе Скифском, Херсонесе. 
            </p>
        </div>
    </Section>

    <!-- Hersones Slider -->
    <Section id="hersones-slider" h="h-[700px] 3xl:h-[900px]" maxH="max-h-full 2xl:top-[15vh] 4xl:top-[10vh]" w="w-[1000px] 3xl:w-[1300px]" extraClass="bg-[url('../data/biography/_images/expeditions/kherson-bg.png')] bg-center bg-cover bg-no-repeat flex justify-end items-end mb-[20vh]">
        <div class="flex flex-col justify-between items-center w-full mx-auto h-auto">
            <p id="firstSlideText" class="absolute top-1/4 max-w-[1250px] font-medium text-2xl leading-normal flex-shrink-0">
                В Херсонесе археолог открыл кафедральный храм VI века.
            </p>
            <div class="w-[1300px] max-w-[1300px] flex-grow">
                <section
                    id="splide"
                    class="splide max-w-[1300px] h-full"
                    aria-label="Hersones Slider"
                >
                    <div class="splide__arrows">
                        <button class="splide__arrow splide__arrow--prev">
                            <img src={common.prevArrow.src} alt={common.prevArrow.alt}>
                        </button>
                        <button class="splide__arrow splide__arrow--next">
                            <img src={common.nextArrow.src} alt={common.nextArrow.alt}>
                        </button>
                    </div>
    
                    <div class="splide__track h-full">
                        <ul class="splide__list h-full">
                            {expeditionsAssets.kherson.map((khersonItem) => (
                                <li class="splide__slide flex flex-col justify-end items-center h-full">
                                    <div class="w-full h-full">
                                        <img
                                            alt={khersonItem.alt}
                                            src={khersonItem.src}
                                            class="object-contain max-w-[1000px] 3xl:max-w-[1300px] h-full mx-auto"
                                        />
                                    </div>
                                </li>
                            ))}
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </Section>

    <!-- Hersones Text Conclusion -->
    <Section id="hersones-text-conclusion" h="h-[500px]" maxH='max-h-[750px] top-[25vh] 4xl:top-[10vh]'>
        <div class="flex flex-col justify-between items-start text-3xl leading-normal font-medium h-full px-[3%]">
            <p>
                Там были найдены древнегреческие надгробия с надписями, обломки мраморных колонн, пьедесталов, плит с высеченными крестами, мозаики.
            </p>
            <p>
                Уже в XX веке, рядом с Уваровской базиликой – такое название получила церковь во имя Святых Апостолов в научной литературе – был обнаружен баптистерий, в котором, предположительно, принял крещение Великий князь Владимир.
            </p>
            <p>
                Благодаря этим исследованиям, А. С. Уваров внес значительный вклад в изучение археологических памятников юга России.
            </p>
        </div>
    </Section>

    <!-- Porechye Text -->
    <Section id="porechye-text" h="h-[500px]" maxH='top-[20vh] 4xl:top-[10vh]'>
        <div class="flex flex-col justify-center items-start text-3xl leading-normal font-medium h-full px-[5%] gap-y-[10vh] 4xl:gap-y-[5vh]">
            <p>
                После смерти отца Уваров стал владельцем почти 100 тысяч десятин земли (в Московской, Владимирской, Пензенской, Саратовской губерниях) и дома в Москве.
            </p>
            <p>
                В числе прочих имений он унаследовал подмосковную усадьбу Поречье.
            </p>
        </div>
    </Section>
    
    <!-- Porechye Image -->
    <Section id="porechye" maxH="" w="w-[1440px]" h="h-[1024px]" extraClass="bg-[url('../data/biography/_images/expeditions/porechye-bg.png')] bg-center bg-contain bg-no-repeat">
    </Section>

    <!-- Perovsky -->
    <Section id="perovsky" h="h-[400px]">
        <div class="flex flex-col justify-center items-start font-medium h-full px-[5%] gap-y-[10vh] 4xl:gap-y-[5vh]">
            <p class="text-4xl leading-relaxed">
                Смерть Л. А. Перовского в 1856 году заставила его покинуть Петербург и с 1857 года и до конца дней все планы и начинания он связал с Москвой. 
            </p>
            <div class="relative text-3xl">
                <p>следующая глава</p>
                
                <ScrollArrow 
                    position="absolute mx-auto inset-x-0 bottom-[-10vh] 3xl:bottom-[-9vh] 4xl:bottom-[-6vh]" 
                    invert="invert" 
                    visible="opacity-100" 
                    size="w-1/3"
                    animated={false}
                    redirectUrl="/biography/family"
                    />
            </div>
        </div>
    </Section>

</BioWrapper>



<script>

    // SHARED BG OBSERVER
    const hersonesBG = document.querySelector('#hersones-bg') as HTMLElement;
    const hersonesWallBg = document.querySelector('#hersones-wall-bg') as HTMLElement;
    const nordMapBg = document.querySelector('#nord-map-bg') as HTMLElement;
    const targetSections = document.querySelectorAll('#hersones-text, #hersones-image, #hersones-wall-top, #hersones-wall-bottom, #nord-text, #nord-image');

    let visibleSections = new Set(); // To keep track of visible sections

    const sharedBgObserver = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                visibleSections.add(entry.target.id); // Add section ID when it enters
            } else {
                visibleSections.delete(entry.target.id); // Remove section ID when it leaves
            }

            // Handle visibility of hersones-bg
            if (visibleSections.has('hersones-text') || visibleSections.has('hersones-image')) {
                hersonesBG.classList.add('opacity-100');
                hersonesBG.classList.remove('opacity-0');
            } else {
                hersonesBG.classList.remove('opacity-100');
                hersonesBG.classList.add('opacity-0');
            }

            // Handle visibility of hersones-wall-bg
            if (visibleSections.has('hersones-wall-top') || visibleSections.has('hersones-wall-bottom')) {
                hersonesWallBg.classList.add('opacity-100');
                hersonesWallBg.classList.remove('opacity-0');
            } else {
                hersonesWallBg.classList.remove('opacity-100');
                hersonesWallBg.classList.add('opacity-0');
            }

            // Handle visibility of nord-map-bg
            if (visibleSections.has('nord-text') || visibleSections.has('nord-image')) {
                nordMapBg.classList.add('opacity-100');
                nordMapBg.classList.remove('opacity-0');
            } else {
                nordMapBg.classList.remove('opacity-100');
                nordMapBg.classList.add('opacity-0');
            }

        });
    }, { threshold: 0.5 });

    // Observe target sections
    targetSections.forEach(section => sharedBgObserver.observe(section));


    import Splide from '@splidejs/splide';
    document.addEventListener('DOMContentLoaded', function () {
        // Initialize Splide
        const splide = new Splide('#splide', {
            perPage: 1,
            perMove: 1,
            pagination: false,
            breakpoints: {
                640: {
                    perPage: 1,
                },
            },
        }).mount();

        const firstSlideText = document.getElementById('firstSlideText') as HTMLElement;

        // Function to show or hide paragraph based on active slide
        function toggleFirstSlideText() {
            if (splide.index === 0) {
                firstSlideText.style.display = 'block';
            } else {
                firstSlideText.style.display = 'none';
            }
        }

        // Run function on slider mount and when slides move
        splide.on('mounted', toggleFirstSlideText);
        splide.on('move', toggleFirstSlideText);
    });

</script>