---
import BioWrapper from "../../components/biography/BioWrapper.astro";
import HeaderWrapper from "../../components/global/header/HeaderWrapper.astro";
import Section from "../../components/global/Section.astro";
import Chapter from "../../components/biography/Chapter.astro";
import ScrollArrow from "../../components/global/ScrollArrow.astro";
import InfoOverlay from "../../components/global/InfoOverlay.astro";

import { common, expeditionsAssets } from "../../data/data";

const research = expeditionsAssets.research;
const cover = [expeditionsAssets.researchCoverFull];
---


<style>
    .splide__arrow {
        background: transparent;
        width: auto;
    }

    #hersones-splide .splide__arrow {
        background: transparent;
        width: auto;
        filter: invert(1);
    }
</style>


<BioWrapper>

    <!-- Chapter Intro -->
    <Chapter />

    <!-- Header -->
    <HeaderWrapper />

    <!-- Archeology Text -->
    <Section id="archeology-text" contentHeight="h-auto" sectionSize="w-full h-[90vh]" sectionFlex="flex flex-col justify-center">
            <p class="text-lg md:text-4xl 2xl:text-5xl leading-relaxed 2xl:leading-normal px-[5%] 2xl:px-[10%]">
                Окончив университет со степенью кандидата в 1845 году, поступил на службу в Министерство иностранных дел. По окончании университета, параллельно службе, Уваров увлекся археологией.
            </p>
    </Section>

    <!-- Archeologists -->
    <Section id="archeologists" contentHeight="h-full md:h-[87vh]"> 
        <div class="flex flex-col justify-between items-center h-full text-center md:text-left">
            <p class="text-base md:text-lg 2xl:text-4xl leading-normal">
                В 1846 году, он, наряду с маститыми нумизматами И. А. Бартоломеем, Б. В. Кене, П. И. Сабатье, вошел в число учредителей Петербургского Археолого-нумизматического общества (впоследствии – Русское археологическое общество).
            </p>

            <div id="archeologists-image" class="md:hidden">
                <img src={expeditionsAssets.archaeologists.src} alt={expeditionsAssets.archaeologists.alt}/>
            </div>

            <p class="md:hidden max-w-xl text-sm relative bottom-[5vh]">
                Портрет членов-учредителей Петербургского Археологическо-нумизматического общества Фотограф К. Даутендей Санкт-Петербург. 1850 г. 
                <br>
                Стоят: И.А. Бартоломей, Б.В. Кёне, А.С. Уваров. Сидят: Я.Я. Рейхель, М.Д. Топчибашев.
            </p>

            <div class="hidden md:grid grid-cols-3 gap-x-8">
                <div class="col-span-1 flex flex-col justify-end items-end">
                    <p class="max-w-2xl text-sm relative bottom-[5vh]">
                        Портрет членов-учредителей Петербургского Археологическо-нумизматического общества Фотограф К. Даутендей Санкт-Петербург. 1850 г. 
                        <br>
                        Стоят: И.А. Бартоломей, Б.В. Кёне, А.С. Уваров. Сидят: Я.Я. Рейхель, М.Д. Топчибашев.
                    </p>
                </div>
                <div id="archeologists-image" class="col-span-2 flex justify-end">
                    <img src={expeditionsAssets.archaeologists.src} alt={expeditionsAssets.archaeologists.alt} class="max-w-[65%]"/>
                </div>
            </div>
        </div>
    </Section>

    <!-- Zabelin -->
    <Section id="zabelin">
            <div class="hidden md:grid grid-cols-2 w-full">
                <div id="zabelin-image" class="flex items-start justify-start">
                    <img src={expeditionsAssets.zabelin.src} alt={expeditionsAssets.zabelin.alt} class="max-w-[55%]"/>
                </div>
                <div class="flex flex-col justify-between items-end text-right">
                    <p class="max-w-xl text-xl">
                        Он предложил начать работу по составлению Русского археологического словаря и подготовил для него ряд статей. В 1849 году Уваров назначил денежные вознаграждения за исследования в области русских древностей, и среди награжденных авторов были И. Е. Забелин и Д. А. Ровинский.
                    </p>
                    <p class="max-w-sm text-sm relative bottom-[5vh]">
                        Забелин Иван Егорович (с дагерротипа 1856 г.) Москва. 1900-е гг.
                    </p>
                </div>
            </div>

            <div class="md:hidden flex flex-col justify-between items-center text-center gap-y-[5vh]">
                <p class="max-w-xl text-base px-[2vh]">
                    Он предложил начать работу по составлению Русского археологического словаря и подготовил для него ряд статей. В 1849 году Уваров назначил денежные вознаграждения за исследования в области русских древностей, и среди награжденных авторов были И. Е. Забелин и Д. А. Ровинский.
                </p>
                <img src={expeditionsAssets.zabelin.src} alt={expeditionsAssets.zabelin.alt} class="max-w-[80%]"/>
                <p class="max-w-sm text-sm">
                    Забелин Иван Егорович (с дагерротипа 1856 г.) Москва. 1900-е гг.
                </p>
            </div>
    </Section>
    
    <!-- Hersones Map BG -->
    <div id="hersones-bg" class="fixed top-[10vh] left-0 w-full h-screen bg-[url('../data/biography/_images/expeditions/hersones-bg.png')] bg-center bg-cover bg-no-repeat transition-opacity duration-1000 opacity-0"></div>

    <!-- Hersones Text -->
    <Section id="hersones-text" contentHeight="h-auto" sectionSize="w-full h-[90vh]" sectionFlex="flex flex-col justify-center">
            <p class="text-lg md:text-4xl 2xl:text-5xl leading-normal">
                По решению специальной комиссии Общества, летом 1848 года Уваров совершил путешествие по Южным землям России, обследуя наиболее важные в археологическом отношении местности.
            </p>
    </Section>

    <!-- Hersones Image -->
    <Section id="hersones-image" contentHeight="h-auto md:h-[87vh]" sectionFlex="flex flex-col justify-center md:justify-end" contentWidth="w-full md:w-[90%]">
        <div class="flex flex-col items-center justify-center">
            <img src={expeditionsAssets.khersones[0].src} alt={expeditionsAssets.khersones[0].alt} class="md:max-w-[70%]"/>
        </div>
    </Section>

    <!-- Hersones Wall -->
    <div 
        id="hersones-wall-bg" 
        class="
            relative 
            top-0 
            left-0 
            max-w-full
            mx-auto

            bg-[url('../data/biography/_images/expeditions/hersones-wall-bg.png')] 
            bg-center
            bg-cover
            bg-no-repeat 

            max-h-screen

            md:max-h-[2048px]

            transition-opacity 
            duration-1000 
            opacity-0 

        ">
        <Section id="hersones-wall" sectionSize="w-full h-screen md:h-[2048px]" sectionFlex="flex flex-col justify-center" contentHeight="h-[75vh] md:h-[1250px]">
            <div class="h-full flex flex-col justify-between items-center text-lg md:text-5xl 2xl:text-6xl leading-normal 2xl:leading-relaxed px-[5%] text-white">
                <p>
                    Он посетил Каменское городище, Херсон, Ольвию, Херсонес и другие.
                </p>
                <p>
                    Раскопки ученый не вел, все приобретенные им античные артефакты либо «подъемный» материал (фрагменты керамических стеклянных сосудов, лепная керамика, монеты), либо покупки у местного населения.
                </p>
            </div>
        </Section>

    </div>

    <!-- Research --- Trip to the South --- Cover -->
    <Section id="research" contentWidth="w-[75%]" contentHeight="h-screen md:h-[87vh]">
        <div class="
            grid
            w-full 
            h-full

            grid-cols-1
            grid-rows-2

            md:grid-rows-1
            md:grid-cols-3 
            ">
            <div id="research-image" class="col-span-1 relative flex flex-col justify-center items-center">
                <img src={expeditionsAssets.researchCover.src} alt={expeditionsAssets.researchCover.alt} class="max-w-[65%] md:max-w-[75%]"/>
                <InfoOverlay contentType="image" images={cover} overlayId="research" iconPosition="absolute -bottom-[1vh] md:bottom-[2vh]"/>
            </div>
            <div class="col-span-2 flex flex-col justify-end md:justify-center items-end text-2xl 2xl:text-3xl gap-y-[1vh] text-center md:text-left">
                <p class="max-w-md 2xl:max-w-xl">
                    Частично, эти предметы послужили источником при написании Уваровым первой части
                </p>
                <p class="max-w-md 2xl:max-w-xl italic">«Исследования о древностях Южной России и берегов Чёрного моря». </p>
            </div>
        </div>
    </Section>

    <!-- Research --- Trip to the South --- Slider -->
    <Section id="research-slider" contentHeight="h-[65vh]" sectionSize="w-full h-screen" sectionFlex="flex flex-col justify-center ">
                <div class="w-full flex flex-col items-center justify-between h-full">
                    <p class="text-xl 2xl:text-3xl leading-normal">
                        Собрание карт и рисунков к Исследованиям о древностях Южной России и берегов Черного Моря.
                    </p>
                    <div 
                        class="w-full"
                        x-data="{ init() {
                            new Splide(this.$refs.splide, {
                                perPage: 3,
                                perMove: 1,
                                pagination: false,
                                breakpoints: {
                                    768: {
                                        perPage: 1,
                                    },
                                },
                            }).mount();
                        },
                    }">
                        <section
                            class="splide"
                            aria-label="Trip to the South Slider"
                            x-ref="splide"
                            style="padding-left: 4rem; padding-right: 4rem;"
                            >
                            
                            <div class="hidden md:block splide__arrows">
                                <button class="splide__arrow splide__arrow--prev">
                                    <img src={common.prevArrow.src} alt={common.prevArrow.alt}>
                                </button>
                                <button class="splide__arrow splide__arrow--next">
                                    <img src={common.nextArrow.src} alt={common.nextArrow.alt}>
                                </button>
                            </div>

                            <div class="md:hidden splide__arrows">
                                <button class="splide__arrow splide__arrow--prev">
                                    ←
                                </button>
                                <button class="splide__arrow splide__arrow--next">
                                    →
                                </button>
                            </div>

                            <div class="splide__track">
                                <ul class="splide__list">
                                    {expeditionsAssets.research.map((researchItem) => (
                                        <li class="splide__slide flex flex-col justify-center items-center">
                                            <div class="max-w-[60%]">
                                                <img
                                                    alt={researchItem.alt}
                                                    src={researchItem.src}
                                                    class="object-contain bottom-0 w-full h-full"
                                                />
                                            </div>
                                            <div class="flex-grow text-center mt-6">
                                                <h4 class="font-semibold text-xs 2xl:text-md leading-snug">{researchItem.title}</h4>
                                            </div>
                                        </li>
                                    ))}
                                </ul>
                            </div>
                        </section>
                    </div>
                    <InfoOverlay contentType="slider" images={research} overlayId="research-slider" iconPosition="absolute bottom-[2vh]"/>
                </div>
    </Section>

    <!-- Nord Map BG -->
    <div id="nord-map-bg" class="fixed top-0 left-0 w-full h-screen bg-[url('../data/biography/_images/expeditions/nord-map-bg-50.png')] bg-center bg-cover bg-no-repeat transition-opacity duration-1000 opacity-0"></div>

    <!-- Nord Text -->
    <Section id="nord-text"  contentHeight="h-auto mb-[10vh]" sectionSize="w-full h-[90vh]" sectionFlex="flex flex-col justify-end">
        <div class="flex flex-col justify-center items-center gap-y-[10vh] 4xl:gap-y-[5vh] text-2xl 2xl:text-4xl leading-normal">
            <p>
                В 1850 году молодой граф был переведен в Министерство внутренних дел, в 1853 году его причислили к Кабинету Его Императорского Величества. Начиная с 1850 и до 1856 года, он служил под началом двоюродного дяди Л. А. Перовского, который в 1852 году получил для своего ведомства право контроля над археологическими изысканиями на территории России.
            </p>
            <p>
                В 1851–1852 годах Уваров возглавил археологическую экспедицию в Суздальский уезд. Материалы, полученные им в ходе работ, стали основным источником для исследования «Меряне и их быт по курганным раскопкам».
            </p>
        </div>
    </Section>

    <!-- Nord Image -->
    <Section id="nord-image">
        <div class="flex flex-col items-center justify-center text-xl 2xl:text-4xl leading-normal">
            <p>
                В 1851 году Уваров проводил раскопки и на территории суздальского Спасо-Евфимиева монастыря в поисках точного места захоронения князя Дмитрия Михайловича Пожарского.
            </p>
            <img src={expeditionsAssets.suzdal.src} alt={expeditionsAssets.suzdal.alt} class="max-w-[90%] 2xl:max-w-[100%]"/>
        </div>
    </Section>

    <!-- Pozharsky
    <Section id="pozharsky" contentHeight="h-[80vh]">
        <div class="grid grid-cols-3 gap-x-8">
            <div class="col-span-2 flex flex-col justify-start items-start">
                <p class="max-w-md 2xl:max-w-xl text-2xl 2xl:text-4xl">
                    Ему удалось обнаружить усыпальницу Пожарских и среди нескольких надгробий выявить то, которое ранее было установлено над захоронением князя.
                </p>
            </div>
            <div id="pozharsky-image" class="col-span-1 flex flex-col items-end justify-center relative">
                <video class="max-w-[550px] 2xl:max-w-[650px]" autoplay loop muted>
                    <source src={expeditionsAssets.pozharskySketch.src}>
                </video>
            </div>
        </div>
    </Section> -->

    <!-- Olvia -->
    <div 
    id="olvia-bg"
    class="
        relative 
        top-0 
        left-0 
        w-full
        h-[150vh]

        bg-[url('../data/biography/_images/expeditions/olvia-bg.png')]
        bg-cover 
        bg-no-repeat
        bg-center

        transition-opacity 
        duration-1000 
        opacity-0 
    "
    >
        <Section id="olvia" sectionSize="w-full h-[150vh]" sectionFlex="flex flex-col justify-center" contentWidth="w-full" contentHeight="h-[150vh]">
            <div class="h-full flex flex-col justify-center ml-[20vh]">
                <p class="text-4xl leading-normal max-w-5xl h-[80vh]">
                    Позднее, в 1853–1854 годах Уваров возглавил экспедицию в Таврическую губернию, работал в Ольвии, Неаполе Скифском, Херсонесе. 
                </p>
            </div>
        </Section>
    </div>

    <!-- Hersones Slider -->
    <Section id="hersones-slider" contentHeight='h-[1024px] 2xl:h-[1536px]' contentWidth="w-full" sectionSize="w-full h-[1024px] 2xl:h-[1536px]" extraClass="bg-[url('../data/biography/_images/expeditions/kherson-bg.png')] bg-center bg-cover bg-no-repeat flex justify-end items-end">
        <div class="flex flex-col justify-between items-center mx-auto ">
            <p class="absolute top-1/4 max-w-[1250px] text-2xl 2xl:text-4xl leading-normal flex-shrink-0">
                В Херсонесе археолог археолог обнаружил остатки храма VI века.
            </p>
            <div class="max-w-[100%] flex-grow">
                <section
                    id="hersones-splide"
                    class="splide"
                    aria-label="Hersones Slider"
                >
                    <div class="splide__arrows">
                        <button class="splide__arrow splide__arrow--prev">
                            <img src={common.prevArrow.src} alt={common.prevArrow.alt}>
                        </button>
                        <button class="splide__arrow splide__arrow--next">
                            <img src={common.nextArrow.src} alt={common.nextArrow.alt}>
                        </button>
                    </div>
    
                    <div class="splide__track h-full">
                        <ul class="splide__list h-full">
                            {expeditionsAssets.kherson.map((khersonItem) => (
                                <li class="splide__slide flex flex-col justify-end items-center h-full">
                                    <div class="w-full h-full">
                                        <img
                                            alt={khersonItem.alt}
                                            src={khersonItem.src}
                                            class="object-contain min-w-[70%] 2xl:min-w-full min-h-screen mx-auto"
                                        />
                                    </div>
                                </li>
                            ))}
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </Section>

    <!-- Hersones Text Conclusion -->
    <Section id="hersones-text-conclusion" contentHeight="h-auto" sectionFlex="flex flex-col justify-center">
        <div class="flex flex-col justify-between text-2xl 2xl:text-4xl leading-normal gap-y-[10vh] px-[5%]">
            <p>
                Там были найдены древнегреческие надгробия с надписями, обломки мраморных колонн, пьедесталов, плит с высеченными крестами, мозаики.
            </p>
            <p>
                Уже в XX веке, рядом с Уваровской базиликой – такое название получила церковь во имя Святых Апостолов в научной литературе – был обнаружен баптистерий, в котором, предположительно, принял крещение Великий князь Владимир.
            </p>
            <p>
                Благодаря этим исследованиям, А. С. Уваров внес значительный вклад в изучение археологических памятников юга России.
            </p>
        </div>
    </Section>

    <!-- Video Uvarov and Caucasus Archeology -->
    <Section id="video-uvarov-caucasus" sectionFlex="flex flex-col justify-center" contentHeight="h-auto">
        <div class="h-full flex flex-col justify-center items-center">
            <a href="https://mediashm.ru/?p=48062" class="pb-[3vh]">
                <img src="https://mediashm.ru/wp-content/uploads/2024/04/698a1c63d7db49ecb27a09be5f947cac-1024x576.jpg"/>
            </a>
            <p>Граф Уваров и археология Кавказа</p>
            <p class="text-sm italic">(нажмите по изображению, чтобы перейти к видео)</p>
        </div>
    </Section>

    <!-- Video Uvarov and Vladimir Kurgans -->
    <Section id="video-uvarov-vladimir-kurgans" sectionFlex="flex flex-col justify-center" contentHeight="h-auto">
        <div class="h-full flex flex-col justify-center items-center">
            <a href="https://mediashm.ru/?p=6915" class="pb-[3vh]">
                <img src="https://mediashm.ru/wp-content/uploads/2024/05/648938d471ff442aa2ab2cd6502d8b26.jpg"/>
            </a>
            <p>Граф Уваров и исследования Владимирских курганов</p>
            <p class="text-sm italic">(нажмите по изображению, чтобы перейти к видео)</p>
        </div>
    </Section>

    <!-- Porechye Text -->
    <Section id="porechye-text" contentHeight="h-auto" sectionSize="w-full h-[80vh]" sectionFlex="flex flex-col justify-center">
        <div class="flex flex-col justify-between text-4xl 2xl:text-4xl leading-normal gap-y-[10vh] px-[2%]">
            <p>
                После смерти отца Уваров стал владельцем почти 100 тысяч десятин земли (в Московской, Владимирской, Пензенской, Саратовской губерниях) и дома в Москве.
            </p>
            <p>
                В числе прочих имений он унаследовал подмосковную усадьбу Поречье.
            </p>
        </div>
    </Section>

    <!-- Porechye -->
    <Section id="porechye" contentHeight="h-[250vh]" contentWidth="w-full" sectionSize="w-full h-[250vh]" sectionFlex="flex flex-col justify-end items-center">
        <div id="porechye-bg" class="relative top-0 left-0 w-full h-[200vh] bg-[url('../data/biography/_images/expeditions/porechye-bg.png')] bg-center bg-cover bg-no-repeat transition-opacity duration-1000 opacity-0"></div>
        <div class="w-full text-center pt-[10vh] relative flex flex-col gap-y-[5vh] 4xl:gap-y-[2vh] text-3xl">
            <p>следующая глава</p>
            
            <ScrollArrow 
                position="0" 
                invert="invert" 
                visible="opacity-100" 
                size="w-auto"
                animated={false}
                redirectUrl="/biography/porechye"
                />
        </div>
    </Section>

</BioWrapper>


<script src="../../utils/sharedBgObserver.js"></script>
<script>
    import Splide from '@splidejs/splide';
    document.addEventListener('DOMContentLoaded', function () {
        const splide = new Splide('#hersones-splide', {
            perPage: 1,
            perMove: 1,
            pagination: false,
        }).mount();
    });
</script>