---
import BioWrapper from "../../components/biography/BioWrapper.astro";
import HeaderWrapper from "../../components/global/header/HeaderWrapper.astro";
import Section from "../../components/global/Section.astro";
import Chapter from "../../components/biography/Chapter.astro";

import { common, expeditionsAssets } from "../../data/data";


---

<BioWrapper>

    <!-- Chapter Intro -->
    <Chapter />

    <HeaderWrapper />

    <!-- Archeology Text -->
    <Section id="archeology-text">
        <div class="flex justify-center items-center text-4xl leading-normal font-semibold h-full px-[5%] pb-[10%]">
            <p>
                Окончив университет со степенью кандидата в 1845 году, поступил на службу в Министерство иностранных дел. По окончании университета, параллельно службе, Уваров увлекся археологией.
            </p>
        </div>
    </Section>

    <!-- Archeologists -->
    <Section id="archeologists" h="h-[550px] 2xl:h-[650px]" maxH='top-[10vh] 2xl:top-[5vh]'>
        <div class="h-full w-full flex flex-col justify-center items-center">
            
            <div class=" font-medium text-2xl leading-normal">
                В 1846 году, он, наряду с маститыми нумизматами И. А. Бартоломеем, Б. В. Кене, П. И. Сабатье, вошел в число учредителей Петербургского Археолого-нумизматического общества (впоследствии – Русское археологическое общество).
            </div>

            <div class="grid grid-cols-3 gap-x-8">
                <div class="col-span-1 flex flex-col justify-end items-end font-medium">
                    <p class="max-w-xl text-sm pb-[4vh]">
                        Портрет членов-учредителей Петербургского Археологическо-нумизматического общества Фотограф К. Даутендей Санкт-Петербург. 1850 г. Стоят: И.А. Бартоломей, Б.В. Кёне, А.С. Уваров. Сидят: Я.Я. Рейхель, М.Д. Топчибашев.
                    </p>
                </div>
                <div id="archeologists-image" class="col-span-2 flex flex-col items-end justify-center relative">
                    <img src={expeditionsAssets.archaeologists.src} alt={expeditionsAssets.archaeologists.alt} class="max-w-[500px] 2xl:max-w-[600px]"/>
                </div>
            </div>
        </div>
    </Section>

    <!-- Zabelin -->
    <Section id="zabelin" w="w-[1150px]" h="h-[600px] 2xl:h-[700px]" maxH='top-[10vh] 2xl:top-[5vh]'>
        <div class="h-full w-full flex flex-col justify-center items-center">
            <div class="grid grid-cols-3 gap-x-8">
                <div id="zabelin-image" class="col-span-1 flex flex-col items-start justify-center">
                    <img src={expeditionsAssets.zabelin.src} alt={expeditionsAssets.zabelin.alt} class="max-w-[320px] 2xl:max-w-[450px]"/>
                </div>
                <div class="col-span-2 flex flex-col justify-between items-end font-medium text-right">
                    <p class="max-w-lg text-2xl font-semibold">
                        Он предложил начать работу по составлению Русского археологического словаря и подготовил для него ряд статей. В 1849 году Уваров назначил денежные вознаграждения за исследования в области русских древностей, и среди награжденных авторов были И. Е. Забелин и Д. А. Ровинский.
                    </p>
                    <p class="max-w-sm text-sm pb-[4vh]">
                        Забелин Иван Егорович (с дагерротипа 1856 г.) Москва. 1900-е гг.
                    </p>
                </div>

            </div>
        </div>
    </Section>

    
    <div id="hersones-bg" class="fixed top-[10vh] left-0 w-full h-[90vh] bg-[url('../data/biography/_images/expeditions/hersones-bg.png')] bg-center bg-contain bg-no-repeat z-0 transition-opacity duration-1000 opacity-0"></div>

    <!-- Hersones Text -->
    <Section id="hersones-text">
        <div class="flex justify-center items-center text-4xl leading-normal font-semibold h-full px-[5%] pb-[10%]">
            <p>
                По решению специальной комиссии Общества, летом 1848 года Уваров совершил путешествие по Южным землям России, обследуя наиболее важные в археологическом отношении местности.
            </p>
        </div>
    </Section>

    <!-- Hersones Image -->
    <Section id="hersones-image">
        <div class="flex flex-col items-center justify-center h-full">
            <img src={expeditionsAssets.khersones[0].src} alt={expeditionsAssets.khersones[0].alt} class=""/>
        </div>
    </Section>

    <div id="hersones-wall-bg" class="relative top-0 left-0 w-full h-full bg-[url('../data/biography/_images/expeditions/hersones-wall-bg.png')] bg-center bg-contain  bg-no-repeat z-0 transition-opacity duration-1000 opacity-0">
        <Section id="hersones-wall-top">
            <div class="flex justify-center items-center text-5xl leading-normal font-semibold h-full px-[5%] text-white">
                <p>
                    Он посетил Каменское городище, Херсон, Ольвию, Херсонес и другие.
                </p>
            </div>
        </Section>
    
        <Section id="hersones-wall-bottom">
            <div class="flex justify-center items-center text-5xl leading-normal font-semibold h-full px-[5%] text-white">
                <p>
                    Раскопки ученый не вел, все приобретенные им антики либо «подъемный» материал (фрагменты керамических стеклянных сосудов, лепная керамика, монеты), либо покупки у местного населения.
                </p>
            </div>
        </Section>
    </div>




</BioWrapper>

<script>

    // SHARED BG OBSERVER
    const hersonesBG = document.querySelector('#hersones-bg') as HTMLElement;
    const hersonesWallBg = document.querySelector('#hersones-wall-bg') as HTMLElement;
    const targetSections = document.querySelectorAll('#hersones-text, #hersones-image, #hersones-wall-top, #hersones-wall-bottom');

    let visibleSections = new Set(); // To keep track of visible sections

    const sharedBgObserver = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                visibleSections.add(entry.target.id); // Add section ID when it enters
            } else {
                visibleSections.delete(entry.target.id); // Remove section ID when it leaves
            }

            // Handle visibility of hersones-bg
            if (visibleSections.has('hersones-text') || visibleSections.has('hersones-image')) {
                hersonesBG.classList.add('opacity-100');
                hersonesBG.classList.remove('opacity-0');
            } else {
                hersonesBG.classList.remove('opacity-100');
                hersonesBG.classList.add('opacity-0');
            }

            // Handle visibility of hersones-wall-bg
            if (visibleSections.has('hersones-wall-top') || visibleSections.has('hersones-wall-bottom')) {
                hersonesWallBg.classList.add('opacity-100');
                hersonesWallBg.classList.remove('opacity-0');
            } else {
                hersonesWallBg.classList.remove('opacity-100');
                hersonesWallBg.classList.add('opacity-0');
            }

        });
    }, { threshold: 0.5 });

    // Observe target sections
    targetSections.forEach(section => sharedBgObserver.observe(section));


</script>