---
import BioWrapper from "../../components/biography/BioWrapper.astro";
import HeaderWrapper from "../../components/global/header/HeaderWrapper.astro";
import Section from "../../components/global/Section.astro";
import Chapter from "../../components/biography/Chapter.astro";
import ScrollArrow from "../../components/global/ScrollArrow.astro";

import { familyAssets } from "../../data/data";
---


<BioWrapper>
    <!-- Chapter Intro -->
    <Chapter />

    <!-- Header -->
    <HeaderWrapper />

    <!-- Uvarov & Wife BG -->
    <div 
    id="uvarov-wife-bg" 
    class="
        relative 
        top-0 
        left-0 
        w-full 
        h-screen
        mx-auto
        
        bg-[url('../data/biography/_images/family/uvarov-wife-bg.png')]
        bg-center
        bg-cover
        bg-no-repeat 

        ">

        <!-- Uvarov & Wife -->
        <Section id="uvarov-wife">
            <div class="h-full w-full flex flex-col justify-end 2xl:justify-center items-center">
                <div class="flex justify-center items-center">
                    <div class="flex justify-center">
                        <img src={familyAssets.husband.src} alt={familyAssets.husband.alt} class="max-w-[70%] 2xl:max-w-[80%]"/>
                    </div>
                    <div class="flex justify-center">
                        <img src={familyAssets.wife.src} alt={familyAssets.wife.alt} class="max-w-[70%] 2xl:max-w-[80%]"/>
                    </div>
                </div>
            </div>
        </Section>

    </div>

    <!-- Praskovya -->
    <Section id="praskovya" contentHeight="h-auto" sectionSize="w-full h-[90vh] 2xl:h-[85vh]" sectionFlex="flex flex-col justify-center">
        <div class="flex flex-col justify-center gap-y-[10vh] 4xl:gap-y-[5vh] text-2xl 2xl:text-4xl leading-normal px-[2%]">
            <p>
                В 1859 году граф Уваров венчался с юной княжной Прасковьей Сергеевной Щербатовой. 
            </p>
            <p>
                Умная, красивая, получившая прекрасное домашнее образование, княжна Щербатова стала прообразом одной из любимых героинь Л. Н. Толстого – Кити Щербацкой. Юная Щербатова была замечательно воспитана любящими и строгими родителями. Серьезная и ответственная, приняв предложение А. С. Уварова, она обещала ему быть не только хорошей женой, но и помощницей.
            </p>
        </div>
    </Section>

    <!-- Wife Young -->
    <Section id="wife-young" contentWidth="w-[75%]" contentHeight="h-auto" sectionFlex="flex flex-col justify-center">
        <div class="grid grid-cols-3 w-full">
            <div class="col-span-1 flex flex-col justify-center items-center">
                <p class="max-w-5xl text-2xl 2xl:text-4xl italic">
                    «Ты всегда участвовала во всех моих путешествиях и постоянно содействовала мне в моих изысканиях».
                </p>
            </div>
            <div id="wife-young-image" class="col-span-2 flex justify-end">
                <img src={familyAssets.wifeYoung.src} alt={familyAssets.wifeYoung.alt} class="max-w-[65%]"/>
            </div>
        </div>
    </Section>

    <!-- Venice -->
    <Section id="venice" sectionSize="max-w-[87%] h-[140vh]" sectionFlex="flex flex-col justify-start items-center mx-auto" contentWidth="w-full" contentHeight="h-auto">
        <video class="absolute top-0 left-0 h-[140vh]" autoplay loop muted>
            <source src={familyAssets.venice.src}>
        </video>
        <p class="text-left text-sm 2xl:text-xl max-w-xl 2xl:max-w-3xl leading-normal ml-[5vh] mt-[15vh]">
            В 1859 году супруги отправились в длительное путешествие по Западной Европе. Главной целью поездки был сбор материалов для работы графа по истории византийского искусства и работы по христианской символике. В Венеции, испытавший влияние Византии, он знакомился с архитектурой храмов и дворцов, построенных по византийским образцам.
        </p>
    </Section>

    <!-- Italy Text -->
    <Section id="italy" contentHeight="h-auto" sectionSize="w-full h-[80vh] 2xl:h-[70vh]" sectionFlex="flex flex-col justify-center">
        <p class="text-4xl 2xl:text-5xl leading-normal 2xl:leading-normal px-[5%]">
            В Риме, Флоренции и Неаполе ученый изучал книжные, музейные, документальные коллекции, работая в архивах, музеях, городских и монастырских библиотеках.
        </p>
    </Section>

    <!-- Children -->
    <Section id="children-young" contentWidth="w-[75%]">
            <div class="grid grid-cols-3 w-full">
                <div id="children-image" class="col-span-2 flex flex-col justify-center">
                    <img src={familyAssets.children.src} alt={familyAssets.children.alt} class="max-w-[60%]"/>
                </div>
                <div class="col-span-1 flex flex-col justify-center">
                    <p class="max-w-4xl text-xl 2xl:text-3xl">
                        Графиня Прасковья Сергеевна сдержала слово и была не только хранительницей очага и матерью шестерых детей. Граф высоко ценил способность жены делить с ним все заботы, и, прежде всего, связанные с его деятельностью в Археологическом обществе.
                    </p>
                </div>
            </div>
    </Section>

    <!-- Family Conclusion -->
    <Section id="family-conclusion" contentHeight="h-auto" sectionSize="w-full h-[90vh]" sectionFlex="flex flex-col justify-center">
        <div class="flex flex-col justify-between text-2xl 2xl:text-4xl leading-normal gap-y-[10vh] 4xl:gap-y-[5vh] px-[5%]">
            <p>
                Возглавив Московское археологическое общество после кончины мужа, П.С. Уварова многое сделала для развития Общества. При ней прошли восемь археологических съездов; под ее редакцией выходили почти все издания Общества и Труды Съездов, благодаря ей увидела свет и большая часть творческого наследия А. С. Уварова, и, в частности, «любимое детище графа» первый том исследования «Христианская символика».
            </p>
            <div class="w-full text-center relative flex flex-col gap-y-[5vh] 4xl:gap-y-[2vh] text-3xl">
                <p>следующая глава</p>
                
                <ScrollArrow 
                    position="0" 
                    invert="invert" 
                    visible="opacity-100" 
                    size="w-auto"
                    animated={false}
                    redirectUrl="/biography/praskovya"
                    />
            </div>
        </div>
    </Section>
    
</BioWrapper>

<script src="../../utils/sharedBgObserver.js"></script>
