---
import BioWrapper from "../../components/biography/BioWrapper.astro";
import HeaderWrapper from "../../components/global/header/HeaderWrapper.astro";
import Section from "../../components/global/Section.astro";
import Chapter from "../../components/biography/Chapter.astro";
import ScrollArrow from "../../components/global/ScrollArrow.astro";

import { familyAssets } from "../../data/data";
---


<BioWrapper>
    <!-- Chapter Intro -->
    <Chapter />

    <!-- Header -->
    <HeaderWrapper />

    <!-- Uvarov & Wife -->
    <Section id="uvarov-wife" w="w-[1440px]" h="h-[1024px]" extraClass="bg-[url('../data/biography/_images/family/uvarov-wife-bg.png')] bg-center bg-cover 2xl:bg-contain bg-no-repeat">
        <div class="h-full w-full flex flex-col justify-end items-center pb-[5%]">
            <div class="grid grid-cols-2 w-full">
                <div class="flex justify-center">
                    <img src={familyAssets.husband.src} alt={familyAssets.husband.alt} class="max-w-[450px] 2xl:max-w-[550px]"/>
                </div>
                <div class="flex justify-center">
                    <img src={familyAssets.wife.src} alt={familyAssets.wife.alt} class="max-w-[450px] 2xl:max-w-[550px]"/>
                </div>
            </div>
        </div>
    </Section>

    <!-- Praskovya -->
    <Section id="praskovya">
        <div class="flex flex-col justify-center gap-y-[10vh] 4xl:gap-y-[5vh] text-4xl leading-normal px-[5%]">
            <p>
                В 1859 году граф Уваров венчался с юной княжной Прасковьей Сергеевной. 
            </p>
            <p>
                Умная, красивая, получившая прекрасное домашнее образование, княжна Щербатова стала прообразом одной из любимых героинь Л. Н. Толстого – Кити Щербацкой. Юная Щербатова была замечательно воспитана любящими и строгими родителями. Серьезная и ответственная, приняв предложение А. С. Уварова, она обещала ему быть не только хорошей женой, но и помощницей.
            </p>
        </div>
    </Section>

    <!-- Wife Young -->
    <Section id="wife-young" w="w-[1150px]">
        <div class="grid grid-cols-3 w-full">
            <div class="col-span-1 flex flex-col justify-center items-center">
                <p class="max-w-4xl text-3xl italic">
                    «Ты всегда участвовала во всех моих путешествиях и постоянно содействовала мне в моих изысканиях».
                </p>
            </div>
            <div id="wife-young-image" class="col-span-2 flex justify-end">
                <img src={familyAssets.wifeYoung.src} alt={familyAssets.wifeYoung.alt} class="w-[400px] 2xl:w-[600px]"/>
            </div>
        </div>
    </Section>

    <!-- Venice Image -->
    <Section id="venice" maxH="" w="w-[1440px]" h="h-[600px] 2xl:h-[840px]" extraClass="bg-[url('../data/biography/_images/family/venice.png')] bg-center bg-contain bg-no-repeat">
    </Section>

    <!-- Italy Text -->
    <Section id="italy">
        <p class="text-5xl leading-normal px-[5%]">
            В Риме, Флоренции и Неаполе ученый изучал книжные, музейные, документальные коллекции, работая в архивах, музеях, городских и монастырских библиотеках.
        </p>
    </Section>

    <!-- Children -->
    <Section id="children-young" w="w-[1150px]">
            <div class="grid grid-cols-3 w-full">
                <div id="children-image" class="col-span-2 flex flex-col justify-center">
                    <img src={familyAssets.children.src} alt={familyAssets.children.alt} class="w-[400px] 2xl:w-[600px]"/>
                </div>
                <div class="col-span-1 flex flex-col justify-center">
                    <p class="max-w-4xl text-3xl">
                        Графиня Прасковья Сергеевна сдержала слово и была не только хранительницей очага и матерью шестерых детей. Граф высоко ценил способность жены делить с ним все заботы, и, прежде всего, связанные с его деятельностью в Археологическом обществе.
                    </p>
                </div>
            </div>
    </Section>

    <!-- Family Conclusion -->
    <Section id="family-conclusion">
        <div class="flex flex-col justify-between text-4xl leading-normal gap-y-[10vh] 4xl:gap-y-[5vh]">
            <p>
                Возглавив Московское археологическое общество после кончины мужа, П.С. Уварова многое сделала для развития Общества. При ней прошли восемь археологических съездов; под ее редакцией выходили почти все издания Общества и Труды Съездов, благодаря ей увидела свет и большая часть творческого наследия А. С. Уварова, и, в частности, «любимое детище графа» первый том исследования «Христианская символика».
            </p>
            <div class="relative flex flex-col gap-y-[5vh] 4xl:gap-y-[2vh] text-3xl w-[22%]">
                <p>следующая глава</p>
                
                <ScrollArrow 
                    position="0" 
                    invert="invert" 
                    visible="opacity-100" 
                    size="w-auto"
                    animated={false}
                    redirectUrl="/biography/activities"
                    />
            </div>
        </div>
    </Section>
    
</BioWrapper>
