---
import BioWrapper from "../../components/biography/BioWrapper.astro";
import HeaderWrapper from "../../components/global/header/HeaderWrapper.astro";
import ScrollArrow from "../../components/global/ScrollArrow.astro";
import Section from "../../components/global/Section.astro";
import InfoOverlay from "../../components/global/InfoOverlay.astro";
import Chapter from "../../components/biography/Chapter.astro";

import { common, junostAssets } from "../../data/data";

const uvarovYoung1 = [junostAssets.uvarovYoung1, junostAssets.handwrite1Full];
const uvarovYoung2 = [junostAssets.uvarovYoung2Full, junostAssets.handwrite2Full];
const graf = [junostAssets.graf];
const diploma = [junostAssets.diploma];
const portraits = junostAssets.libraryPortraits;
---


<style>
    .splide__arrow {
        background: transparent;
        width: auto;
    }

    

</style>


<BioWrapper>
    <!-- Chapter Intro -->
    <Chapter />

    <!-- Header -->
    <HeaderWrapper />

    <!-- Was Born -->
    <Section id="was-born" 
    contentWidth="w-full"
    sectionFlex="flex flex-col justify-center md:justify-end" 
    sectionSize="w-full h-[50vh] md:h-screen"
    contentHeight="h-auto" >
        <div class="flex flex-col md:justify-between items-center">
            <p class="
            text-center 
            max-w-6xl 
            relative

            -bottom-[2vh]
            2xl:-bottom-[4vh]

            text-lg
            md:text-3xl 
            
            2xl:text-5xl 
            2xl:leading-normal
            
            4xl:text-7xl
            4xl:max-w-7xl
            4xl:leading-relaxed

            
            ">
                А. С. Уваров родился 28 февраля
                <br>
                (11 марта) 1824 года в Петербурге.
            </p>
            <img src={junostAssets.spb.src} alt={junostAssets.spb.alt} class="relative w-[90vw] -bottom-[4vh]"/>
        </div>
    </Section> 

    <!-- Father / Mother -->
    <div id="room-bg" class="fixed top-0 left-0 w-full h-full bg-[url('../data/biography/_images/junost/room.png')] bg-center bg-cover z-0 transition-opacity duration-1000 opacity-0"></div>

    <Section id="father-mother" sectionSize="w-full h-[200vh]" contentHeight="h-[200vh]">
        <div id="father-area" class="absolute top-0 h-[95vh] w-full"></div>
        <div id="mother-area" class="absolute bottom-0 h-[95vh] w-full"></div>
        
        <div class="
            sticky 

            left-0 
            grid 
            w-full 

            top-[15%] 
            h-[75vh] 
            grid-rows-3 
            grid-cols-1 
            
            md:top-[7%] 
            md:grid-rows-1 
            md:grid-cols-2 
            md:h-[87vh]
            ">
            
            <div class="
                top-text-mobile 
                max-w-lg 
                flex 
                flex-col 
                justify-end
                h-full
                
                text-base 
                text-center

                md:mx-0 
                md:text-2xl 
                md:hidden 
                ">
                <p>
                    Семейными связями и родословной А. С. Уваров был укоренен в русской культуре и государственности, а ряд исторических событий XIX века являлись для него частью семейной хроники.
                </p>
            </div>

            <div class="flex items-center justify-center relative h-full">
                <img src={junostAssets.father.src} alt={junostAssets.father.alt} id="father-img" class="absolute top-[2%] left-0 w-full h-full object-contain opacity-0" />
                <img src={junostAssets.mother.src} alt={junostAssets.mother.alt} id="mother-img" class="absolute top-[2%] left-0 w-full h-full object-contain opacity-0" />
            </div>
    
            <div class="flex flex-col justify-center items-end text-center md:text-right h-full">
                <div class="top-text max-w-lg text-2xl hidden md:block">
                    <p>
                        Семейными связями и родословной А. С. Уваров был укоренен в русской культуре и государственности, а ряд исторических событий XIX века являлись для него частью семейной хроники.
                    </p>
                </div>
                <div class="bottom-text max-w-lg text-sm px-[7vh] md:mx-0 md:text-lg relative w-full h-full md:h-[50%] overflow-x-clip">
                    <p id="father-text" class="absolute bottom-0 left-0 w-full opacity-0">
                        Отец Алексея Сергеевича, Сергей Семенович Уваров (1786–1855) – выдающийся государственный деятель, президент Петербургской Академии наук (1818–1855), министр народного просвещения (1833–1849), с именем которого связано становление в России системы общественного образования.
                    </p>
                    <p id="mother-text" class="absolute bottom-0 left-0 w-full opacity-0">
                        Мать А. С. Уварова, Екатерина Алексеевна, урожденная Разумовская – 
                        <br>
                        дочь министра народного просвещения
                        <br>
                        Алексея Кирилловича и внучатая племянница 
                        <br>
                        Алексея Григорьевича Разумовских.
                    </p>
                </div>
            </div>
        </div>
    </Section>

    <!-- Graf -->
    <Section id="graf">
            <div class="
                grid 
                w-full

                h-full
                grid-rows-2 

                md:h-auto
                md:grid-rows-1 
                md:grid-cols-2 
                ">
                <div id="graf-image" class="flex flex-col items-center justify-center relative">
                    <img src={junostAssets.graf.src} alt={junostAssets.graf.alt}/>
                    <InfoOverlay contentType="image" images={graf} overlayId="graf" iconPosition="absolute -bottom-[2vh] md:bottom-[1vh]"/>
                </div>

                <div class="
                flex 
                flex-col 
 
                justify-center                
                items-center 
                text-center
                gap-y-[5vh]

                md:gap-y-0
                md:justify-between
                md:items-end 
                md:text-right
                ">
                    <p class="max-w-lg text-base md:text-2xl">
                        <span class="italic">
                          «За особливые заслуги и высокие достоинства»
                        </span>
                        <br>
                        <br>
                        Высочайшим указом от 1 июля 1846 года С. С. Уваров был пожалован титулом сиятельного графа с нисходящим потомством.
                    </p>
                    <p class="max-w-xl text-sm relative bottom-0 md:bottom-[1vh]">
                        Патент императора Николая I
                        <br>
                        действительному статскому советнику
                        <br>
                        С. С. Уварову на чин тайного советника.
                    </p>
                </div>
            </div>
    </Section>

    <!-- Library -->
    <div id="library-bg" class="fixed top-0 left-0 w-full h-full bg-[url('../data/biography/_images/junost/library.png')] bg-center bg-cover bg-no-repeat z-0 transition-opacity duration-1000 opacity-0"></div>
    <Section id="library">
            <div class="flex flex-col justify-between items-center gap-y-[5vh]">
                <p class="text-sm md:text-2xl text-center md:text-left leading-normal">
                    Вся атмосфера семьи Уваровых располагала к занятиям наукой и искусством. Богатейшая библиотека, коллекция живописи и антиков, собранная отцом, давала Алексею Уварову с юных лет возможность общения с ученой и творческой элитой.
                </p>
                <div class="w-full h-full">
                    <div x-data="{ init() {
                            new Splide(this.$refs.splide, {
                                perPage: 3,
                                perMove: 1,
                                pagination: false,
                                breakpoints: {
                                    768: {
                                        perPage: 1,
                                    },
                                },
                            }).mount();
                        },
                    }">
                        <section
                            class="splide"
                            aria-label="Library Slider"
                            x-ref="splide"
                            style="padding-left: 4rem; padding-right: 4rem;"
                            >
                            
                            <div class="hidden md:block splide__arrows">
                                <button class="splide__arrow splide__arrow--prev">
                                    <img src={common.prevArrow.src} alt={common.prevArrow.alt}>
                                </button>
                                <button class="splide__arrow splide__arrow--next">
                                    <img src={common.nextArrow.src} alt={common.nextArrow.alt}>
                                </button>
                            </div>

                            <div class="md:hidden splide__arrows">
                                <button class="splide__arrow splide__arrow--prev">
                                    ←
                                </button>
                                <button class="splide__arrow splide__arrow--next">
                                    →
                                </button>
                            </div>

                            <div class="splide__track">
                                <ul class="splide__list">
                                    {junostAssets.libraryPortraits.map((portrait) => (
                                        <li class="splide__slide flex flex-col justify-center items-center">
                                            <div class="
                                            h-full

                                            md:w-[70%] 
                                            md:h-[60%] 

                                            2xl:w-[90%] 
                                            2xl:h-[70%]
                                            ">
                                                <img
                                                    alt={portrait.alt}
                                                    src={portrait.src}
                                                    class="object-contain bottom-0 w-full h-full"
                                                />
                                            </div>
                                            <div class="flex-grow text-center mt-6">
                                                <h4 class="font-semibold text-sm 2xl:text-lg leading-snug">{portrait.title}</h4>
                                                <p class="text-sm">{portrait.description}</p>
                                            </div>
                                        </li>
                                    ))}
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
                <InfoOverlay contentType="slider" images={portraits} overlayId="library" iconPosition="md:absolute bottom-0"/>
            </div>
    </Section>

    <!-- Father Influence Text -->
    <Section id="father-influence" contentHeight="h-auto" sectionSize="w-full h-[70vh]" sectionFlex="flex flex-col justify-center">
            <p class="text-base md:text-4xl leading-normal px-[5%]">
                Но главным в формировании личности А.С. Уварова стало влияние отца. Во многом, благодаря ему, Алексей Уваров сложился как человек европейской образованности и глубочайшей преданности России.
            </p>
    </Section>

    <!-- Dog Animation -->
    <Section id="dog">
        <div class="hidden md:grid grid-cols-2 w-full h-full max-w-[70%] mx-auto">
            <div class="relative flex flex-col justify-center items-center left-[5vh]">
                <video id="dog-anim" autoplay muted>
                    <source src={junostAssets.dogAnim.src} type="video/mp4">
                </video>
                <InfoOverlay contentType="slider" images={uvarovYoung1} overlayId="dog" iconPosition="absolute bottom-[8vh]"/>
            </div>
            <div class="relative flex flex-col justify-center items-center right-[5vh]">
                <img src={junostAssets.handwrite_1.src} alt={junostAssets.handwrite_1.alt} />
                <p class="absolute text-sm bottom-[5vh] right-[5%] self-end">Алексей Уваров в юности</p>
            </div>
        </div>

        <div id="dog-mobile" class="md:hidden flex flex-col justify-center items-center h-full">
            <div class="flex flex-col justify-center items-center">
                <img src={junostAssets.handwrite_1.src} alt={junostAssets.handwrite_1.alt} class="absolute left-[25%] top-[15%] h-[50%]"/>
                <img src={junostAssets.uvarovYoung1.src} alt={junostAssets.uvarovYoung1.alt} />
                <InfoOverlay contentType="slider" images={uvarovYoung1} overlayId="dog-mobile"/>
            </div>
            <p class="text-sm">Алексей Уваров в юности</p>
        </div>
    </Section>

    <!-- Uni -->
    <Section id="uni" contentWidth="w-full max-w-[1100px] 2xl:max-w-[1440px]" contentHeight="h-[60vh] md:h-[87vh]" sectionFlex="flex flex-col justify-center md:justify-end">
        <p class="ml-[6%] text-left text-sm max-w-lg 2xl:max-w-2xl 2xl:text-xl leading-normal">
            В детстве и юности, обучаясь дома, по программе отца под его наблюдением, Уваров-младший получил основательную подготовку по истории, словесности, географии, древним и новым европейским языкам, точным и естественным наукам.
            <br>
            <br>
            Интерес к истории, древностям привел его на словесное отделение философского факультета Петербургского университета.
        </p>       
        <img src={junostAssets.spbgu.src} src={junostAssets.spbgu.alt} class=" absolute bottom-[-2vh]" />
    </Section> 

    <!-- Grefe -->
    <Section id="grefe" contentHeight="h-auto md:h-[95vh] 2xl:h-[50vh]" sectionSize = "w-full h-[120vh] 2xl:h-[90vh]" sectionFlex="flex flex-col justify-center">
        <div class="flex flex-col justify-center gap-y-20 text-base md:text-4xl leading-normal px-[5%]">
            <p>
                Серьезное влияние на формирование будущего ученого оказали профессор Ф.Б. Грефе, читавший курс греческой словесности, 
                и профессор русской истории Н.Г. Устрялов.
            </p>
            <p>
                Под его влиянием Уваров выбрал тему диссертации 
                <br>
                <span class="italic">
                «Исследование, в какой степени дополняются сведения 
                о первом самозванце актами, изданными Археографической комиссией».
                </span>
            </p>
        </div>
    </Section>

    <!-- Uvarov Young -->
    <div 
    id="uvarov-bg" 
    class="
        relative 
        top-0 
        left-0 
        w-full
        mx-auto
        z-0 

        bg-[url('../data/biography/_images/junost/uvarov_young_2_portrait.png')]
        bg-cover 
        bg-no-repeat

        h-[70vh]
        bg-center

        md:h-[300vh]
        md:bg-right

        transition-opacity 
        duration-1000 
        opacity-0 
    "
        style="
        background-size: 120%;
        background-position: left 20%;
        "
    >
        <Section id="uvarov-young" 
        sectionSize="w-full h-[70vh] md:h-[300vh]" 
        sectionFlex="flex flex-col justify-center" contentWidth="w-full" 
        contentHeight="h-[70vh] md:h-[300vh]">

            <div class="h-full flex flex-col md:justify-center px-[2vh] md:px-0">
                <img src={junostAssets.handwrite_2.src} alt="Почерк-2" class="h-[30vh] md:h-[200vh] w-full object-contain object-left-top">
            </div>
        </Section>
        <InfoOverlay contentType="slider" images={uvarovYoung2} isIconInverted={true} overlayId="u-young" iconPosition="absolute bottom-[5vh] left-1/2"/>
    </div>

    <!-- Diploma -->
    <Section id="diploma" sectionSize = "w-full h-[105vh]" contentHeight="h-[80vh]" extraClass="mb-[5vh]">
        <div class="
        grid 
        w-full
        h-full
        max-w-[80%]
        mx-auto
        
        grid-cols-1
        grid-rows-2 

        md:h-auto
        md:grid-rows-1 
        md:grid-cols-3 
        ">
            <div id="diploma-image" class="col-span-2 flex flex-col items-center relative md:right-[20%]">
                <img src={junostAssets.diploma.src} alt={junostAssets.diploma.alt}/>
                <InfoOverlay contentType="image" images={diploma} overlayId="diploma" iconPosition="absolute bottom-[3vh] 4xl:bottom-[1vh]"/>
            </div>

            <div class="col-span-1 flex flex-col justify-between items-end text-center md:text-right relative md:left-[35%]">
                <p class="text-xl 2xl:text-2xl">
                    Окончив университет со степенью кандидата в 1845 году, 
                    Уваров поступил на службу в Министерство иностранных дел.
                </p>
                <p class="text-xs 2xl:text-sm">
                    Диплом А.С. Уварова 
                    <br class="hidden md:block">
                    об окончании 1-го отделения 
                    <br class="hidden md:block">
                    Философского факультета разряда 
                    <br class="hidden md:block">
                    Общей словесности 
                    <br class="hidden md:block">
                    Санкт-Петербургского университета. 
                    <br class="hidden md:block">
                    14 июля 1845 г.
                </p>
            </div>
        </div>
    </Section>

    <!-- Video Uvarov 200 Excursion -->
    <Section id="video-uvarov-200-excursion" sectionFlex="flex flex-col justify-center" contentHeight="h-auto">
        <div class="flex flex-col justify-center items-center text-center md:text-left">

            <div class="
                relative 
                aspect-video
                
                w-full 
                h-full 

                md:w-[50%] 
                md:h-[50%]
                ">

                <iframe 
                class="w-full h-full"
                src="https://mediashm.ru/?p=17677&emb=1" 
                width="560" 
                height="315" 
                encrypted-media; 
                gyroscope; 
                picture-in-picture; 
                allowfullscreen
                scrolling = 'no'
                >
                </iframe>

            </div>
            <p class="px-[3vh] mt-[2vh] md:px-0">Экскурсия по выставке к 200-летию А.С. Уварова</p>
        </div>
    </Section>

    <!-- Next Chapter -->
    <Section id="next-chapter" contentHeight="h-auto" sectionSize="h-[50vh]" sectionFlex="flex flex-col justify-center">
        <div class="w-full text-center relative flex flex-col gap-y-[5vh] 4xl:gap-y-[2vh] text-3xl">
            <p>следующая глава</p>
            <ScrollArrow 
                position="0" 
                invert="invert" 
                visible="opacity-100" 
                size="w-auto"
                animated={false}
                redirectUrl="/biography/expeditions"
                />
        </div>
    </Section>

</BioWrapper>


<script src="../../utils/sharedBgObserver.js"></script>
<script src="../../utils/innerScroll.js"></script>
<script>

    // FATHER / MOTHER SCROLL --- GSAP 
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    function animateSection(sectionId : string, imageSelector : string, bottomTextSelector : string, delay = 0) {
        const tl = gsap.timeline({
            scrollTrigger: {
                trigger: `#${sectionId}`,
                start: "top center",
                end: "bottom center",
                toggleActions: "play none none reverse",
                onLeave: () => {
                    tl.reverse();
                },
                onLeaveBack: () => {
                    tl.reverse();
                },
                onEnter: () => {
                    tl.play();
                },
                onEnterBack: () => {
                    tl.play();
                }
            }
        });


        tl.fromTo(
            imageSelector,
            { autoAlpha: 0, x: -600 },
            { autoAlpha: 1, x: 0, duration: 1.2, ease: "power2.out", delay: delay }
        )
        .fromTo(
            bottomTextSelector,
            { autoAlpha: 0, x: 600 },
            { autoAlpha: 1, x: 0, duration: 1.2, ease: "power2.out", delay: delay }, 0
        );
        
    }

    animateSection("father-area", "#father-img", ".bottom-text #father-text");
    animateSection("mother-area", "#mother-img", ".bottom-text #mother-text", 1);


    // VIDEO PLAY ON HOVER
    const dogAnimation = document.getElementById('dog-anim') as HTMLVideoElement;
    let reverseInterval : any;

    dogAnimation.addEventListener('mouseenter', () => {
        clearInterval(reverseInterval);  // Clear reverse interval if already running
        dogAnimation.play();  // Play the video when mouse enters
    });

    dogAnimation.addEventListener('mouseleave', () => {
        dogAnimation.pause();  // Pause the video on mouse leave
        reverseVideo();  // Start reverse playback
    });

    function reverseVideo() {
        reverseInterval = setInterval(() => {
            if (dogAnimation.currentTime <= 0) {
                clearInterval(reverseInterval);  // Stop when the video reaches the start
            } else {
                dogAnimation.currentTime -= 0.05;  // Move the video time backwards
            }
        }, 50);  // Adjust the speed of reverse playback
    }

</script>