---
import BioWrapper from "../../components/biography/BioWrapper.astro";
import HeaderWrapper from "../../components/global/header/HeaderWrapper.astro";
import Section from "../../components/global/Section.astro";
import Chapter from "../../components/biography/Chapter.astro";
import ScrollArrow from "../../components/global/ScrollArrow.astro";
import InfoOverlay from "../../components/global/InfoOverlay.astro";

import { common, museumAssets } from "../../data/data";
import { audios } from "../../data/data";

const museumBuilding = museumAssets.buildingSlider;
const museumHalls = museumAssets.hallsSlider;

---

<style>
    .splide__arrow {
        background: transparent;
        width: auto;
    }

</style>

<BioWrapper>
    <!-- Chapter Intro -->
    <Chapter />

    <!-- Header -->
    <HeaderWrapper />

    <!-- Museum -->
    <div 
    id="museum-bg" 
    class="
        relative 
        top-0 
        left-0 
        w-full 
        
        bg-[url('../data/biography/_images/museum/gim.png')]
        bg-no-repeat 

        h-[60vh]
        bg-bottom
        bg-contain

        md:bg-cover
        md:bg-center
        md:h-[140vh]
        ">
        <Section id="museum" sectionSize="w-full h-[80vh] md:h-[140vh]" sectionFlex="flex flex-col justify-start items-end" contentHeight="h-auto">
            <div class="flex flex-col justify-start items-end">
                <p class="text-center md:text-left text-sm 2xl:text-xl max-w-xl 2xl:max-w-3xl leading-normal mt-[10vh] md:mt-[20vh]">
                    С  начала 1870-х годов Алексей Сергеевич Уваров включился в работу по устройству в Москве Музея имени Его Императорского Высочества Государя Наследника Цесаревича (с 1881 года император Александр III).
                </p>
            </div>
        </Section>
    </div>

    <!-- Museum Text -->
    <Section id="museum-text" contentHeight="h-auto" sectionSize="w-full h-screen md:h-[80vh] 2xl:h-[60vh]" sectionFlex="flex flex-col justify-center">
        <div class="flex flex-col justify-center items-start text-base md:text-xl 2xl:text-3xl leading-normal px-[5%] gap-y-[10vh] 4xl:gap-y-[5vh]">
            <p>
                В 1873 году было образовано Управление музеем, Уваров назначен товарищем председателя Управления. Ему предстояло решать вопросы, касающиеся научной деятельности музея.
            </p>
            <p>
                Заявив свое лидерство, граф, по сути, стал «мозговым центром» в кругу устроителей. Он предложил в залах будущего музея представить целостную картину истории российского государства с древнейших времен до эпохи императора Александра II.
            </p>
        </div>
    </Section>

    <!-- Museum Grid Desktop -->
    <div 
    id="museum-grid-bg" 
    class="
        hidden
        md:block
        
        relative 
        top-0 
        left-0 
        w-full
        h-[150vh]

        bg-[url('../data/biography/_images/museum/gim-bg.png')]
        bg-contain 
        bg-no-repeat
        bg-center

        transition-opacity 
        duration-1000 
        opacity-0 
    "
    >
        <Section id="museum-grid" sectionSize="hidden md:block w-full h-[150vh]" sectionFlex="flex flex-col items-center justify-center" contentWidth="w-full" contentHeight="h-[150vh]">
            <div class="absolute inset-0 m-auto h-full w-[20%] mx-auto flex flex-col justify-start">
                <!--
                <div id="sources-area" class="h-[7%]">
                </div> 
                <div id="initiative-area" class="h-[7%]">
                </div> 
                <div id="uvarov-1881-area" class="h-[7%]">
                </div> 
                <div id="uvarov-self-area" class="h-[7%]">
                </div> 
                <div id="responsibilities-area" class="h-[7%]">
                </div> 
                <div id="concept-area" class="h-[7%]">
                </div> -->

                <div id="empty-area" class="h-[10%]">
                </div> 
                <div id="museum-grid-left-area" class="h-[7%]">
                </div> 
                <div id="museum-grid-right-area" class="h-[7%]">
                </div> 
            </div>
            <div class="grid grid-rows-5 grid-cols-[25%,50%,25%] w-full h-full text-center text-sm 2xl:text-xl ">
                <!-- Left Column (spans rows 2-4) -->
                <div class="row-start-2 row-end-5 col-start-1 col-end-2 flex flex-col justify-between px-[2%] 2xl:px-[8%]">
                    <!-- <p id="sources">
                        Источниками комплектования фонда археологических памятников явились университеты, археологические общества, музеи и частные лица.
                    </p>
                    <p id="uvarov-1881">
                        В 1881 году Уваров предложил программу комплектования фондов музея археологическими памятниками.
                    </p> -->
                    <p id="museum-grid-left">
                        В обязанности А.С. Уварова входило наблюдение за строительством, за работами по оформлению интерьеров, создание экспозиции. В 1881 году Уваров предложил программу комплектования фондов музея археологическими памятниками. В готовящихся к открытию музея залах, в соответствии с его концепцией, предполагалось представить древнейший период истории Российского государства – от каменного века до Киевской Руси.
                    </p>
                    <!-- <p id="concept">
                        В соответствии с концепцией, предполагалось представить древнейший период истории Российского государства – от каменного века до Киевской Руси.
                    </p> -->
                </div>
    
                <!-- Right Column (spans rows 2-4) -->
                <div class="row-start-2 row-end-5 col-start-3 col-end-4 flex flex-col justify-between px-[2%] 2xl:px-[8%]">
                    <!-- <p id="initiative">
                        По инициативе графа снаряжаются экспедиции в Гнездово, на Дон, Кубань и Кавказ. А одной из первых закупок музея в 1883 году стала коллекция античных памятников П.О. Бурачкова, состоящая из 1430 предметов. 
                    </p>
                    <p id="uvarov-self">
                        Сам Уваров подарил музею две коллекции каменных орудий из Волосова и Карачарова и коллекцию кавказской бронзы, с которой начался учет фондов Исторического музея.
                    </p> -->
                    <p id="museum-grid-right">
                        Источниками комплектования фонда археологических памятников явились университеты, археологические общества, музеи и частные лица, которые принесли свои коллекции в дар музею. Сам Уваров подарил музею две коллекции каменных орудий из Волосова и Карачарова и коллекцию кавказской бронзы, с которой начался учет фондов Исторического музея. По инициативе графа снаряжаются экспедиции в Гнездово, на Дон, Кубань и Кавказ. А одной из первых закупок музея в 1883 году стала коллекция античных памятников П.О. Бурачкова, состоящая из 1430 предметов.
                    </p>
                    <!-- <p id="responsibilities">
                        В обязанности А.С. Уварова входило: наблюдение за строительством, за работами по оформлению интерьеров, создание экспозиции.
                    </p> -->
                </div>
    
            </div>
        </Section>
    </div>

    <!-- Museum Grid Mobile -->
    <div 
    id="museum-grid-bg-mobile" 
    class="
        md:hidden

        relative 
        top-0 
        left-0 
        w-full


        bg-[url('../data/biography/_images/museum/gim-bg.png')]
        bg-contain 
        bg-no-repeat
        bg-center
        
        h-[150vh]
    "
    >
        <Section id="museum-grid-mobile" sectionSize="md:hidden w-full h-[150vh]" sectionFlex="flex flex-col items-center justify-center" contentWidth="w-full" contentHeight="h-[150vh]">
            <div class="flex flex-col justify-between w-full h-full text-center text-sm 2xl:text-xl py-[5vh] px-[4%] md:px-[2%] 2xl:px-[8%]">
                    <p id="museum-grid-left">
                        В обязанности А.С. Уварова входило: наблюдение за строительством, за работами по оформлению интерьеров, создание экспозиции. В 1881 году Уваров предложил программу комплектования фондов музея археологическими памятниками. В готовящихся к открытию музея залах, в соответствии с его концепцией, предполагалось представить древнейший период истории Российского государства – от каменного века до Киевской Руси.
                    </p>
                    <p id="museum-grid-right">
                        Источниками комплектования фонда археологических памятников явились университеты, археологические общества, музеи и частные лица, которые принесли свои коллекции в дар музею. Сам Уваров подарил музею две коллекции каменных орудий из Волосова и Карачарова и коллекцию кавказской бронзы, с которой начался учет фондов Исторического музея. По инициативе графа снаряжаются экспедиции в Гнездово, на Дон, Кубань и Кавказ. А одной из первых закупок музея в 1883 году стала коллекция античных памятников П.О. Бурачкова, состоящая из 1430 предметов.
                    </p>
            </div>
        </Section>
    </div>

    <!-- Ustav -->
    <Section id="ustav">
        <div class="
        grid 
        w-full
        mx-auto
        
        h-full
        grid-cols-1
        grid-rows-2 

        md:h-auto
        md:grid-rows-1 
        md:grid-cols-2 
        ">
            <div id="ustav-image" class="flex flex-col items-center justify-center order-2 md:order-1">
                <img src={museumAssets.ustav.src} alt={museumAssets.ustav.alt} class="md:max-w-[75%]"/>
            </div>
            <div class="flex flex-col justify-center items-center order-1 md:order-2">
                <p class="max-w-sm text-center md:text-left text-base md:text-2xl 2xl:text-4xl 2xl:max-w-xl leading-normal">
                    Уваров участвовал в разработке программы будущего музея и являлся автором первого Устава 1874 года.
                </p>
            </div>
        </div>
    </Section>

    <!-- Ustav Text -->
    <Section id="ustav-text" contentHeight="md:h-[75vh]" sectionFlex="flex flex-col items-center justify-center md:justify-end">
        <div class="flex flex-col md:flex-row justify-between md:justify-center md:gap-x-[20vh] w-full text-base md:text-2xl 2xl:text-3xl leading-normal">
            <p class="max-w-md">
                Первая статья документа определила суть и смысл существования музея: 
                <br>
                <br>
                <span class="italic">«Учрежденный в Москве Музей… имеет целию служить наглядною историею главных эпох русского государства и содействовать распространению сведений по отечественной истории».</span>
            </p>
            <p class="max-w-md">
                Вторая статья гласила:
                <br>
                <br>
                <span class="italic">«В Музее собираются все памятники знаменательных событий отечественной истории. Эти памятники, – в подлинниках, копиях или слепках, – расположенные в хронологической последовательности, должны представлять … полную картину каждой эпохи…». </span>
            </p>
        </div>
    </Section>

    <!-- Uvarov Resigned -->
    <Section id="resigned" contentHeight="h-auto" sectionSize="w-full h-[80vh] 2xl:h-[60vh]" sectionFlex="flex flex-col justify-center">
        <div class="flex flex-col justify-center text-lg md:text-4xl leading-normal px-[5%] gap-y-[10vh] 4xl:gap-y-[5vh]">
            <p>
                В 1878 году в связи с обострением существовавших разногласий среди устроителей по ряду принципиальных вопросов деятельности музея, Уваров ушел в отставку.
            </p>
        </div>
    </Section>

    <!-- Museum Building Slider -->
    <Section id="museum-building-slider" contentHeight="h-[75vh]" sectionSize="w-full h-screen" sectionFlex="flex flex-col justify-center">
        <div class="w-full flex flex-col items-center justify-between h-full">
            <p class="text-base md:text-xl 2xl:text-3xl leading-normal px-[7%] text-center md:text-left">
                В 1881 году император Александр III назначил графа Уварова Товарищем председателя музея (при Почетном председателе великом князе Сергее Александровиче), поручая ему открыть музей к коронационным торжествам 1883 года и составить проект нового Устава музея.
            </p>
            <div 
                class="w-full"
                x-data="{ init() {
                    new Splide(this.$refs.splide, {
                        perPage: 3,
                        perMove: 1,
                        pagination: false,
                        breakpoints: {
                            768: {
                                perPage: 1,
                            },
                        },
                    }).mount();
                },
            }">
                <section
                    class="splide"
                    aria-label="Library Slider"
                    x-ref="splide"
                    style="padding-left: 4rem; padding-right: 4rem;"
                    >
                    
                    <div class="hidden md:block splide__arrows">
                        <button class="splide__arrow splide__arrow--prev">
                            <img src={common.prevArrow.src} alt={common.prevArrow.alt}>
                        </button>
                        <button class="splide__arrow splide__arrow--next">
                            <img src={common.nextArrow.src} alt={common.nextArrow.alt}>
                        </button>
                    </div>

                    <div class="md:hidden splide__arrows">
                        <button class="splide__arrow splide__arrow--prev">
                            ←
                        </button>
                        <button class="splide__arrow splide__arrow--next">
                            →
                        </button>
                    </div>

                    <div class="splide__track">
                        <ul class="splide__list">
                            {museumAssets.buildingSlider.map((buildingItem) => (
                                <li class="splide__slide flex flex-col justify-center items-center">
                                    <div class="md:max-w-[70%]">
                                        <img
                                            alt={buildingItem.alt}
                                            src={buildingItem.src}
                                            class="object-contain bottom-0 w-full h-full"
                                        />
                                    </div>
                                </li>
                            ))}
                        </ul>
                    </div>
                </section>
            </div>
            <p class="text-sm md:text-xl w-full text-center px-[10%] md:px-0">Строительство Исторического музея. Ателье И. Дьяговченко. 1876</p>
            <InfoOverlay contentType="slider" images={museumBuilding} overlayId="museum-building-slider" iconPosition="md:absolute relative bottom-[1vh]"/>
        </div>
    </Section>

    <!-- Alex III -->
    <Section id="alex-iii" contentHeight="h-auto" sectionSize="w-full h-[80vh] 2xl:h-[60vh]" sectionFlex="flex flex-col justify-center"> 
        <p class="text-base md:text-3xl 2xl:text-4xl leading-normal px-[5%]">
            27 мая 1883 года Российский Исторический музей принял почетных гостей – императора Александра III, императрицу Марию Фёдоровну, сопровождавшего их великого князя Сергея Александровича. 2 июня 1883 года, после водосвятного молебна музей, открыли для посещений.
        </p>
        <div class="mt-10 w-full flex flex-col justify-center items-center text-sm md:text-xl italic text-center gap-y-[1vh]">
            <p class="px-[10%] md:px-0">
                Из воспоминаний Прасковьи Сергеевны Уваровой. Часть 5
            </p>
            <audio controls class="w-full md:w-[50%] mx-auto">
                <source src={audios.audio5} type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
    </Section>

    <!-- Museum Photo -->
    <div 
    id="museum-photo-bg" 
    class="
        relative 
        top-0 
        left-0 
        w-full


        bg-[url('../data/biography/_images/museum/gim-photo.png')]
        bg-no-repeat
        bg-center

        h-screen
        bg-contain

        md:bg-cover
        md:h-[300vh]

        transition-opacity 
        duration-1000 
        opacity-0 
    "
    >
        <Section id="museum-photo" sectionSize="w-full h-screen md:h-[300vh]" sectionFlex="flex flex-col items-center justify-center" contentWidth="w-[75%] md:w-[50%] 2xl:w-[60%]" contentHeight="h-auto">
            <div class="flex flex-fol justify-center items-center">
                <p class="max-w-xl 2xl:max-w-2xl text-center text-sm md:text-2xl 2xl:text-3xl text-white">
                    Организация и деятельность МАО, создание Исторического музея позволяют утверждать, что благодаря А.С. Уварову в Москве сформировался второй, после Петербурга, археологический центр России.
                </p>
                
            </div>
        </Section>
    </div>

    <!-- Museum Halls Slider -->
    <Section id="museum-halls-slider" contentHeight="h-[65vh]" sectionSize="w-full h-screen" sectionFlex="flex flex-col justify-center">
        <div class="w-full flex flex-col items-center justify-between h-full">
            <p class="text-lg md:text-xl 2xl:text-3xl leading-normal text-center md:text-left px-[5%] md:px-0">
                За устройство Исторического музея А.С. Уварову был пожалован орден св. Анны I степени.
            </p>
            <div 
                class="w-full"
                x-data="{ init() {
                    new Splide(this.$refs.splide, {
                        perPage: 3,
                        perMove: 1,
                        pagination: false,
                        breakpoints: {
                            768: {
                                perPage: 1,
                            },
                        },
                    }).mount();
                },
            }">
                <section
                    class="splide"
                    aria-label="Library Slider"
                    x-ref="splide"
                    style="padding-left: 4rem; padding-right: 4rem;"
                    >
                    
                    <div class="hidden md:block splide__arrows">
                        <button class="splide__arrow splide__arrow--prev">
                            <img src={common.prevArrow.src} alt={common.prevArrow.alt}>
                        </button>
                        <button class="splide__arrow splide__arrow--next">
                            <img src={common.nextArrow.src} alt={common.nextArrow.alt}>
                        </button>
                    </div>

                    <div class="md:hidden splide__arrows">
                        <button class="splide__arrow splide__arrow--prev">
                            ←
                        </button>
                        <button class="splide__arrow splide__arrow--next">
                            →
                        </button>
                    </div>

                    <div class="splide__track">
                        <ul class="splide__list">
                            {museumAssets.hallsSlider.map((hallItem) => (
                                <li class="splide__slide flex flex-col justify-center items-center">
                                    <div class="md:max-w-[70%]">
                                        <img
                                            alt={hallItem.alt}
                                            src={hallItem.src}
                                            class="object-contain bottom-0 w-full h-full"
                                        />
                                    </div>
                                </li>
                            ))}
                        </ul>
                    </div>
                </section>
            </div>
            <InfoOverlay contentType="slider" images={museumHalls} overlayId="museum-halls-slider" iconPosition="absolute bottom-[2vh]"/>
        </div>
    </Section>

    <!-- Museum Text Conclusion -->
    <Section id="museum-text-conclusion" contentHeight="h-screen mb-[10vh]" sectionSize="w-full h-[130vh]" sectionFlex="flex flex-col items-center justify-center md:justify-end">
        <div class="flex flex-col justify-between text-sm md:text-xl 2xl:text-3xl leading-normal gap-y-[10vh] 4xl:gap-y-[5vh]">
            <p>
                Но граф считал необходимым совершенствовать и развивать его деятельность. Существующая служба по охране памятников не справлялась с огромным масштабом работ, и эту обязанность А.С. Уваров предложил передать Историческому музею.
            </p>
            <p>
                В университетах России все еще не велась подготовка археологов, специалистов, владеющих навыками работы с вещевым материалом, и Уваров предложил при музее организовать историко-археологические курсы.
            </p>
            <p>
                По мнению графа, Исторический музей должен стать «Московской Академией историко-археологических наук». К сожалению, грандиозный замысел ученого при его жизни не был воплощен.
            </p>
            <div class="w-full text-center pt-[10vh] relative flex flex-col gap-y-[5vh] 4xl:gap-y-[2vh] text-3xl">
                <p>следующая глава</p>
                
                <ScrollArrow 
                    position="0" 
                    invert="invert" 
                    visible="opacity-100" 
                    size="w-auto"
                    animated={false}
                    redirectUrl="/biography/epilogue"
                    />
            </div>
        </div>
    </Section>


</BioWrapper>

<script src="../../utils/sharedBgObserver.js"></script>
<script>
    // 6 BLOCKS --- GSAP
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    function animateSection(sectionId : string, textSelector : string, delay = 0) {
        const tl = gsap.timeline({
            scrollTrigger: {
                trigger: `#${sectionId}`,
                start: "top center",
                end: "bottom center",
                toggleActions: "play none none reverse",
                onEnter: () => {
                    tl.play();
                },
                onEnterBack: () => {
                    tl.play();
                }
            }
        });


        tl.fromTo(
            textSelector,
            { autoAlpha: 0},
            { autoAlpha: 1, duration: 1.2, ease: "power2.out", delay: delay }
        );
        
    }

    // animateSection("sources-area", "#sources");
    // animateSection("initiative-area", "#initiative");

    // animateSection("uvarov-1881-area", "#uvarov-1881");
    // animateSection("uvarov-self-area", "#uvarov-self");

    // animateSection("responsibilities-area", "#responsibilities");
    // animateSection("concept-area", "#concept");

    animateSection("museum-grid-left-area", "#museum-grid-left");
    animateSection("museum-grid-right-area", "#museum-grid-right");

</script>