---
import BioWrapper from "../../components/biography/BioWrapper.astro";
import HeaderWrapper from "../../components/global/header/HeaderWrapper.astro";
import Section from "../../components/global/Section.astro";
import Chapter from "../../components/biography/Chapter.astro";
import ScrollArrow from "../../components/global/ScrollArrow.astro";

import { common, museumAssets } from "../../data/data";
---

<style>
    .splide__arrow {
        background: transparent;
        width: auto;
    }

</style>

<BioWrapper>
    <!-- Chapter Intro -->
    <Chapter />

    <!-- Header -->
    <HeaderWrapper />

    <!-- Museum Image -->
    <Section id="museum-image" w="w-[1440px]" h="h-[800px]" extraClass="bg-[url('../data/biography/_images/museum/gim.png')] bg-center bg-contain bg-no-repeat">
        <div class="h-[350px] w-full flex flex-col justify-center items-end text-xl leading-normal px-[5%]">
            <p class="max-w-xl">
                Программа Общества, ориентированная на изучение преимущественно русской археологии, популяризацию археологических и исторических знаний, ставила целью пробудить интерес к прошлому России и отечественным древностям.
            </p>
        </div>
    </Section>

    <!-- Museum Text -->
    <Section id="museum-text">
        <div class="flex flex-col justify-center items-start text-3xl leading-normal px-[5%] gap-y-[10vh] 4xl:gap-y-[5vh]">
            <p>
                В 1873 году было образовано Управление музеем, Уваров назначен товарищем председателя Управления. Ему предстояло решать вопросы, касающиеся научной деятельности музея.
            </p>
            <p>
                Заявив свое лидерство, граф, по сути, стал «мозговым центром» в кругу устроителей. Он предложил в залах будущего музея представить целостную картину истории российского государства с древнейших времен до эпохи императора Александра II.
            </p>
        </div>
    </Section>

    <!-- Museum Grid -->
    <Section id="museum-grid" w="w-[1440px]" h="h-[1024px]" extraClass="bg-[url('../data/biography/_images/museum/gim-bg.png')] bg-center bg-contain bg-no-repeat">
        <div class="grid grid-rows-5 grid-cols-[25%,50%,25%] w-full h-full">

            <!-- Left Column (spans rows 2-4) -->
            <div class="row-start-2 row-end-5 col-start-1 col-end-2 flex flex-col justify-between">
                <p class="pt-[10vh]">
                    В 1881 году Уваров предложил программу комплектования фондов музея археологическими памятниками.
                </p>
                <p>
                    В соответствии с концепцией, предполагалось представить древнейший период истории Российского государства – от каменного века до Киевской Руси.
                </p>
            </div>

            <!-- Middle Column (spans rows 2-5) -->
            <div class="row-start-2 row-end-6 col-start-2 col-end-3 flex flex-col items-center justify-between text-center">
                <p class="max-w-xs -mt-[5vh]">
                    Источниками комплектования фонда археологических памятников явились университеты, археологические общества, музеи и частные лица.
                </p>
                <p>
                    В обязанности А.С. Уварова входило: наблюдение за строительством, за работами по оформлению интерьеров, создание экспозиции.
                </p>
            </div>

            <!-- Right Column (spans rows 2-4) -->
            <div class="row-start-2 row-end-5 col-start-3 col-end-4 flex flex-col justify-between text-right">
                <p class="pt-[10vh]">
                    По инициативе графа снаряжаются экспедиции в Гнездово, на Дон, Кубань и Кавказ. А одной из первых закупок музея в 1883 году стала коллекция античных памятников П.О. Бурачкова, состоящая из 1430 предметов. 
                </p>
                <p>
                    Сам Уваров подарил музею две коллекции каменных орудий из Волосова и Карачарова и коллекцию кавказской бронзы, с которой начался учет фондов Исторического музея.
                </p>
            </div>

        </div>
    </Section>

    <!-- Ustav -->
    <Section id="ustav">
        <div class="grid grid-cols-2 w-full">
            <div id="ustav-image" class="flex flex-col items-center justify-center min-w-[600px]">
                <img src={museumAssets.ustav.src} alt={museumAssets.ustav.alt} class="max-w-[500px] 2xl:max-w-[600px]"/>
            </div>
            <div class="flex flex-col justify-center items-center">
                <p class="max-w-3xl text-4xl leading-normal px-[11%]">
                    Уваров участвовал в разработке программы будущего музея и являлся автором первого Устава 1874 года.
                </p>
            </div>
        </div>
    </Section>

    <!-- Ustav Text -->
    <Section id="ustav-text" w="w-[1160px]">
        <div class="grid grid-cols-2 w-full text-3xl leading-normal">
            <div class="flex justify-center items-start">
                <p class="max-w-md">
                    Первая статья документа определила суть и смысл существования музея: 
                    <br>
                    <br>
                    <span class="italic">«Учрежденный в Москве Музей… имеет целию служить наглядною историею главных эпох русского государства и содействовать распространению сведений по отечественной истории».</span>
                </p>
            </div>
            <div class="flex justify-center items-start">
                <p class="max-w-md">
                    Вторая статья гласила:
                    <br>
                    <br>
                    <span class="italic">«В Музее собираются все памятники знаменательных событий отечественной истории. Эти памятники, – в подлинниках, копиях или слепках, – расположенные в хронологической последовательности, должны представлять … полную картину каждой эпохи…». </span>
                </p>
            </div>
        </div>
    </Section>

    <!-- Uvarov Resigned -->
    <Section id="resigned">
        <div class="flex flex-col justify-center text-4xl leading-normal px-[5%] gap-y-[10vh] 4xl:gap-y-[5vh]">
            <p>
                В 1878 году в связи с обострением существовавших разногласий среди устроителей по ряду принципиальных вопросов деятельности музея, Уваров ушел в отставку.
            </p>
            <p>
                В 1881 году император Александр III назначил графа Уварова Товарищем председателя музея (при Почетном председателе великом князе Сергее Александровиче), поручая ему открыть музей к коронационным торжествам 1883 года и составить проект нового Устава музея.
            </p>
        </div>
    </Section>

    <!-- Museum Building Slider -->
    <Section id="museum-building-slider" w="w-full 2xl:w-[1360px]">
        <div class="w-full">
            <div x-data="{ init() {
                    new Splide(this.$refs.splide, {
                        perPage: 1,
                        perMove: 1,
                        pagination: false,
                        breakpoints: {
                            640: {
                                perPage: 1,
                            },
                        },
                    }).mount();
                },
            }">
                <section
                    class="splide"
                    aria-label="Library Slider"
                    x-ref="splide"
                    style="padding-left: 4rem; padding-right: 4rem;"
                    >
                    
                    <div class="splide__arrows">
                        <button class="splide__arrow splide__arrow--prev">
                            <img src={common.prevArrow.src} alt={common.prevArrow.alt}>
                        </button>
                        <button class="splide__arrow splide__arrow--next">
                            <img src={common.nextArrow.src} alt={common.nextArrow.alt}>
                        </button>
                    </div>

                    <div class="splide__track">
                        <ul class="splide__list">
                            {museumAssets.buildingSlider.map((buildingItem) => (
                                <li class="splide__slide flex flex-col justify-center items-center">
                                    <div class="h-[500px] 2xl:h-[700px]">
                                        <img
                                            alt={buildingItem.alt}
                                            src={buildingItem.src}
                                            class="object-contain bottom-0 w-full h-full"
                                        />
                                    </div>
                                </li>
                            ))}
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </Section>

    <!-- Alex III -->
    <Section id="alex-iii">
        <div class="flex flex-col justify-center text-4xl leading-normal px-[5%] gap-y-[10vh] 4xl:gap-y-[5vh]">
            <p>
                27 мая 1883 года Российский Исторический музей принял почетных гостей – императора Александра III, императрицу Марию Фёдоровну, сопровождавшего их великого князя Сергея Александровича. 2 июня 1883 года, после водосвятного молебна музей, открыли для посещений.
            </p>
            <p>
                За устройство Исторического музея А.С. Уварову был пожалован орден св. Анны I степени.
            </p>
        </div>
    </Section>

    <!-- Museum Photo -->
    <Section id="museum-photo" maxH="" w="w-[1440px]" h="h-[1024px]" extraClass="bg-[url('../data/biography/_images/museum/gim-photo.png')] bg-left bg-contain bg-no-repeat flex flex-col justify-center items-end">
        <div class="h-[550px] flex flex-col justify-start items-end text-xl leading-normal px-[5%]">
            <p class="max-w-md">
                Организация и деятельность МАО, создание Исторического музея позволяют утверждать, что благодаря А.С. Уварову в Москве сформировался второй, после Петербурга, археологический центр России.
            </p>
        </div>
    </Section>

    <!-- Museum Halls Slider -->
    <Section id="museum-halls-slider"  extraClass="flex justify-center items-center">
        <div class="w-full">
            <div x-data="{ init() {
                    new Splide(this.$refs.splide, {
                        perPage: 1,
                        perMove: 1,
                        pagination: false,
                    }).mount();
                },
            }">
                <section
                    class="splide"
                    aria-label="Library Slider"
                    x-ref="splide"
                    style="padding-left: 4rem; padding-right: 4rem;"
                    >
                    
                    <div class="splide__arrows">
                        <button class="splide__arrow splide__arrow--prev">
                            <img src={common.prevArrow.src} alt={common.prevArrow.alt}>
                        </button>
                        <button class="splide__arrow splide__arrow--next">
                            <img src={common.nextArrow.src} alt={common.nextArrow.alt}>
                        </button>
                    </div>

                    <div class="splide__track">
                        <ul class="splide__list">
                            {museumAssets.halls.map((hall) => (
                                <li class="splide__slide flex flex-col justify-center items-center">
                                    <div class="h-[500px] 2xl:h-[700px]">
                                        <img
                                            alt={hall.alt}
                                            src={hall.src}
                                            class="object-contain bottom-0 w-full h-full"
                                        />
                                    </div>
                                </li>
                            ))}
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </Section>

    <!-- Museum Text Conclusion -->
    <Section id="museum-text-conclusion">
        <div class="flex flex-col justify-between text-3xl leading-normal gap-y-[10vh] 4xl:gap-y-[5vh]">
            <p>
                Но граф считал необходимым совершенствовать и развивать его деятельность. Существующая служба по охране памятников не справлялась с огромным масштабом работ, и эту обязанность А.С. Уваров предложил передать Историческому музею.
            </p>
            <p>
                В университетах России все еще не велась подготовка археологов, специалистов, владеющих навыками работы с вещевым материалом, и Уваров предложил при музее организовать историко-археологические курсы.
            </p>
            <p>
                По мнению графа, Исторический музей должен стать «Московской Академией историко-археологических наук». К сожалению, грандиозный замысел ученого при его жизни не был воплощен.
            </p>
            <div class="relative flex flex-col gap-y-[5vh] 4xl:gap-y-[2vh] text-3xl w-[22%]">
                <p>следующая глава</p>
                
                <ScrollArrow 
                    position="0" 
                    invert="invert" 
                    visible="opacity-100" 
                    size="w-auto"
                    animated={false}
                    redirectUrl="/biography/epilogue"
                    />
            </div>
        </div>
    </Section>


</BioWrapper>
