---
import BioWrapper from "../../components/biography/BioWrapper.astro";
import HeaderWrapper from "../../components/global/header/HeaderWrapper.astro";
import Section from "../../components/global/Section.astro";
import Chapter from "../../components/biography/Chapter.astro";
import ScrollArrow from "../../components/global/ScrollArrow.astro";

import { porechyeAssets } from "../../data/data";
---


<BioWrapper>
    <!-- Chapter Intro -->
    <Chapter />

    <!-- Header -->
    <HeaderWrapper />

    <!-- Razumovsky -->
    <Section id="razumovsky">
        <div class="grid grid-cols-2 gap-x-[10vh]">
            <div id="razumovsky-image" class="flex items-start justify-end">
                <img src={porechyeAssets.razumovsky.src} alt={porechyeAssets.razumovsky.alt} class="max-w-[65%]"/>
            </div>
            <div class="flex flex-col justify-between items-start text-left h-[50%]">
                <p class="max-w-md text-2xl 2xl:text-4xl 2xl:max-w-xl">
                    Поречье Можайского уезда Московской губернии – любимая усадьба семьи Уваровых.
                </p>
                <p class="max-w-sm text-sm 2xl:text-lg 2xl:max-w-md">
                    В 1742 г. земли были подарены императрицей Елизаветой Петровной графу А.Г. Разумовскому.
                </p>
                <p class="max-w-sm text-sm 2xl:text-lg 2xl:max-w-lg">
                    Формирование архитектурного ансамбля и парка начато при графе А.К. Разумовском (1756–1818).
                </p>
            </div>

        </div>
    </Section>
    
    <!-- Library BG -->
    <div id="library-bg" class="fixed top-0 left-0 w-full h-screen bg-[url('../data/biography/_images/junost/library.png')] bg-center bg-cover bg-no-repeat transition-opacity duration-1000 opacity-0"></div>

    <!-- Porechye History -->
    <Section id="porechye-history"  contentHeight="h-auto" sectionSize="w-full h-[90vh]" sectionFlex="flex flex-col justify-center">
        <div class="flex flex-col justify-center items-start gap-y-[10vh] 4xl:gap-y-[5vh] text-2xl 2xl:text-4xl leading-normal 2xl:leading-normal">
            <p>
                В 1820 г. ее наследовали племянница графа Е.А. Разумовская и ее муж граф С.С. Уваров.
            </p>
            <p>
                В начале 1830-х гг. Поречье, пострадавшее во время Отечественной войны 1812 года, перестраивалось по проекту архитектора Д.И. Жилярди.
            </p>
            <p>
                Граф С.С. Уваров основал здесь Порецкий музеум, в котором размещались античная и западноевропейская коллекции, библиотека.
            </p>
        </div>
    </Section>

    <!-- Porechye History 2 -->
    <Section id="porechye-history-2" contentHeight="h-auto" sectionFlex="flex flex-col justify-center">
        <p class="text-3xl 2xl:text-5xl leading-normal 2xl:leading-normal px-[5%]">
            В конце 1860-х – начале 1870-х гг. по указаниям нового хозяина усадьбы графа Алексея Уварова весь архитектурный ансамбль и усадебный парк реконструированы. Для размещения коллекций Музея русских древностей дом был перестроен М.Н. Чичаговым и А.П. Поповым.
        </p>
    </Section>

    <!-- Porechye History 3 -->
    <Section id="porechye-history-3"  contentHeight="h-auto" sectionFlex="flex flex-col justify-center">
        <div class="flex flex-col justify-center items-start gap-y-[10vh] 4xl:gap-y-[5vh] text-2xl 2xl:text-4xl leading-normal 2xl:leading-normal">
            <p class="text-3xl 2xl:text-5xl">
                П.С. Уварова вспоминала о работе по устройству усадьбы:
            </p>
            <p class="italic">
                «Занимали немало мужа и заботы о перестройке большого дома, которому хотелось придать более изящный вид итальянского дворца с балконами и террасами.
            </p>
            <p class="italic">
                Обратился он сперва к рекомендованному берлинскому архитектору, но он прислал такой сумасшедший план и заявил такие цены за труд, что мы от него отказались и решили обратиться к московскому молодому архитектору, который под руководством мужа вполне ответил на все наши пожелания и закончил перестройку в том виде, в котором он существует ныне».
            </p>
        </div>
    </Section>

    <!-- Porechye View -->
    <Section id="porechye-view" contentHeight="h-[200vh]" contentWidth="w-full" sectionSize="w-full h-[220vh]" sectionFlex="flex flex-col justify-center items-center">
        <div id="porechye-2" class="relative top-0 left-0 w-full h-[200vh] bg-[url('../data/biography/_images/porechye/porechye-2.png')] bg-center bg-cover bg-no-repeat transition-opacity duration-1000 opacity-0"></div>
    </Section>

    <!-- Porechye History 4 -->
    <Section id="porechye-history-4"  contentHeight="h-auto" sectionFlex="flex flex-col justify-center">
        <div class="flex flex-col justify-center items-start gap-y-[10vh] 4xl:gap-y-[5vh] text-xl 2xl:text-2xl leading-normal 2xl:leading-normal">
            <p class="italic">
                «Все 19 окон малого размера, которые повторялись по продольным сторонам здания, были закрыты и заменены - со стороны сада шестью большими окнами с закругленным верхом и тремя значительными выступами, украшенными кариатидами из желтой обожженной глины, выписанными из Берлина; средний выступ, крупнее боковых, и служит выходом в сад двумя лестницами, по сторонам которых расположены мраморные кентавры с амурами, принадлежащие еще графу Разумовскому.
            </p>
            <p class="italic">
                Верхний этаж служит продолжением нижнего с той разницей, что все три нижние выступа заканчиваются просторными балконами в сад. Со стороны двора окон больших 8 и широкая выходная дверь под обширным подъездом во двор. Боковые фасады имеют такие же большие окна; во втором же этаже обширный балкон над подъездом и две двери на балкон над аркадами, расположенными вдоль всей правой стороны дома. Аркады эти заканчиваются в нижнем этаже крытой галереей, соединяющей большой дом с нашим флигелем».
            </p>
        </div>
    </Section>

    <!-- Porechye Interior 1 -->
    <Section id="porechye-interior-1" contentHeight="h-auto" extraClass="my-[20vh]" sectionFlex="flex flex-col justify-center" sectionSize="w-[95%] h-screen mx-auto my-[10vh]">
        <div class="grid grid-cols-2 max-w-full">
            <div id="porechye-interior-image" class="flex items-start justify-start">
                <img src={porechyeAssets.porechyeInterior1.src} alt={porechyeAssets.porechyeInterior1.alt} class="max-w-[60%]"/>
            </div>
            <div class="flex flex-col justify-center items-start italic">
                <p class="text-xl 2xl:text-3xl">
                    «Внутри дома обширная прихожая с широкою двухстороннею лестницей наверх, расписанною в помпеянском стиле, с двумя мраморными рельефными изображениями работы Торвальдсена, малая прихожая, буфет, огромная столовая с фамильными портретами, бильярдная, влево кабинет мужа с витой лестницей в музей, вправо большая гостиная с зеленой бархатною мебелью и картинами, огромною малахитовою вазою (подарок Императора Николая I моему свекру) и большим великолепным мраморным бюстом графа Кирилла Разумовского над камином, украшенным его девизом «Famam extendere factis», то есть - «Славу распространять делами»».
                </p>
            </div>
        </div>
    </Section>

    <!-- Porechye Interior 2 -->
    <Section id="porechye-interior-2" contentHeight="h-auto" sectionFlex="flex flex-col justify-center " sectionSize="w-[95%] h-screen mx-auto my-[10vh]">
        <div class="grid grid-cols-2 max-w-full">
            <div id="porechye-interior-image" class="flex items-start justify-start">
                <img src={porechyeAssets.porechyeInterior2.src} alt={porechyeAssets.porechyeInterior2.alt} class="max-w-[60%]"/>
            </div>
            <div class="flex flex-col justify-center items-start italic gap-y-[5vh]">
                <p class="text-base 2xl:text-xl">
                    «Дальше моя маленькая гостиная (с лестницей наверх к дочерям) с расписным темным потолком и мебелью из мореного резного дуба, большая часть которой вывезена нами из Венеции, мой кабинет с китайскими шкапами и остальною мебелью из розового дерева, частью принадлежавшая моей свекрови и частью заказанная мужем для нашей свадьбы; наша спальня, шкапная и две комнаты, - туалетная мужа с выходом на террасу и внутренним широким мозаичным коридором.
                </p>
                <p class="text-base 2xl:text-xl">
                    В верхнем этаже три комнаты дочерей и гувернантки (сыновья занимали комнаты в флигеле, так как в большом доме, несмотря на его громадные размеры, не хватало более жилых помещений), комната для прислуги и брант-моер, отделяющий от жилого помещения залы музея, библиотеку, рукописную, расположенную в бывшем кабинете свекра».
                </p>
            </div>
        </div>
    </Section>
    
    <!-- Porechye People 1 -->
    <Section id="porechye-people-1" contentHeight="h-[200vh]" contentWidth="w-full" sectionSize="w-full h-[200vh]" sectionFlex="flex flex-col justify-center items-center">
        <div id="porechye-people-1-image" class="relative top-0 left-0 w-full h-[200vh] bg-[url('../data/biography/_images/porechye/porechye-people-1.png')] bg-center bg-cover bg-no-repeat transition-opacity duration-1000 opacity-0"></div>
    </Section>

    <!-- Porechye People 2 -->
    <Section id="porechye-people-2" contentHeight="h-[200vh]" contentWidth="w-full" sectionSize="w-full h-[200vh]" sectionFlex="flex flex-col justify-center items-center">
        <div id="porechye-people-2-image" class="relative top-0 left-0 w-full h-[200vh] bg-[url('../data/biography/_images/porechye/porechye-people-2.png')] bg-center bg-cover bg-no-repeat transition-opacity duration-1000 opacity-0"></div>
    </Section>

    <!-- Porechye History 5 -->
    <Section id="porechye-history-5"  contentHeight="h-auto" sectionSize="w-full h-[80vh] 2xl:h-[60vh]" sectionFlex="flex flex-col justify-center">
        <div class="flex flex-col justify-center items-start gap-y-[10vh] 4xl:gap-y-[5vh] text-xl 2xl:text-3xl leading-normal 2xl:leading-normal px-[3%]">
            <p class="italic">
                «В верхнем этаже несколько комнат с видом на сад и далекую даль, кладовые и запасная библиотека с изданиями мужа.
                <br>
                Со стороны сада устроена пред домом широкая терраса - с чугунной решеткой, мраморными вазами на столбах и обсаженная по всей длине штамбовыми розами; вторая терраса, меньших размеров, более уютная, отделенная от первой каменною стенкою и верандой, обвитой вьющимися растениями, засаженная штамбовыми розами и фуксиями,и с бьющим фонтаном посреди, соединяла большой  дом с флигелем и имела входные двери в мой кабинет и туалетную мужа».
            </p>
        </div>
    </Section>

    <!-- Porechye View 2 -->
    <Section id="porechye-view-2" contentHeight="h-[200vh]" contentWidth="w-full" sectionSize="w-full h-[210vh]" sectionFlex="flex flex-col justify-center items-center">
        <div id="porechye-3" class="relative top-0 left-0 w-full h-[200vh] bg-[url('../data/biography/_images/porechye/porechye-3.png')] bg-center bg-cover bg-no-repeat transition-opacity duration-1000 opacity-0"></div>
    </Section>

    <!-- Porechye History 6 -->
    <Section id="porechye-history-6" contentHeight="h-auto" sectionFlex="flex flex-col justify-center">
        <div class="flex flex-col justify-center items-start gap-y-[10vh] 4xl:gap-y-[5vh] text-xl 2xl:text-2xl leading-normal 2xl:leading-normal">
            <p class="italic">
                «Мучаясь над перестройкой и окончанием дома, надо было думать и об устройстве и разборке Музея русских древностей, которые, упакованные в Петербурге после нашей свадьбы, не могли быть до сих пор открыты за неимением для них приличного помещения. Музей в Петербурге не имел особой нумерации, и потому разбирать и назначать приблизительное размещение должен был непременно муж, и только впоследствии, когда главное было разобрано и предметы рассортированы, могла и я с детьми ему помочь, нумеруя, наклеивая и прибивая в витринах и столах.
            </p>
            <p class="italic">
                Но так как коллекции за время их нахождения под спудом увеличились приокскими каменными орудиями и бронзовыми предметами, все чаще и чаще получаемыми с Кавказа, то стал чувствоваться сильный недостаток в витринах, которые были привезены из Петербурга и которых не хватало для новоприобретаемых предметов. Ввиду того, что на заказ их в Москве потребовалось бы много времени, что пугало мужа, решено было соорудить их в столярной нашей школы, где к тому времени образовалось очень хорошее столярное отделение, во главе которого находился местный крестьянин-мастер, учившийся в Москве и успевший пристрастить детей к работе и заставить их работать производительно.
            </p>
        </div>
    </Section>

    <!-- Porechye History 7 -->
    <Section id="porechye-history-7" contentHeight="h-auto" sectionFlex="flex flex-col justify-center">
        <div class="flex flex-col justify-center items-start gap-y-[10vh] 4xl:gap-y-[5vh] text-xl 2xl:text-2xl leading-normal 2xl:leading-normal">
            <p class="italic">
                Петербургские витрины и шкапы были размещены в главной зале музея и заняты предметами каменного века, бронзовыми издельями, мерянскими древностями, иконами, крестами, древними сосудами; витрины же и шкапы школьного дела заняли вторую залу и наполнились финифтью, стеклом, предметами домашнего и туалетного обихода, оружием и слепками с византийских костяных рельефов, украшавших древние Евангелия, ларцы и пр.
            </p>
            <p class="italic">
                Впоследствии, когда собрания наши обогатились значительными раскопками, произведенными мною после кончины мужа на Кавказе, то пришлось еще заказать три большие круглые вертящиеся витрины, которые помещены в большой библиотеке, при входе в музей».
            </p>
        </div>
    </Section>

    <!-- Porechye View 3 -->
    <div 
    id="porechye-4"
    class="
        relative 
        top-0 
        left-0 
        w-full
        h-[150vh]

        bg-[url('../data/biography/_images/porechye/porechye-4.png')]
        bg-cover 
        bg-no-repeat
        bg-center

        transition-opacity 
        duration-1000 
        opacity-0 
    "
    >
        <Section id="porechye-view-3" sectionSize="w-full h-[150vh]" sectionFlex="flex flex-col justify-center" contentHeight="h-auto">
            <div class="h-full flex flex-col justify-center items-center text-white gap-y-[5vh] pt-[10vh]">
                <p class="text-4xl leading-normal max-w-5xl 2xl:max-w-[90%] 2xl:text-5xl 2xl:leading-normal">
                    В годы Великой Отечественной войны старинная усадьба была сильно разрушена. 
                </p>
                <p class="text-4xl leading-normal max-w-5xl 2xl:max-w-[90%] 2xl:text-5xl 2xl:leading-normal">
                    В 1970-е годы шли работы по ее реставрации по проекту архитектора-реставратора Н.П. Яворовской, заново открывшей уникальный памятник усадебной культуры.
                </p>
            </div>
        </Section>
    </div>

    <!-- Porechye History 8 -->
    <Section id="porechye-history-2" contentHeight="h-auto" sectionFlex="flex flex-col justify-center">
        <div class="flex flex-col justify-center gap-y-[5vh]"> 
            <p class="text-4xl 2xl:text-6xl leading-normal 2xl:leading-normal px-[5%]">
                В настоящее время на территории усадьбы Поречье расположен ведомственный санаторий Службы внешней разведки РФ.
            </p>
            <div class="w-full text-center pt-[10vh] relative flex flex-col gap-y-[5vh] 4xl:gap-y-[2vh] text-3xl">
                <p>следующая глава</p>
                <ScrollArrow 
                    position="0" 
                    invert="invert" 
                    visible="opacity-100" 
                    size="w-auto"
                    animated={false}
                    redirectUrl="/biography/family"
                    />
            </div>
        </div>
    </Section>



</BioWrapper>

<script src="../../utils/sharedBgObserver.js"></script>