---
import BioWrapper from "../../components/biography/BioWrapper.astro";
import HeaderWrapper from "../../components/global/header/HeaderWrapper.astro";
import Section from "../../components/global/Section.astro";
import Chapter from "../../components/biography/Chapter.astro";
import ScrollArrow from "../../components/global/ScrollArrow.astro";

import { praskovyaAssets } from "../../data/data";
---


<BioWrapper>
    <!-- Chapter Intro -->
    <Chapter />

    <!-- Header -->
    <HeaderWrapper />

    <!-- Uvarova Portrait -->
    <Section id="uvarova-portrait" contentWidth="w-[85%]" sectionSize="w-full h-[120vh] md:h-screen" contentHeight="h-auto md:h-[87vh]">
        <div class="hidden md:grid grid-cols-2 gap-x-[5vh]">
            <div id="uvarova-portrait-image" class="flex flex-col items-start w-full">
                <img src={praskovyaAssets.praskovyaPortrait.src} alt={praskovyaAssets.praskovyaPortrait.alt} class="max-w-[65%]"/>
            </div>
            <div class="flex flex-col justify-center items-start max-w-[90%] gap-y-[5vh] text-base 2xl:text-2xl">
                <p>
                    Имя Прасковьи Сергеевны Уваровой прочно вошло в историю русской науки и культуры.
                </p>
                <p>
                    Общественный деятель, археолог, председатель Московского археологического общества, почетный член Петербургской Академии Наук, целого ряда университетов, историко-археологических обществ России и Европы, автор почти 200 работ по археологии — достижениям этой незаурядной женщины позавидовал бы иной титулованный ученый муж, а ведь речь идет о конце XIX столетия!
                </p>
            </div>
        </div>

        <div class="md:hidden flex flex-col justify-center items-center text-center gap-y-[8vh] text-sm 2xl:text-2xl">
            <p>
                Имя Прасковьи Сергеевны Уваровой прочно вошло в историю русской науки и культуры.
            </p>
            <p>
                Общественный деятель, археолог, председатель Московского археологического общества, почетный член Петербургской Академии Наук, целого ряда университетов, историко-археологических обществ России и Европы, автор почти 200 работ по археологии — достижениям этой незаурядной женщины позавидовал бы иной титулованный ученый муж, а ведь речь идет о конце XIX столетия!
            </p>
            <img src={praskovyaAssets.praskovyaPortrait.src} alt={praskovyaAssets.praskovyaPortrait.alt}/>
        </div>
    </Section>

    <!-- Uvarova Bio -->
    <Section id="uvarova-bio" contentHeight="h-auto" sectionFlex="flex flex-col justify-center">
        <p class="text-lg md:text-3xl 2xl:text-5xl leading-normal 2xl:leading-normal px-[5%]">
            Княжна Прасковья Сергеевна Щербатова родилась 9 апреля (28 марта) 1840 года в селе Бобрик Лебединского уезда Харьковской губернии. Её отец Сергей Александрович принадлежал к известному роду князей Щербатовых, а мать Прасковья Борисовна к князьям Святополк-Четвертинским.
        </p>
    </Section>

    <!-- Uvarova Bio 2 -->
    <Section id="uvarova-bio-2" contentWidth="w-[85%]" sectionSize="w-full h-[140vh] md:h-screen" contentHeight="h-auto md:h-[87vh]">
        <div class="hidden md:grid grid-cols-2 h-full">
            <div id="uvarov-portrait-image" class="flex flex-col items-start w-full">
                <img src={praskovyaAssets.praskovyaUvarovPortrait.src} alt={praskovyaAssets.praskovyaUvarovPortrait.alt} class="max-w-[60%]"/>
            </div>
            <div class="flex flex-col justify-between items-start max-h-[85%] max-w-[95%]">
                <p class="text-base 2xl:text-2xl">
                    Детство юной княжны прошло в усадьбе её отца в Тернах. Прасковья получила только домашнее образование, однако оно было блестящим. 
                </p>
                <p class="text-base 2xl:text-2xl">
                    Её обучением занимались такие выдающиеся личности как академик Ф. И. Буслаев, основатель лингвистической русистики; пианист-виртуоз Н. Г. Рубинштейн; А. К. Саврасов — знаменитый пейзажист и основатель Товарищества передвижников.
                </p>
                <p class="text-base 2xl:text-2xl">
                    В возрасте двенадцати лет княжна Щербатова вместе со всей семьёй переехала в Москву, так как старшему брату пришло время поступать на учёбу. Семейство поселилось в Мёртвом переулке (ныне Пречистенском).
                </p>
                <p class="text-base 2xl:text-2xl">
                    По счастливой случайности на той же улице зимой 1857 года поселился граф Алексей Уваров, назначенный помощником попечителя Московского учебного округа.
                </p>
            </div>
        </div>

        <div class="md:hidden flex flex-col justify-center items-center text-center gap-y-[8vh]">
            <div class="flex flex-col justify-between items-center text-sm text-center gap-y-[3vh]">
                <p>
                    Детство юной княжны прошло в усадьбе её отца в Тернах. Прасковья получила только домашнее образование, однако оно было блестящим. 
                </p>
                <p>
                    Её обучением занимались такие выдающиеся личности как академик Ф. И. Буслаев, основатель лингвистической русистики; пианист-виртуоз Н. Г. Рубинштейн; А. К. Саврасов — знаменитый пейзажист и основатель Товарищества передвижников.
                </p>
                <p>
                    В возрасте двенадцати лет княжна Щербатова вместе со всей семьёй переехала в Москву, так как старшему брату пришло время поступать на учёбу. Семейство поселилось в Мёртвом переулке (ныне Пречистенском).
                </p>
                <p>
                    По счастливой случайности на той же улице зимой 1857 года поселился граф Алексей Уваров, назначенный помощником попечителя Московского учебного округа.
                </p>
            </div>
            <img src={praskovyaAssets.praskovyaUvarovPortrait.src} alt={praskovyaAssets.praskovyaUvarovPortrait.alt}/>
        </div>
            
    </Section>

    <!-- Uvarova Bio 3 -->
    <Section id="uvarova-bio-3" contentHeight="h-auto" sectionSize="w-full h-[120vh] 2xl:h-screen" sectionFlex="flex flex-col justify-center">
        <div class="flex flex-col justify-center items-start gap-y-[10vh] 4xl:gap-y-[5vh] leading-normal 2xl:leading-normal">
            <p class="text-lg md:text-2xl 2xl:text-4xl leading-tight 2xl:leading-snug">
                Уваров жил в большом особняке графини Толстой, прямо напротив Щербатовых.  
            </p>
            <p class="text-lg md:text-2xl 2xl:text-4xl leading-tight 2xl:leading-snug">
                Позднее в мемуарах Прасковья Сергеевна вспоминала:
            </p>
            <p class="italic text-sm md:text-xl 2xl:text-3xl leading-tight 2xl:leading-snug">
                «...Граф мало кого знал, мало показывался. Но когда стал посещать балы и концерты, мало-помалу знакомиться с нами, молодежью, и оказывать мне внимание, то кумушки, в особенности мужская молодежь, заговорили и стали негодовать на приезжего петербуржца. Мне же, которая никогда не увлекалась зеленою молодежью и льстивыми ухаживаниями Льва Толстого, мне нравилась та ласковая осторожность, с которой подходил ко мне новоприезжий, которого, если он искал себе жену, пугали, вероятно, и моя молодость, и мое кажущееся увлечение балами и удовольствиями».
            </p>
        </div>
    </Section>

    <!-- Uvarova Bio 4 -->
    <Section id="uvarova-bio-4" contentHeight="h-auto" sectionSize="w-full h-[120vh] 2xl:h-screen" sectionFlex="flex flex-col justify-center">
        <div class="flex flex-col justify-center items-start gap-y-[10vh] 4xl:gap-y-[5vh]">
            <p class="text-lg md:text-2xl 2xl:text-4xl leading-tight 2xl:leading-snug">
                Взаимная симпатия ученого и юной девушки не ускользнула от внимания окружающих. Родители Прасковьи с большим уважением относились к графу Уварову, к тому моменту уже известному археологу и коллекционеру, и просили ее серьезно обдумать, готова ли она принять стиль жизни супруга на 15 лет старшее нее, и на всю жизнь посвятить себя ему.
            </p>
            <p class="text-lg md:text-2xl 2xl:text-4xl leading-tight 2xl:leading-snug">
                18-летняя княжна решительно отвечала, что граф нравится ей своей серьезностью, что она гордится оказанным предпочтением.
            </p>
            <p class="italic text-sm md:text-xl 2xl:text-3xl leading-tight 2xl:leading-snug">
                «Граф говорил, что он гораздо старше меня, не любит свет, занят наукой и боится, что его привычки и жизнь могут показаться трудными и скучными молодой девушке, как я. Я откровенно ответила, что его полюбила за то, что он серьёзнее других, что я обещаю быть ему не только хорошей женой, но, если он позволит, то и помощницей».
            </p>
        </div>
    </Section>

    <!-- Uvarova Bio 5 -->
    <Section id="uvarova-bio-5" contentHeight="h-auto" sectionSize="w-full h-[110vh] 2xl:h-screen" sectionFlex="flex flex-col justify-center">
        <div class="flex flex-col justify-center items-start gap-y-[10vh] 4xl:gap-y-[5vh] text-base md:text-2xl 2xl:text-4xl leading-tight 2xl:leading-snug">
            <p>
                Венчание состоялось 26 (14) января в домашней церкви на Садовой.
            </p>
            <p>
                После свадьбы молодожены совершили путешествие по Италии. Они побывали в Венеции, Неаполе и Генуе, на раскопках в Помпеях и Геркулануме. В Европе в семье родились и первые двое детей – сын Алексей и дочь Прасковья.
            </p>
            <p>
                На обратном пути графская чета посетила Париж, где произошло знакомство со знаменитым селекционером Жаком Жюльеном Марготтеном. Будучи под впечатлением от встречи с графиней, он назвал один из выведенных им сортов роз в честь Прасковьи Сергеевны — «Comtesse Ouwaroff», то есть «Графиня Уварова».
            </p>
        </div>
    </Section>

    <!-- Uvarova Bio 6 -->
    <Section id="uvarova-bio-6" contentHeight="h-auto" sectionSize="w-full h-[110vh] 2xl:h-screen" sectionFlex="flex flex-col justify-center">
        <div class="flex flex-col justify-center items-start gap-y-[10vh] 4xl:gap-y-[5vh] text-base md:text-2xl 2xl:text-4xl leading-tight 2xl:leading-snug">
            <p>
                Как и обещала, Прасковья Сергеевна стала не только примерной супругой и матерью, но и помощницей мужа. Молодая графиня активно занималась исследовательскими и археологическими работами, вела общественную и благотворительную деятельность. В том числе занималась устройством сельских школ и приютов, подготовкой учителей и разработкой учебных программ. 
            </p>
            <p>
                В родовом имении Уваровых в Поречье она помогала супругу в устройстве библиотеки и так называемого “музеума”. Помимо общественной и исследовательской работы, Прасковья Сергеевна, как настоящая хозяйка и мать, вела дом и занималась воспитанием шестерых детей.
            </p>
        </div>
    </Section>

    <!-- Uvarova Bio 7 -->
    <div 
    id="uvarova-bio-7"
    class="
        relative 
        top-0 
        left-0 
        w-full

        bg-[url('../data/biography/_images/praskovya/praskovya-living-room.png')]
        bg-cover 
        bg-no-repeat
        bg-center

        h-[70vh]

        md:h-[150vh]

        transition-opacity 
        duration-1000 
        opacity-0 
    "
    >
        <Section id="uvarova-bio-7-image" sectionSize="w-full h-[70vh] md:h-[150vh]" sectionFlex="flex flex-col justify-center" contentWidth="w-full" contentHeight="h-[60vh] md:h-[150vh]">
            <div class="h-full flex flex-col justify-center md:ml-[20vh] px-[5vh] md:px-0">
                <p class="text-sm md:text-xl 2xl:text-4xl max-w-2xl 2xl:max-w-5xl h-[80vh] italic leading-tight 2xl:leading-snug">
                    «... Рядом с этой общественной жизнью у нас была и своя частная домашняя жизнь, которая брала и требовала также сил и умственного и даже сердечного напряжения, и надо было только удивляться, как поспевал на все муж, как у него хватало времени и на нас, и на науку, и на продолжение собирания коллекций, и на работы и поездки по именьям, и на друзей, посещавших нас не редко, и моих родных, проводящих с моими братьями и сестрами лето в Поречье...».
                </p>
            </div>
        </Section>
    </div>

    <!-- Uvarova Working -->
    <Section id="uvarova-working" contentWidth="w-[85%]" sectionSize="w-full h-[140vh] md:h-screen" contentHeight="h-auto md:h-[87vh]" sectionFlex="flex flex-col justify-center md:justify-end">
        <div class="hidden md:grid grid-cols-2 gap-x-[5vh]">
            <div id="uvarova-working-image" class="flex flex-col items-start w-full">
                <img src={praskovyaAssets.praskovyaWorking.src} alt={praskovyaAssets.praskovyaWorking.alt} class="max-w-[65%]"/>
            </div>
            <div class="flex flex-col justify-center items-start gap-y-[5vh] text-sm 2xl:text-2xl">
                <p>
                    Прасковья Сергеевна участвовала в деятельности Московского археологического общества, которое она возглавила после смерти Алексея Сергеевича. Графиня также была редактором изданий археологического съезда, публиковала каталог коллекции древностей почившего супруга. Графиня была автором немалого количества научных трудов: 
                </p>
                <p class="italic">
                    «О защите памятников живой старины», «Архитектурные памятники Юго-Западного края», «Кавказ. Путевые заметки», «Могильники Северного Кавказа» 
                </p>
                <p>
                    и многие другие работы.
                </p>
            </div>
        </div>

        <div class="md:hidden flex flex-col justify-center items-center text-center gap-y-[8vh]">
            <div class="flex flex-col justify-center items-center gap-y-[5vh] text-sm 2xl:text-2xl">
                <p>
                    Прасковья Сергеевна участвовала в деятельности Московского археологического общества, которое она возглавила после смерти Алексея Сергеевича. Графиня также была редактором изданий археологического съезда, публиковала каталог коллекции древностей почившего супруга. Графиня была автором немалого количества научных трудов: 
                </p>
                <p class="italic">
                    «О защите памятников живой старины», «Архитектурные памятники Юго-Западного края», «Кавказ. Путевые заметки», «Могильники Северного Кавказа» 
                </p>
                <p>
                    и многие другие работы.
                </p>
            </div>
            <img src={praskovyaAssets.praskovyaWorking.src} alt={praskovyaAssets.praskovyaWorking.alt} />
        </div>
    </Section>

    <!-- Praskovya Scientists 1 -->
    <div 
    id="praskovya-scientists-1"
    class="
        relative 
        top-0 
        left-0 
        w-full

        bg-[url('../data/biography/_images/praskovya/praskovya-scientists-1.png')]
        bg-cover 
        bg-no-repeat
        bg-center

        h-[80vh]

        md:h-[150vh]
        md:mt-[10vh]


        transition-opacity 
        duration-1000 
        opacity-0 
    "
    >
        <Section id="praskovya-scientists-1-image" sectionSize="w-full h-[80vh] md:h-[150vh]" sectionFlex="flex flex-col justify-end" contentHeight="h-auto">
            <div class="h-full flex flex-col justify-center items-center text-white gap-y-[5vh] pb-[8vh] md:pb-[15vh] text-base md:text-3xl leading-normal max-w-5xl 2xl:max-w-[90%] 2xl:text-4xl 2xl:leading-normal">
                <p>
                    В 1895 году она стала почетным членом Императорской академии наук, а в 1912 году — статс-дамой при императорском дворе.
                </p>
                <p>
                    К 1915 году только в изданиях Московского археологического общества было опубликовано около 200 статей графини.
                </p>
            </div>
        </Section>
    </div>

    <!-- Praskovya Scientists 2 -->
    <div 
    id="praskovya-scientists-2"
    class="
        relative 
        top-0 
        left-0 
        w-full

        bg-[url('../data/biography/_images/praskovya/praskovya-scientists-2.png')]
        bg-cover 
        bg-no-repeat
        bg-center

        h-[80vh]

        md:h-[150vh]

        transition-opacity 
        duration-1000 
        opacity-0 
    "
    >
        <Section id="praskovya-scientists-2-image" sectionSize="w-full h-[80vh] md:h-[150vh]" sectionFlex="flex flex-col justify-end" contentHeight="h-auto">
        </Section>
    </div>

    <!-- Uvarova Bio 8 -->
    <Section id="uvarova-bio-8" contentHeight="h-auto" sectionSize="w-full h-[105vh] 2xl:h-screen" sectionFlex="flex flex-col justify-center">
        <div class="flex flex-col justify-center items-start gap-y-[10vh] 4xl:gap-y-[5vh] px-[2%] text-base md:text-2xl 2xl:text-4xl leading-tight 2xl:leading-snug">
            <p>
                Как и обещала, Прасковья Сергеевна стала не только примерной супругой и матерью, но и помощницей мужа. Молодая графиня активно занималась исследовательскими и археологическими работами, вела общественную и благотворительную деятельность. В том числе занималась устройством сельских школ и приютов, подготовкой учителей и разработкой учебных программ. 
            </p>
            <p>
                В родовом имении Уваровых в Поречье она помогала супругу в устройстве библиотеки и так называемого “музеума”. Помимо общественной и исследовательской работы, Прасковья Сергеевна, как настоящая хозяйка и мать, вела дом и занималась воспитанием шестерых детей.
            </p>
        </div>
    </Section>

    <!-- Uvarova Ruins -->
    <Section id="uvarova-ruins" contentWidth="w-[85%]" sectionSize="w-full h-[120vh] md:h-[105vh] 2xl:h-screen" contentHeight="h-auto md:h-[87vh]">
        <div class="hidden md:grid grid-cols-5 gap-x-[5vh]">
            <div id="uvarova-ruins-image" class="col-span-3 flex flex-col items-start w-full">
                <img src={praskovyaAssets.praskovyaRuins.src} alt={praskovyaAssets.praskovyaRuins.alt} class="max-w-[60%] 2xl:max-w-[85%]"/>
            </div>
            <div class="col-span-2 flex flex-col justify-center items-start gap-y-[10vh]">
                <p class="text-base 2xl:text-2xl">
                    В 1917 году в дни Октябрьской революции по настоянию детей графиня покинула Москву и уехала на Кавказ.
                </p>
                <p class="text-base 2xl:text-2xl">
                    В Ессентуках она закончила свой большой труд «Описание грузинских Евангелий», над которыми работала почти 10 лет. Но работе этой не суждено было появиться в печати, она была утрачена в ходе испытаний, которые семья пережила на юге России перед вынужденной эмиграцией...
                </p>
            </div>
        </div>

        <div class="md:hidden flex flex-col justify-center items-center text-center gap-y-[8vh] text-sm 2xl:text-2xl">
            <p>
                В 1917 году в дни Октябрьской революции по настоянию детей графиня покинула Москву и уехала на Кавказ.
            <p>
                В Ессентуках она закончила свой большой труд «Описание грузинских Евангелий», над которыми работала почти 10 лет. Но работе этой не суждено было появиться в печати, она была утрачена в ходе испытаний, которые семья пережила на юге России перед вынужденной эмиграцией...
            </p>
            <img src={praskovyaAssets.praskovyaRuins.src} alt={praskovyaAssets.praskovyaRuins.alt}/>
        </div>
    </Section>

    <!-- Uvarova Serbia -->
    <Section id="uvarova-serbia" contentWidth="w-[85%]" sectionSize="w-full h-[120vh] md:h-[105vh] 2xl:h-screen" contentHeight="h-auto md:h-[87vh]">
        <div class="hidden md:grid grid-cols-2 gap-x-[5vh]">
            <div id="uvarova-serbia-image" class="flex flex-col items-start w-full">
                <img src={praskovyaAssets.praskovyaSerbia.src} alt={praskovyaAssets.praskovyaSerbia.alt} class="max-w-[70%]"/>
            </div>
            <div class="flex flex-col justify-center items-start gap-y-[2vh]">
                <p class="text-lg 2xl:text-2xl">
                    Последние свои годы графиня провела на Адриатике, пользуясь гостеприимством сербов и поддержкой Министерства иностранных дел Чехословакии.
                </p>
                <p class="text-lg 2xl:text-2xl">
                    До самого последнего дня продолжала она работать в излюбленной ею области и писала историю Московского Археологического общества.
                </p>
            </div>
        </div>

        <div class="md:hidden flex flex-col justify-center items-center text-center gap-y-[8vh] text-sm 2xl:text-2xl">
            <p>
                Последние свои годы графиня провела на Адриатике, пользуясь гостеприимством сербов и поддержкой Министерства иностранных дел Чехословакии.
            <p>
                До самого последнего дня продолжала она работать в излюбленной ею области и писала историю Московского Археологического общества.
            </p>
            <img src={praskovyaAssets.praskovyaSerbia.src} alt={praskovyaAssets.praskovyaSerbia.alt}/>
        </div>
    </Section>

    <!-- Uvarova Final -->
    <Section id="uvarova-final" contentWidth="w-[85%] mb-[5vh]" sectionSize="w-full h-[150vh] md:h-screen" contentHeight="h-auto md:h-[87vh]">
        <div class="hidden md:grid grid-cols-2 gap-x-[5vh]">
            <div id="uvarova-serbia-image" class="flex flex-col items-start w-full">
                <img src={praskovyaAssets.praskovyaFinal.src} alt={praskovyaAssets.praskovyaFinal.alt} class="max-w-[75%]"/>
            </div>
            <div class="flex flex-col justify-between items-start text-lg 2xl:text-2xl">
                <p>
                    Глубоко верующая, она жила надеждой на возрождение Отечества. Жила она, окруженная своими детьми, внуками и правнуками.
                </p>
                <p>
                    Скончалась графиня П.С. Уварова 30 июня 1924 года в Словении, в посаде Добрна при Цельи.
                </p>
                <p>
                    В могилу, согласно пожеланию покойной, была положена горсть родной земли, которую она привезла с собой из России.
                </p>
                <div class="text-center relative flex flex-col gap-y-[5vh] 4xl:gap-y-[2vh] text-3xl 2xl:pt-[10vh] w-full">
                    <p>следующая глава</p>
                    <ScrollArrow 
                        position="0" 
                        invert="invert" 
                        visible="opacity-100" 
                        size="w-auto"
                        animated={false}
                        redirectUrl="/biography/activities"
                        />
                </div>
            </div>
        </div>

        <div class="md:hidden flex flex-col justify-center items-center text-center gap-y-[8vh] text-sm 2xl:text-2xl">
            <p>
                Глубоко верующая, она жила надеждой на возрождение Отечества. Жила она, окруженная своими детьми, внуками и правнуками.
            </p>
            <p>
                Скончалась графиня П.С. Уварова 30 июня 1924 года в Словении, в посаде Добрна при Цельи.
            </p>
            <p>
                В могилу, согласно пожеланию покойной, была положена горсть родной земли, которую она привезла с собой из России.
            </p>

            <img src={praskovyaAssets.praskovyaFinal.src} alt={praskovyaAssets.praskovyaFinal.alt}/>
            <div class="text-center relative flex flex-col gap-y-[5vh] 4xl:gap-y-[2vh] text-3xl 2xl:pt-[10vh] w-full">
                <p>следующая глава</p>
                <ScrollArrow 
                    position="0" 
                    invert="invert" 
                    visible="opacity-100" 
                    size="w-auto"
                    animated={false}
                    redirectUrl="/biography/activities"
                    />
            </div>
        </div>
    </Section>

</BioWrapper>

<script src="../../utils/sharedBgObserver.js"></script>