---
interface Props {
  position?: string;
  invert?: boolean;
  visible?: string;
  size?: string;
  animated?: boolean;
  hover?: boolean;
  next?: boolean;
  redirectUrl?: string;
  color?: string;
}

const {
  position = "fixed bottom-6 left-0",
  invert,
  visible,
  color = "text-black",
  size = "w-[5vw]",
  animated = true,
  hover = false,
  next = false,
  redirectUrl = "",
} = Astro.props;
---

<scroll-arrow
  id="scroll-arrow"
  aria-label="scroll-down-arrow"
  data-redirect-url={redirectUrl}
  class={`
    group
    ${position}
    ${visible}
    flex flex-col items-center justify-center z-150
    ${invert && "invert"}
    ${animated ? "animate-bounce" : ""}
  `}
>
  {
    next && (
      <span
        class={`pointer-events-none mb-2 whitespace-nowrap text-sm ${color} opacity-0 transition-opacity duration-300 group-hover:opacity-100`}
      >
        следующая глава
      </span>
    )
  }
  <div id="scroll-arrow-svg" class={color}>
    <svg
      width="92"
      height="66"
      viewBox="0 0 92 66"
      xmlns="http://www.w3.org/2000/svg"
      class={`
      ${size}
      fill-current 
      transition-colors duration-200
      ${hover ? "hover:fill-[#CDA26C] cursor-pointer" : ""}
    `}
    >
      <path
        d="M18.7074 13.9684C20.6491 13.9684 24.5326 13.4733 26.3726 11.988C26.7817 11.5914 26.4766 11.1949 25.9657 11.4929C23.92 12.7811 21.6709 13.2762 19.32 13.2762C15.9474 13.2762 10.6309 12.0866 10.6309 7.62831C10.6309 7.62831 10.6309 7.52973 10.6309 7.43116C12.0617 7.1332 13.3909 7.03462 14.3109 7.03462C23.1017 7.03462 30.8709 9.51018 38.2309 12.7811C31.3817 16.0497 24.2274 18.7246 16.2526 18.7246C10.4274 18.7246 2.14744 16.7442 2.14744 12.8796C2.14744 10.1061 5.52 8.51996 8.79085 7.72688C9.2 12.2859 14.6183 13.9684 18.7074 13.9684ZM0 12.4831C0 18.2295 10.8366 20.0128 17.48 20.0128C25.76 20.0128 33.8366 17.3379 41.1966 14.0692C42.6274 14.7615 43.9566 15.456 45.3874 16.0497C38.5383 19.7149 31.7909 23.1829 24.6366 24.5697C21.6709 22.7864 18.6057 21.7961 15.64 21.7961C14.2091 21.7961 12.4709 22.4906 12.4709 23.678C12.4709 25.7593 15.64 25.9564 18.4 25.9564C20.3417 25.9564 22.1817 25.7593 24.0217 25.5599C33.12 30.5155 41.9109 42.3041 45.7966 52.2287C44.6709 55.4974 44.16 58.4703 44.16 61.0466C44.16 64.5124 45.4891 66 46.7166 66C48.3509 66 48.9657 65.0075 48.9657 60.6501C48.9657 58.5688 48.3509 56.091 47.4309 53.3175C51.1109 43.2943 60.4149 30.6141 70.3291 25.4613C72.3749 25.7593 74.3166 25.9564 76.464 25.9564C79.224 25.9564 81.5749 25.7593 81.5749 23.678C81.5749 22.4906 79.9383 21.7961 78.5074 21.7961C75.1349 21.7961 71.9657 22.6878 68.7966 24.1731C62.2549 22.6878 55.6091 19.9143 48.9657 16.7442C50.7017 15.7517 52.44 14.7615 54.1783 13.8699C61.2309 16.9413 68.4891 19.3183 75.6457 19.3183C82.2891 19.3183 92 18.2295 92 12.4831C92 9.31304 88.1166 7.03462 83.2091 5.84501C81.6766 1.58615 74.624 0.495112 70.3291 0.495112C62.1509 0.495112 54.1783 4.55682 45.8983 8.9165C36.5966 4.45825 27.4983 0 18.8091 0C14.4126 0 9.91658 2.27841 8.99658 5.84501C3.98744 6.93605 0 9.21446 0 12.4831ZM70.3291 1.48534C74.9291 1.48534 79.6309 2.8721 81.2674 5.54705C79.3257 5.25132 77.384 5.05193 75.44 5.05193C67.4674 5.05193 59.9017 8.32281 52.5417 12.0866C51.3166 11.5914 50.0891 10.9978 48.9657 10.4018C54.5874 7.33035 65.1166 1.48534 70.3291 1.48534ZM73.9074 13.7713C78.0983 13.7713 83.4149 12.4831 83.4149 7.62831C83.4149 7.43116 83.4149 7.1332 83.4149 6.93605C86.6857 7.62831 89.7532 8.9165 89.7532 11.5914C89.7532 15.5546 81.3691 18.131 74.624 18.131C68.184 18.131 61.7417 16.0497 55.3017 13.2762C62.4583 9.51018 69.5109 6.4387 77.6891 6.4387C78.7109 6.4387 80.04 6.53951 81.5749 6.63809C81.5749 6.93605 81.6766 7.1332 81.6766 7.43116C81.6766 9.90672 77.9966 12.4831 72.784 12.4831C70.4309 12.4831 70.0217 12.2859 69.104 11.988C68.4892 11.7886 68.08 11.988 68.4892 12.3845C69.5109 13.1776 71.3509 13.7713 73.9074 13.7713ZM47.9417 17.3379C54.3817 20.4094 60.6183 23.3823 67.3657 24.8676C57.7566 30.1189 49.9874 41.3139 46.4091 50.9405C42.4217 41.809 34.4491 30.9098 25.9657 25.4613C34.2457 24.0745 41.2983 20.8059 47.9417 17.3379ZM45.6949 61.1452C45.6949 59.3619 46.1017 57.2806 46.8183 55.0022C47.4309 57.2806 47.84 59.3619 47.84 61.1452C47.84 64.2167 47.6366 65.0075 46.7166 65.0075C45.8983 65.0075 45.6949 63.4236 45.6949 61.1452ZM22.6926 24.8676C21.3657 25.0648 19.8309 25.2642 18.4 25.2642C15.4366 25.2642 14.5166 24.6682 14.5166 24.1731C14.5166 23.5794 15.1291 23.2815 16.0491 23.2815C18.1966 23.2815 20.4457 23.7766 22.6926 24.8676ZM42.32 13.5719C44.16 12.6802 46.1017 11.8894 47.84 10.9978C49.0674 11.5914 50.2949 12.0866 51.52 12.6802C49.7817 13.5719 48.0457 14.5644 46.3074 15.5546C44.9783 14.8601 43.6491 14.1678 42.32 13.5719ZM44.7749 9.51018C43.0366 10.4018 41.1966 11.2935 39.3566 12.1851C31.1783 8.42138 23.3074 5.25132 16.0491 5.25132C14.3109 5.25132 12.6766 5.3499 11.1417 5.54705C12.5726 2.97291 16.7657 1.48534 21.8766 1.48534C28.3166 1.48534 36.2891 5.44847 44.7749 9.51018ZM78.9166 23.0843C79.7349 23.0843 80.4492 23.3823 80.4492 23.976C80.4492 24.4711 79.5292 24.9662 76.5657 24.9662C75.0309 24.9662 73.4983 24.769 72.0674 24.5697C74.3166 23.678 76.6674 23.0843 78.9166 23.0843Z"
      ></path>
    </svg>
  </div>
</scroll-arrow>

<style>
  #scroll {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  #scroll.opacity-100 {
    opacity: 1;
  }
</style>

<script>
  class ScrollArrow extends HTMLElement {
    connectedCallback() {
      const redirectURL = this.dataset.redirectUrl || "";

      // Attach the click event listener directly to the custom element
      this.addEventListener("click", () => {
        if (redirectURL) {
          window.location.href = redirectURL;
        }
      });
    }
  }

  customElements.define("scroll-arrow", ScrollArrow);
</script>
