---

interface Props {
    id: string,
    sectionClass?: string,
    extraClass?: string,
    fixedWrapperClass?: string,
    maxW?: string,
    maxH?: string
};

const { 
    id, 
    extraClass = "",
    sectionClass = "section relative w-full min-h-screen",
    fixedWrapperClass = "fixed-wrapper fixed top-[137px] inset-x-0 mx-auto",
    // maxW = 'w-[90%]',
    maxW = 'w-[1920px]',
    maxH = 'h-[750px]'
} = Astro.props;

---

<section 
    id={id} class=`${sectionClass}`>
    <div class=
        {`
            ${maxW}
            ${maxH}
            ${fixedWrapperClass}
            ${extraClass}
            border-4 border-orange-500
        `}>
        <slot />
    </div>
</section>

<script>
    
    // SECTIONS OBSERVER
    const sections = document.querySelectorAll('.section');
    const sectionsObserver = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            const wrapper = entry.target.querySelector('.fixed-wrapper');
            if(wrapper) {
                if (entry.isIntersecting) {
                    wrapper.classList.add('show');

                } else {
                    wrapper.classList.remove('show');
                }
            }
        });
    }, { threshold: [0.5, 0.7] });

    sections.forEach((section) => sectionsObserver.observe(section));
</script>

<style is:global>

    .fixed-wrapper {
        opacity: 0;
        z-index: 0;
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    .show {
        opacity: 1;
        z-index: 10;
    }
</style>